﻿
@using DataMarketFE.ViewModels;
@model MetricOverviewViewModel

@{
    ViewData["Title"] = "Data Set - " + Model.Title;
    ViewData["Description"] = "Dataset:" + Model.Title;
}

<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=plibn2m4qefwhcjlki6imjfnoqb4hzxnpcxbbfosqbmlczh1"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59988b8157919a34"></script> 

<script type="text/javascript">
    var addthis_share = addthis_share || {}
    addthis_share = {
        url_transforms: {
            shorten: {
                twitter: 'bitly'
            }
        },
        shorteners: {
            bitly: {}
        },
        passthrough: {
            twitter: {
                via: "DataCircle_IO",
                text: "@Model.Title",
                hashtags: "dataset"
            }
        }
    }
</script>

@if (ViewBag.LoggedIn != null && ViewBag.LoggedIn == true) { 
    @Html.Partial("~/Views/Metric/MetricTransfer.cshtml")
    @Html.Partial("Order")
}
else
{
    @Html.Partial("GrabLinkPrompt")
}

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
        <div class="columns is-mobile is-multiline">
            <div class="column is-10">
                <h1 class="title">
                    <b>DataSet: </b>@Model.Title        
                </h1>
            </div>
            <div class="column is-narrow is-right">
                @Html.Partial("_Rating", @Model.Rating)
            </div>
            <div class="column is-12">
                <h2 class="subtitle">
                    @Model.GetFullName() on @Model.CreatedAt.ToString("dd-MMM-yyyy")
                </h2>
            </div>
        </div>
    </div>
  </div>
</section>

    <div class="container">
        <div class="columns box is-multiline">
            <div class="column is-12">
                <div class="tabs is-centered">
                    <ul>
                        <li class="is-active" id="descriptionTab"><a>Description</a></li>
                        @if (Model.Structure != null && Model.Structure != String.Empty)
                        {
                            <li id="structureTab"><a>Data Structure</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div id="descriptionPanel" class="column is-10 is-offset-1">
                @if (Model.Description == null || Model.Description.Length == 0)
                {
                    <label>No Description available.</label>
                }
                else
                {
                    @Html.Raw(@Model.Description)
                    <br />
                    <div class="hidden">
                        @Html.Raw(Enum.GetName(typeof(DataMarketFE.ViewModels.Type), (int)Model.DatasourceType) == "Airtable")
                        @Html.Raw(Model.DatasourceType)
                    </div>
                    
                    if (Enum.GetName(typeof(DataMarketFE.ViewModels.Type), (int)Model.DatasourceType) == "Airtable") {
                        var arr = @Model.Url.Split('/');
                        var a = arr[arr.Length-1];
                        if (a.Length == 0) {
                            a = arr[arr.Length-2];
                        }

                        <iframe class="airtable-embed" src="https://airtable.com/embed/@a/?backgroundColor=transparent" 
                        frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;">
                        </iframe>
                    }
                }
            </div>
            <div id="structurePanel" class="hidden column is-10 is-offset-1">
                @Html.Partial("Partials/Structure", @Model.Structure)
            </div>

            <div class="column is-12 has-text-centered @(Enum.GetName(typeof(DataMarketFE.ViewModels.Type), (int)Model.DatasourceType) == "Airtable" ? "hidden" : "")">               
                        <div class="">
                            @if (ViewBag.LoggedIn == null || ViewBag.LoggedIn != true)
                            {
                                if (Model.Cost > 0)
                                {
                                    <a href="#" onclick="location.href = '/login?ReturnUrl=' + encodeURIComponent(window.location.pathname)"
                                    class="button is-medium is-success is-outlined">
                                    <span data-val="1"> @Model.Cost </span> <span class="icon is-small"> <i class="fa fa-eur"></i> </span>
                                    </a>
                                }
                                else if (Enum.GetName(typeof(DataMarketFE.ViewModels.Type), (int)Model.DatasourceType) == "Link") 
                                {

                                    <a href="@Model.Url" id="revealUrlBtn" target="_blank"
                                        class="button is-medium is-success is-outlined">
                                        <span data-val="2"> Grab Link </span> <span class="icon is-small"> <i class="fa  fa-external-link"></i> </span>
                                    </a>
                                    <script>
                                        $('#revealUrlBtn').on('click', function () {
                                            woopra.track("grabLink", {
                                                url: window.location.pathname,
                                                value: "@Model.Url"
                                            });
                                        })
                                    </script>
                                    <div>
                                        <br />  
                                        <p class="has-text-weight-light">During the holidays 🎅🏻, we want everyone to be able to grab links without any restrictions.</p>
                                        <p class="has-text-weight-light">We want to keep this forever so please <strong>share</strong> bellow to help us! 😁</p>
                                        <br />
                                        <div class="addthis_inline_share_toolbox"></div>
                                    </div>                 
                                }
                                else if (Enum.GetName(typeof(DataMarketFE.ViewModels.Type), (int)Model.DatasourceType) == "Airtable") 
                                {
            
                                }
                                else
                                {
                                    <a href="#" onclick="location.href = '/login?ReturnUrl=' + encodeURIComponent(window.location.pathname)"
                                    class="button is-medium is-success is-outlined">
                                    <span data-val="3"> Log In to download </span>  <span class="icon is-small"> <i class="fa fa-download"></i> </span>
                                    </a>
                                }
                            }
                            else
                            {
                                if (Model.Cost > 0 && (Model.Order == null || Model.Order.Status != OrderStatus.Paid))
                                {
                                    <a href="#" onclick="OrderPrompt('@Model.ID', '@Model.Title')"
                                    class="button is-medium is-success is-outlined">
                                    <span data-val="4"> @Model.Cost </span> <span class="icon is-small"> <i class="fa fa-eur"></i> </span>
                                    </a>
                                }
                                else if (Model.Order != null && Model.Order.Status == OrderStatus.Paid)
                                {
                                    @if (Enum.GetName(typeof(DataMarketFE.ViewModels.Type), (int)Model.DatasourceType) == "FileUploadGeneric")
                                    {
                                        <a href="#" id="DownloadFile" class="button is-medium is-success is-outlined">
                                        <span data-val="5"> Download Paid @Model.Cost </span> <span class="icon is-small"> <i class="fa fa-eur"></i> </span>
                                        </a>

                                        <script>
                                        $('#DownloadFile').click(function () {
                                        var a = window.location.origin + '/metrictransfer/@Model.ID';
                                        window.open(a, '_blank').focus();
                                        });
                                        </script>
                                    }
                                    else if (Enum.GetName(typeof(DataMarketFE.ViewModels.Type), (int)Model.DatasourceType) == "Link")
                                    {
                                        <a href="@Model.Url" id="revealUrlBtn" target="_blank"
                                        class="button is-medium is-success is-outlined">
                                        <span data-val="6"> Grab Link </span> <span class="icon is-small"> <i class="fa  fa-external-link"></i> </span>
                                        </a>   
                                    }
                                    else
                                    {
                                        <a href="#" class="button is-medium is-success is-outlined" data-toggle="modal" data-target="#metricTransferModelFull">
                                        <span data-val="7"> Wire Dataset Paid @Model.Cost </span> <span class="icon is-small"> <i class="fa fa-eur"></i> </span>
                                        </a>
                                    }
                                }
                                else
                                {
                                    @if (Enum.GetName(typeof(DataMarketFE.ViewModels.Type), (int)Model.DatasourceType) == "FileUploadGeneric")
                                    {
                                        <a href="#" id="DownloadFile" class="button is-medium is-success is-outlined">
                                        <span data-val="8"> Download </span> <span class="icon is-small"> <i class="fa fa-download"></i> </span>
                                        </a>

                                        <script>
                                        $('#DownloadFile').click(function () {
                                        var a = window.location.origin + '/metrictransfer/@Model.ID';
                                        window.open(a, '_blank').focus();
                                        });
                                        </script>
                                    }
                                    else if (Enum.GetName(typeof(DataMarketFE.ViewModels.Type), (int)Model.DatasourceType) == "Link")
                                    {
                                        <a href="@Model.Url" id="revealUrlBtn" target="_blank"
                                           class="button is-medium is-success is-outlined">
                                            <span data-val="9"> Grab Link </span> <span class="icon is-small"> <i class="fa  fa-external-link"></i> </span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="#" id="DownloadFile" class="button is-medium is-success is-outlined">
                                        <span data-val="10"> Download </span> <span class="icon is-small"> <i class="fa fa-download"></i> </span>
                                        </a>

                                        <script>
                                        $('#DownloadFile').click(function () {
                                        var a = window.location.origin + '/metrictransfer/@Model.ID';
                                        window.open(a, '_blank').focus();
                                        });
                                        </script>
                                    }
                                }
                            }
                        </div>
            </div>

            <script>
                $('#descriptionTab').on('click',function () {
                    $('#descriptionPanel').toggleClass('hidden');
                    $('#structurePanel').toggleClass('hidden');
                    $('#descriptionTab').toggleClass('is-active');
                    $('#structureTab').toggleClass('is-active');
                });
                $('#structureTab').on('click', function () {
                    $('#descriptionPanel').toggleClass('hidden');
                    $('#structurePanel').toggleClass('hidden');
                    $('#descriptionTab').toggleClass('is-active');
                    $('#structureTab').toggleClass('is-active');
                });
            </script>

            <div class="column is-12 is-offset-1">
                <span> Comment(s) @Model.CommentCount </span>
                
                @if (@ViewBag.LoggedIn == null || !@ViewBag.LoggedIn)
                {
                    <p>
                        Please <a href="/login?ReturnUrl=%2Fmetric%2F@(Model.ID)">Sign in</a> to leave a comment.
                    </p>
                }

                <br />
                
            </div>
            <div class="column is-8 is-offset-1">
                @Html.Partial("~/Views/Comment/Index.cshtml", new CommentTypeViewModel { Id = Model.ID, Type = CommentType.Metric })
            </div>        
            </div>
        </div>
    </div>
