@{ ViewData["Title"] = "Data Sets"; }
@{ Layout = "~/Views/Shared/_DashboardLayout.cshtml"; }
@using DataMarketFE.ViewModels;
@model MetricViewModel

<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=plibn2m4qefwhcjlki6imjfnoqb4hzxnpcxbbfosqbmlczh1"></script>
<script src="~/lib/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
<link href="~/lib/bootstrap-tagsinput/dist/bootstrap-tagsinput-typeahead.css" rel="stylesheet" />
<link href="~/lib/bootstrap-tagsinput/src/bootstrap-tagsinput.css" rel="stylesheet" />
<script src="~/lib/typeahead/typeahead.js"></script>

<section class="hero is-primary">
    <div class="hero-body">
        <h1 class="title">
            Datasets
        </h1>
        <h2 class="subtitle">
            @if (Model.ID != Guid.Empty && Model.Approved == false)
            {
                <span class="tag is-info">Pending Approval</span>
            }

            @if (Model.ID != Guid.Empty && Model.Processing == true)
            {
                <span class="tag is-info">Processing</span>
            }
        </h2>
    </div>
</section>

<div class="columns">
    <div class="column is-8">
        <div class="section">
            @using (Html.BeginForm(FormMethod.Post, new { id = "metricForm" }))
            {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.ID)
                    @Html.HiddenFor(x => x.Approved)
                    @Html.HiddenFor(x => x.Rating)
                    @Html.HiddenFor(x => x.Structure)
                    @Html.HiddenFor(x => x.DescriptionPlainText)

                    <div class="columns is-multiline">                        
                        <div class="column is-4">
							<div class="field">
								<div class="control">
									<input placeholder="Title" asp-for="Title" type="text" class="input" value=@Model.Title>
									<span asp-validation-for="Title" class="has-text-danger"></span>
								</div>
							</div>
                        </div>
                        <div class="column is-8">

                                @{ 
                                    Guid AutoSelectDatasourceId = Guid.Empty;

                                    if (Model.DatasourceId != null && Model.DatasourceId != Guid.Empty)
                                    {
                                        AutoSelectDatasourceId = Model.DatasourceId;
                                    }
                                    else if (ViewBag.AutoSelectDatasourceId != null)
                                    {
                                        AutoSelectDatasourceId = ViewBag.AutoSelectDatasourceId;
                                    }
                                }

                               @await Component.InvokeAsync("AllDatasourcesDrp", new {
                               ElementId = "drpDdatasouceMetricIndex",
                               aspForName = "DatasourceId",
                               SelectedValue = @AutoSelectDatasourceId,
                               omitSystemSensitiveTypes = false })
                                <span asp-validation-for="DatasourceId" class="has-text-danger"></span>

                                <script>
                                    //enctype="multipart/form-data"
                                    $('#drpDdatasouceMetricIndex').change(function () {
                                        decideElementDS(this);
                                    });

                                    $(window).ready(function () {
                                        decideElementDS('#drpDdatasouceMetricIndex');
                                    });
                                    
                                    function decideElementDS(element)
                                    {
                                        var originalType = $(element).find(":selected").attr('data-type');
                                        var isFile = originalType == "FileUploadGeneric";
                                        var isLink = originalType == "Link";
                                        var isAirtable = originalType == "Airtable";

                                        if (isFile) {
                                            $('#editor').hide();
                                            $('#queryInfoLabel').hide();
                                            $('#uploadInfoLabel').show();
                                            $('#linkInput').hide();
                                        }
                                        else if (isLink || isAirtable)
                                        {
                                            $('#editor').hide();
                                            $('#queryInfoLabel').hide();
                                            $('#uploadInfoLabel').hide();
                                            $('#linkInput').show();
                                        }
                                        else {
                                            $('#editor').show();
                                            $('#queryInfoLabel').show();
                                            $('#uploadInfoLabel').hide();
                                            $('#inpUploadFile').hide();
                                            $('#linkInput').hide();
                                        }
                                    }                                    
                                </script>
                        </div>
                        <div class="column is-12">
                                @Html.HiddenFor(x => x.Query, new { id = "inputTxt" })
                                @Html.Partial("Partials/AceEditor")
                                <span asp-validation-for="Query" class="has-text-danger"></span>
                                <div id="uploadInfoLabel">                                    
                                    <div class="file has-name">
                                        <label class="file-label">
                                            <input id="btnSelectFile" class="file-input" type="button" name="resume">
                                            <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Choose a file…
                                            </span>
                                            </span>
                                                
                                            <span class="file-name" id="fileName">@(Model.FileName)</span>
                                                
                                        </label>
                                    </div>
                                </div>
                                <div id="linkInput">
                                    <div class="form-group label-floating">
                                        <input placeholder="Dataset Link" asp-for="Url" id="linkTxt" type="text" class="input" value=@Model.Url>
                                        <span asp-validation-for="Url" class="has-text-danger"></span>
                                    </div>
                                </div>                            
                        </div>
                        <div class="column is-12">
                                <textarea id="txtAreaDescription" asp-for="Description" type="text" class=""> @Model.Description </textarea>
                                @Html.Partial("Partials/TinyMCE", 200)
                                <span asp-validation-for="Description" class="has-text-danger"></span>
                        </div>
                        <div class="column is-5">
                                @await Component.InvokeAsync("MetricCategoriesDrp", new
                               {
                                   ElementId = "drpCategoryId",
                                   aspForName = "CategoryId",
                                   SelectedValue = Model.CategoryId ?? 0
                                })
                                <span asp-validation-for="CategoryId" class="has-text-danger"></span>
                        </div>

                        <div class="column is-2 is-offset-3">
                            <label class="checkbox">
                            <input type="checkbox" asp-for="Open" type="checkbox" checked=@Model.Open>
                                Dataset is Public
                            </label>
                            <span asp-validation-for="Open" class="has-text-danger"></span>
                        </div>
                        <div class="column is-2 ">
                            <label class="checkbox">
                            <input type="checkbox" asp-for="Anonymous" type="checkbox" checked=@Model.Anonymous>
                                Hide my name
                            </label>
                            <span asp-validation-for="Anonymous" class="has-text-danger"></span>
                        </div>
                        <div class="column is-8">
                                <div id="bloodhound">
                                    <input id="txtTags" placeholder="Tags" asp-for="HashTags" value=@Model.HashTags data-role="tagsinput" class="input typeahead" type="text">
                                    <span asp-validation-for="HashTags" class="has-text-danger"></span>
                                </div>

                                <script> 
                                    var tags = new Bloodhound({
                                        datumTokenizer: Bloodhound.tokenizers.whitespace,
                                        queryTokenizer: Bloodhound.tokenizers.whitespace,
                                        remote: {
                                            url: '/search/hashtag/%QUERY',
                                            wildcard: '%QUERY'
                                        }
                                    });

                                    $('#txtTags').tagsinput({
                                        maxChars: 16,
                                        maxTags: 5,
                                        trimValue: true,
                                        allowDuplicates: false,
                                        freeInput: true,
                                        typeaheadjs: {
                                            highlight : true,
                                            minLength : 3,
                                            name: 'states',
                                            display: 'name',
                                            source: tags
                                        }
                                    });
                                    
                                </script>
                        </div>

                        <hr />

                        <div class="column is-4">
                            <div class="control has-icons-left has-icons-right">
                                <input placeholder="Cost of Dataset" asp-for="Cost" type="number" class="input is-medium" value=@Model.Cost>                                   
                                <span class="icon is-small is-left">
                                    <i class="fa fa-euro"></i>
                                </span>
                            </div>
                            <span asp-validation-for="Cost" class="has-text-danger" style="display:block;"></span>
                        </div>
                        <div class="column is-12">
                            <button id="submitAjaxFormbtn" type="button" class="button is-primary is-medium pull-right">Submit</button>
                        </div>
                    </div>
            }
            @{
                    if (@Model.ID != Guid.Empty)
                    {
                        @using (Html.BeginForm("", "DeleteMetric", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.ID)

                            <button type="submit" class="button is-danger is-medium pull-right" value="Delete">Delete</button>
                        }

                        <div class="hidden pull-left">
                            <span class="icon">
                                <i class="fa fa-lg fa-star"></i> 
                            </span>@Model.Rating
                        </div>

                        <div class="hidden row">
                            <div class="col-md-12">
                                @Html.Partial("Partials/Structure", @Model.Structure)
                            </div>
                        </div>
                    }
                }
        </div>
    </div>
    <div class="column is-4">
        <div class="section">
            @Html.Partial("MetricSelectCard")
            
            <br />

            @if (Model.ID != Guid.Empty)
            {
                @await Component.InvokeAsync("MetricShare", new { MetricId = Model.ID })            
            }
        </div>
    </div>

</div>

<div class="hidden">
                @if (Model.ID != Guid.Empty)
                {
                    @if (Model.Structure == null || Model.Structure == String.Empty)
                    {
                        <label> Data Structure is being populated or is not available. </label>
                    }
                    else
                    {
                        <button id="btnDataStrc" onclick="if (!$('#structure').is(':visible')) {
	                $('.main-panel').animate({scrollTop: $('.main-panel').height()},'fast');
                }" type="button" class="btn btn-primary pull-left" data-toggle="collapse" data-target="#structure">
                            Data Structure
                        </button>
                    }
                }
</div>



    @using (Html.BeginForm(FormMethod.Post, new { id = "fileUploadForm", enctype = "multipart/form-data" }))
    {
       <input style="display:none" id="inpUploadFile" type="file" name="UploadFile" />

        <script>
            var originalDatasource = "@(Model.DatasourceId)";

            $('#btnSelectFile').click(function () {
                $('#inpUploadFile').click();
            });

            $('#inpUploadFile').change(function (data) {
                $('#fileName').html(document.getElementById("inpUploadFile").files[0].name);
            })

            $('#submitAjaxFormbtn').click(function () {

                if (originalDatasource != $('#drpDdatasouceMetricIndex').find(":selected").val())
                {
                    if ($('#drpDdatasouceMetricIndex').find(":selected").attr('data-type') == "FileUploadGeneric") {

                        if (document.getElementById("inpUploadFile").files.length < 1) {
                            warn("Please select a file first.");
                            return;
                        }
                    }
                }

                if ($('#drpDdatasouceMetricIndex').find(":selected").attr('data-type') == "Link") {
                    var link = $('#linkTxt').val()                    

                    if (link == undefined || link.length == 0)
                    {
                        warn("Please enter a valid url.");
                        return;
                    }
                }

                var file = document.getElementById("inpUploadFile").files[0];

                var urlArray = window.location.href.split("/");
                var id = urlArray.pop() || urlArray.pop();

                if (id = 'metric') {
                    id = '';
                }

                var fd = new FormData();
                fd.append('file', file);

                var params = $('#metricForm').serializeArray();

                $(params).each(function (index, element) {
                    if (element.name == "Description") {
                        element.value = tinyMCE.activeEditor.getContent();
                    }

                    if (element.name == "DescriptionPlainText") {
                        element.value = tinyMCE.activeEditor.getContent({ format: 'text' });
                    }

                    if (element.name == "Query")
                    {
                        element.value = editor.getValue();
                    }

                    fd.append(element.name, element.value);
                });

                stepProgressBar(0.1);
                $('#btnUploadFile').prop("disabled", true);

                $.ajax({
                    xhr: function () {
                        var xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener("progress", function (evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                stepProgressBar(percentComplete);
                            }
                        }, false);
                        xhr.addEventListener("progress", function (evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                stepProgressBar(percentComplete);
                            }
                        }, false);
                        return xhr;
                    },
                    url: "/metric/" + id,
                    data: fd,
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    success: function (respeonse) {
                        stepProgressBar(1);
                        window.location.href = window.location.origin + "/metric/" + respeonse;
                    },
                    error: function (response) {
                        for (var k in response.responseJSON) {
                            console.log(k, response.responseJSON[k]);
                            $('span[data-valmsg-for=' + k).html(response.responseJSON[k]);
                        }

                        warn("Error submitting Data Set.");
                        info("If you are uploading a file we have a 4 gig limit!");
                    }
                }).always(function () {
                    stepProgressBar(0);
                    $('#btnUploadFile').prop("disabled", false);
                });
            });
        </script>
    }
</div>