﻿<div class="modal fade" id="metricTransferModelFull" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-body">
                <form id="frmMetricTransfer" action="/MetricTransfer" method="post">
                    <div class="" style="margin:0px;">
                        <input id="DownloadAsFile" aspForName="DownloadAsFile" type="hidden" name="DownloadAsFile">
                        <input aspForName="MetricID" type="hidden" id="MetricID" name="MetricID">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Target Datasource</label>
                                    @await Component.InvokeAsync("AllDatasourcesDrp", new { ElementID = "", aspForName = "TargetDatasourceID" })
                                    <span id="errorTargetDatasourceID" class="has-text-danger field-validation-error" data-valmsg-for="TargetDatasourceID" data-valmsg-replace="true"></span>
                                </div>

                                <script>
                                </script>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Target Table Name (leave blank for autogeneration)" aspForName="TargetTableName" class="form-control" name="TargetTableName" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row row-centered">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <button onclick="MetricTransfer(this, false)" type="button" class="btn btn-primary">Transfer</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                        <p class="text-center">Or</p>
                        <div class="row row-centered">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <button onclick="DownloadMetric(this)" type="button" class="btn btn-primary">Download File</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
                <div class="success" style="display:none;">
                    <div class="row row-centered">
                        <div class="col-md-6 col-md-offset-3">
                            <i class="material-icons text-success" style="font-size:48px; font-style:oblique;">check</i>
                        </div>
                    </div>
                    <div class="row row-centered">
                        <div class="col-sm-12 col-md-12">
                            <h3>You will receive an email shortly, in the meantime feel free to share!</h3>
                            <a href="https://twitter.com/intent/tweet" class="twitter-mention-button" data-size="large" data-text="Just found an awesome #dataset via @@DataCircle_IO" data-related="drakoumel" data-show-count="false">Tweet</a>
                            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    function MetricTransfer(e) {
        if (!validateForm())
        {
            return;
        }

        var parts = window.location.href.split('/');
        var lastSegment = parts.pop() || parts.pop();

        $('#MetricID').val(lastSegment);
        $('#DownloadAsFile').val(false);

        stepProgressBar(0.1);
        $(e).prop('disabled', true);

        stepProgressBar(0.3);

        var frm = $('#frmMetricTransfer');

            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize()
            })
            .done(function (response) {
               stepProgressBar(0.5);
               a = response;
               $('#metricTransferModel').modal('hide');
               success("Success! Your Transfer has been queued.");
               window.open(window.location.origin + "/metrictransfer", '_blank');
            })
            .fail(function (response) {
               stepProgressBar(0.8);
               warn(response.responseText);
               a = response;
            })
            .always(function () {
               $(e).prop('disabled', false);
                  stepProgressBar(1);
                  stepProgressBar(0);
            });
    }

    function DownloadMetric(e)
    {
        var array = window.location.href.split('/');
        var id = array.pop() || array.pop();
        var url = window.location.origin + "/metrictransfer/" + id;

        stepProgressBar(0.1);
        $(e).prop('disabled', true);
        window.open(url, '_blank').focus();
        stepProgressBar(0.5);
        stepProgressBar(1);
        stepProgressBar(0);
        $(e).prop('disabled', false);
    }

    function validateForm()
    {
        $('.field-validation-error').each(function (key, value) { $(value).html(""); });

        if ($('select[name=TargetDatasourceID]').val() == "0")
        {
            $('#errorTargetDatasourceID').html("Please select a Target Datasource.");
            return false;
        }

        return true;
    }
</script>