@using DataMarketFE.ViewModels;
@model IList<CategoryViewModel>

@if (Model != null)
{

<a class="button is-text" id="categoriesToggle">> Show Categories </a>


<div id="categories" style="display:none;">
    @foreach (CategoryViewModel category in @Model.OrderByDescending(c => c.Name).ThenByDescending(c => c.UsageCount))
    {
        <button onclick="search('!c-@category.Name')" class="button is-text">@category.Name (@category.UsageCount)</button>
    }
</div>

<script>
    $('#categoriesToggle').click(function () { 
        if ($('#categories').is(":visible"))
        {
            $('#categories').hide();
            $('#categoriesToggle').html("> Show Categories");
        }
        else
        {
            $('#categories').show();
            $('#categoriesToggle').html("> Hide Categories");
        }

        adjustNewsletterHeight(); 
    });
</script>
}