﻿@using DataMarketFE.ViewModels;
@model CommentTypeViewModel

<div class="section">
    <div class="container">
        <div class="landing-section">
            @if (@ViewBag.LoggedIn != null && @ViewBag.LoggedIn)
            {
                <div class="columns is-multiline">
                    <div class="column is-8 is-offset-1">                    
                        <div class="message">
                            <div id="editableComment" type="text"> Enter your comment here.. </div>
                            @Html.Partial("~/Views/Comment/TinyMCE.cshtml")                                
                        </div>
                    </div>
                    <div class="column is-4 is-offset-4 is-centered">
                        <button onclick="postComment($(this))" class="button is-light">Post Comment 💬</button>
                    </div>
                </div>
                <br />
            }

            <div class="columns">
                <div id="CommentsSection" class="column is-offset-1 is-8">
                    @await Component.InvokeAsync("Comments", new CommentTypeViewModel { Type = Model.Type, Id = Model.Id })
                </div>
            </div>
        </div>

        @{ 
            string target = Model.Type == CommentType.Metric ? "metric" : "request";
        }

            <script>
            function refreshComments()
            {
                $.get("/@(target)comment/all/@Model.Id", function(data) { $('#CommentsSection').html(data); });
            }
            </script>

        
    </div>
</div>

<script>
            function postComment($e) {
                $e.prop('disabled', true);

                var urlArray = window.location.href.split('/');
                var id = urlArray.pop() || urlArray.pop();

                var settings = {
                    "async": true,
                    "url": "/@(target)comment",
                    "method": "POST",
                    "data": {
                        Value: $('#editableComment').html(),
                        TargetId: id
                    }
                }

                $.ajax(settings)
                    .done(function (response) {
                        success(response);
                        $('#editableComment').html("");
                        $e.prop('disabled', false);
                        refreshComments();
                    })
                    .fail(function (response) {
                        warn("Error submitting comment.");
                        $e.prop('disabled', false);

                    });
            }

            $('#editableComment').click(function (e) {
                if ($('#editableComment').html() == "<p>Enter your comment here..</p>") {
                    $('#editableComment').html("");
                }
            }).focusout(function (e) {
                if ($('#editableComment').html().length == 0) {
                    $('#editableComment').html("<p>Enter your comment here..</p>");
                }
            })
</script>