@using DataMarketFE.ViewModels; 
@model LoggedInViewModel

<a class="navbar-item is-size-5" href="/dashboard">
    <span class="icon">
        <i class="fa fa-th-large" aria-hidden="true"></i>
    </span>
    <span>Dashboard</span>
</a>

<div class="navbar-item has-dropdown is-hoverable is-size-5">
    <a class="navbar-link">
        <span class="icon">
            <i class="fa fa-user-o"></i>
        </span>
        <span>@Model.FirstName , @Model.LastName</span>
    </a>
    <div class="navbar-dropdown is-boxed">
        <a class="navbar-item" href="/profile">
            Profile
        </a>
        <a class="navbar-item" href="/logout">
            Logout
        </a>
    </div>
</div>