﻿<style type="text/css" media="screen">
    .ace_editor {
        border: 1px solid lightgray;
        margin: auto;
        height: 200px;
        width: 100%;
    }

    .scrollmargin {
        height: 80px;
        text-align: center;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8"></script>
<pre id="editor"></pre>
<script>
					var editor = ace.edit("editor");
					editor.setTheme("ace/theme/sqlserver");
					editor.session.setMode("ace/mode/sql");

					editor.setValue($('#inputTxt').val());

					$('#metricForm').submit(function() {
						$('#inputTxt').val(editor.getValue());
						return true;
					});
</script>