﻿@using Newtonsoft.Json;
@using System.Collections.Generic;
@using DataMarketFE.ViewModels;

@model string

@{
    var items = Model != null ? JsonConvert.DeserializeObject<Dictionary<string, string>>(@Model) : null;
}

<div id="structure" class="collapse">
@if (items != null)
{
    <div class="">
        <table class="table is-fullwidth">
            <thead class="">
                <tr>
                    <th>Column Name</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var item in items)
                    {
                        <tr>
                            <td>@item.Key</td>
                            <td>@item.Value</td>
                       </tr>
                   }
                </tbody>
        </table>
   </div>
}
</div>