﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; } 

@using DataMarketFE.ViewModels;
@model CategoryViewModel

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                @Model.Name
            </h1>
        </div>
    </div>
</section>

<section>
    <div class="main-panel section">
        <div class="container">
            <div id="metrics-wrapper" class="columns is-centered is-multiline">
                <script>
                    var settings = {
                        "async": true,
                        "url": "/search/view/!c-@Html.Raw(Model.Name)",
                        "method": "GET"
                    }

                    $.ajax(settings)
                        .done(function (response) {
                            $('#metrics-wrapper').html(response).fadeIn(500);
                        })
                        .fail(function (response) {
                            warn("Search failed.");
                        });
                </script>
            </div>
        </div>
        <div class="push"></div>
    </div>
</section>