﻿@using DataMarketFE.ViewModels;
@model IEnumerable<CommentViewModel>

@foreach (CommentViewModel comment in Model)
{
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">                    
                </div>
                <div class="media-content">
                    <p class="title is-4">@comment.User.GetFullQualifiedName()</p>
                    <p class="subtitle is-6"></p>
                </div>
            </div>

            <div class="content">
                @Html.Raw(System.Net.WebUtility.HtmlDecode(@comment.Value))

                @comment.CreatedAt.ToString("dd-MMM-yyyy")
            </div>
        </div>
    </div>
}