@{ ViewData["Title"] = "Requests"; }
@{ Layout = "~/Views/Shared/_DashboardLayout.cshtml"; }
@using DataMarketFE.ViewModels;
@model RequestViewModel

<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=plibn2m4qefwhcjlki6imjfnoqb4hzxnpcxbbfosqbmlczh1"></script>

<section class="hero is-primary">
    <div class="hero-body">
        <h1 class="title">
            Requests
        </h1>
    </div>
</section>

<div class="columns">
    <div class="column is-8">
        <div class="section">
            @using (Html.BeginForm(FormMethod.Post, new { id = "requestForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.ID)
                @Html.HiddenFor(x => x.DescriptionPlainText)

                <div class="columns is-multiline">
                    <div class="column is-6">
                        <div class="field">
                            <div class="control">
                                <input placeholder="Title" asp-for="Title" type="text" class="input" value=@Model.Title>
                                <span asp-validation-for="Title" class="has-text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="column is-6">
                        <label class="checkbox">
                            <input asp-for="Anonymous" type="checkbox" checked=@Model.Anonymous>
                            <span>Stay anonymous, by hiding your name</span>
                        </label>
                    </div>
                    <div class="column is-12">
                        <div class="field">
                            <div class="control">
                                        <textarea id="txtAreaDescription" asp-for="Description" type="text" class="form-control"> @Model.Description </textarea>
                                        @Html.Partial("~/Views/Metric/Partials/TinyMCE.cshtml" , 500)
                                        <span asp-validation-for="Description" class="has-text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="column is-12 has-text-right">
                            <button type="submit" class="button is-medium is-primary">Submit</button>
                    </div>
                    <div class="column is-12 has-text-right">
                        
                    </div>
                </div>
            }
            @{
                if (@Model.ID != Guid.Empty)
                {
                    @using (Html.BeginForm("", "DeleteRequest", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ID)

                        <div class="columns">
                            <div class="column is-12 has-text-right" style="padding-top:0px;">
                                <button type="submit" class="button is-danger is-medium" value="Delete">Delete</button>
                            </div>
                        </div>
                    }    
                }
            }
        </div>
    </div>
    <div class="column is-4">
        <div class="section">
            @Html.Partial("RequestSelectCard")
        </div>
    </div>
</div>