﻿@using DataMarketFE.ViewModels;
@model RequestViewModel

@{ 
    ViewData["Title"] = "Data Request - " + Model.Title;
    ViewData["Description"] = Model.Title;
}

<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=plibn2m4qefwhcjlki6imjfnoqb4hzxnpcxbbfosqbmlczh1"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59988b8157919a34"></script> 

<script type="text/javascript">
    var addthis_share = addthis_share || {}
    addthis_share = {
        url_transforms: {
            shorten: {
                twitter: 'bitly'
            }
        },
        shorteners: {
            bitly: {}
        },
        passthrough: {
            twitter: {
                via: "DataCircle_IO",
                text: "@Model.Title",
                hashtags: "datasetrequest"
            }
        }
    }
</script>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-narrow">
                <p class="field is-marginless">
                    <a disabled="@(!@ViewBag.LoggedIn)" onclick="upvote('@(Model.ID)')" class="button is-light is-outlined is-medium">
                        <span class="icon is-medium">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </span>
                    </a>
                </p>
                <p class="field is-marginless">
                    <a disabled="@(!@ViewBag.LoggedIn)" onclick="downvote('@(Model.ID)')" class="button is-light is-outlined is-medium">
                        <span class="icon is-medium">
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        </span>
                    </a>
                </p>
            </div>
            <div class="column is-narrow">
                <p class="field has-text-centered is-size-2">
                    @Model.UpvoteCount
                </p>
            </div>
            <div class="column">
                <h1 class="title">
                    <b>DataSet Request: </b>@Model.Title
                </h1>
                <h2 class="subtitle">
                    @if (Model.Anonymous)
                    {
                        @Html.Raw("Anonymous User")
                    }
                    else
                    {
                        @Model.User.GetFullQualifiedName()
                    }
                     @Model.CreatedAt.ToString("dd-MMM-yyyy")
                </h2>
            </div>
        </div>
    </div>
  </div>
</section>

<div class="container">
    <div class="columns box is-multiline">
        <div class="column is-12">
            @Html.Raw(@Model.Description) 
        </div>
        
        <div class="column is-10 is-offset-1">
            <hr/>
            <span> Comment(s) @Model.CommentCount </span>
        
            @if (@ViewBag.LoggedIn == null || !@ViewBag.LoggedIn)
            {
                <p>
                    Please <a href="/login?ReturnUrl=%2Frequests%2F@(Model.ID)">Sign in</a> to leave a comment.
                </p>
            }
        </div>

        <br />

        <div class="column is-8 is-offset-1">
            @Html.Partial("~/Views/Comment/Index.cshtml", new CommentTypeViewModel { Id = Model.ID, Type = CommentType.Request })
        </div>
        <div class="push"></div>        
    </div>
</div>

<script>
    function upvote(requestId) {
        $.get("/requests/upvote/" + requestId, function (data) { success("Vote submitted!"); });
    }

    function downvote(requestId) {
        $.get("/requests/downvote/" + requestId, function (data) { success("Vote submitted!"); });
    }
</script>