<script>
    function selectRequest()
    {
        var value = document.querySelector("#drpSelectRequest").value;
        if (value == 0) {
            return;
        } else {
            if (window.location.origin.lastIndexOf("/") == window.location.origin.length) {
                window.location = window.location.origin + "request/" + value;
            } else {
                window.location = window.location.origin + "/request/" + value;
            }
        }
    }
</script>


<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Select a request to edit.
    </p>
  </header>
  <div class="card-content">
    <div class="content">
        @await Component.InvokeAsync("AllRequestsDrp")
    </div>
  </div>
  <footer class="columns card-content">
      <div class="column is-6 ">
              <a href="/request" class="button is-primary is-outlined">Create new</a>
        </div>   
      <div class="column is-6 has-text-right">
    <a href="#" onclick="selectRequest()" class="button is-primary is-outlined">Edit</a>
        </div>   
  </footer>
</div>
