﻿@{ 
    ViewData["Title"] = "Data Set Requests";
    ViewData["Description"] = "Ask the community to find the dataset you are looking for.";
 }

@using DataMarketFE.ViewModels;
@model IEnumerable<RequestViewModel>

<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=plibn2m4qefwhcjlki6imjfnoqb4hzxnpcxbbfosqbmlczh1"></script>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
        <div class="columns">
            <div class="column is-left is-6">
                <h1 class="title">
                    Data Requests
                </h1>
                <h2 class="subtitle">
                    Requests for and discussion of Datasets
                </h2>
            </div>
            <div class="column is-6 has-text-right">
                <a href="/request" class="button is-medium"> Create Request </a>
            </div>
        </div>
    </div>
  </div>
</section>

<div class="header min-header header-filter">
    <div class="container">
        <div class="row">
            <div style="color:white;" class="col-md-6">
                <h3>Dataset Requests</h3>
                <h4>Requests for and discussion of Datasets</h4>
            </div>
            <div style="color:white;" class="col-md-6 text-right">
            </div>
        </div>
    </div>
</div>

<div class="main main-panel">
    <div class="container">
        <div class="landing-section">
            <div class="columns is-multiline">                
                    @foreach (RequestViewModel request in Model.OrderByDescending(r => r.CreatedAt))
                    {
                        <div class="column is-4">
                            @Html.Partial("Partials/RequestRow", request)
                        </div>
                    }
                <div class="push"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(window).load(function () {
        $('.push').height(window.innerHeight - $('.push').offset().top - $('#newsletter').height());
    });

    $(window).resize(function () {
        $('.push').height(window.innerHeight - $('.push').offset().top - $('#newsletter').height());
    });

                    $('.request').click(function (e) {
                        id = e.currentTarget.id;

                        if ($('#hidden-' + id).is(':visible')) {
                            return;
                        }

                        jQuery('.collapse').collapse('hide');
                        $('#disqus_thread').remove();
                    });
</script>