﻿@using DataMarketFE.ViewModels;
@model IList<CategoryViewModel>

<div class="columns">
    <div class="column">
        <div class="content">
            <h3 class="title is-4">Categories</h3>
        </div>
    </div>
</div>

    @{
        var extraCounter = 0;
    }
    <div class="columns">
        @for (int j = 0; j < 3; j++)
        {
            <div class="column is-3 is-offset-1">
                <ul class="">
                    @for (int i = extraCounter; i < extraCounter + (Model.Count() / 3); i++)
                {
                        <li>
                            <a href="/category/@Model[i].Name">@Model[i].Name</a>
                        </li>
                    }
                </ul>
            </div>
            extraCounter = extraCounter + Model.Count() / 3;
        }
    </div>

    <br />

