@using DataMarketFE.ViewModels;
@model ApiStatusViewModel

<li class="pointer">
@if (@Model.Status == true) {
    <a id="Action-Acknowledgement"  href="http://status.datacircle.io" target="_blank">
       API Status                        <span style="color:red;">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </span> 
    </a>
} else {
    <a id="Action-Acknowledgement"  href="http://status.datacircle.io" target="_blank">
       API Status <span style="color:red;">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                        </span>
    </a>
}
</li>