﻿@using DataMarketFE.ViewModels;
@model AllCategoriesDrpViewModel

<div class="control">
  <div class="select is-fullwidth">
<select id="@Model.ElementID" @(@Model.AspForName != null ? string.Format("asp-for={0}", @Model.AspForName) : "")
        @(@Model.AspForName != null ? string.Format("name={0}", @Model.AspForName) : "") class="form-control">

    <option value=0>Select a Category</option>
    @{
        foreach (CategoryViewModel category in @Model.Categories.Where(c => c.Name != "Other").OrderByDescending(c => c.UsageCount).ThenBy(c => c.Name))
        {
            string asdInternal = @Model.SelectedValue.ToString() == @category.Id.ToString() ? "selected" : "";
            <!option @Html.Raw(@asdInternal) value=@category.Id>@category.Name</!option>
        }


        var other = Model.Categories.First(c => c.Name == "Other");
        string asd = @Model.SelectedValue.ToString() == @other.Id.ToString() ? "selected" : "";

        <!option @Html.Raw(@asd) value=@other.Id>@other.Name</!option>
    }
</select>
  </div>
</div>