﻿@using DataMarketFE.ViewModels;
@model IEnumerable<CategoryViewModel>

<div class="control">
  <div class="select is-fullwidth">
<select id="drpSelectCategory" class="form-control" name="id">
    <option value=0>Select a Request</option>
    @foreach (CategoryViewModel category in @Model.OrderByDescending(c => c.UsageCount))
    {
        <option value=@category.Id>@category.Name</option>
    }
</select>
</div>
</div>  