﻿@{ ViewData["Title"] = "Ahoy!"; }

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">
                <img width="50%;" height="50%;" src="images/social/ahoy.svg">
            </h1>
            <h2 class="subtitle">
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-2 is-8">
                <div class="content is-medium">
                    <p>
                        Berlin is built around communities and connections. In the same approach harbor a sense of community.
                    </p>
                    <p>
                        Coworking spaces help thousands of individual or companies to materialize their dreams and that is why we would like to give
                        you the chance to join our network early.
                    </p>
                    <p>
                        No need for wait time or queues, simple use the code bellow and become part of a sharing community.
                    </p>
                                        <h3> Use Code <strong>Ahoy</strong> on <a href="/register">registration</a>                        
                    </h3>
                    <a class="twitter-follow-button"
                    href="https://twitter.com/DataCircle_IO"
                    data-size="large"
                    data-show-count="false"
                    data-show-screen-name="false"></a>
                </div>
            </div>
        </div>

    </div>
</section>

<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));
</script>