@{ ViewData["Title"] = "Careers"; }

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Work with us! ⭐
            </h1>
            <h2 class="subtitle">
            </h2>
        </div>
    </div>
</section>

<div class="container">
    <br />
    <div class="content has-text-centered subtitle">
        <p>DataCircle is a young company in Berlin. It is a tech based company that enables users to exchange 
           data in a friendly and easy manner.
        <br />
            Ever growing and ever more interesting we are looking for more people to join our team.
        <br />
            Check our openings and do not hesitate to contact us, with a short description of yourself, your CV and why you are interested in DataCircle.
        </p>
        <p>
            Click
            <a href="/system" target="_blank">here</a> for the full details of the system and what makes it great!
        </p>

        <a href="mailto:support@datacircle.io" class="button is-danger bd-rainbow is-large">Apply here!</a>
    </div>
    <br />
</div>

<div class="section has-text-centered">
    <h1 class="title is-3">
        <u>Current Openings</u>
    </h1>
</div>

<section class="section ">

<div class="columns is-multiline">    
    <div class="column is-4 is-offset-2">
        <article class="tile is-child notification">
            <p class="title">💼Sales Manager (f/m)</p>
            <p class="subtitle">Berlin, On-site, Equity</p>
            <p>
            As Sales Manager you are greatly and directly involved in DataCircle's growth.
            You are responsible for finding new working partners and establishing an effective sales strategy as part of our
            Data Asset Management Program. 
            Enabling DataCircle to become a leading brand in the b2b data asset sale.
            </p>
            <br />
            <ul>
                <li>
                   - Proven working experience in b2b sales.
                </li>
                <li>
                   - Brief but substantial knowledge of corporate know-how in terms of Data.
                </li>
                <li>
                   - A Genuine interest in cultivating customer relationships.
                </li>
                <li>
                   - English is a must, German is a big plus.
                </li>
            </ul>
        </article>
    </div>
    <div class="column is-4">
        <article class="tile is-child notification">
            <p class="title">🐱‍👤 Engineer (DevOps) (f/m)</p>
            <p class="subtitle">Berlin, On-site, Equity</p>
            <p>
            We are looking for an engineer to join our team with a long term focus towards DevOps and OpsSec.
            We are working with (and would like to work with) Azure, Terraform, CI pipelines, Hangfire and many more.
            The project is quite open and would provide you with the chance to start from our Deployment process to our Secure key storage.            
            </p>
            <br />
            <ul>
                <li>
                   - Proven working experience in enterprise environment.
                </li>
                <li>
                   - Understanding of web application security principles.
                </li>
                <li>
                   - Agnostic in terms of stack. (Working experience with Azure is a plus!)
                </li>                
                <li>
                   - English is a must.
                </li>
            </ul>
        </article>
    </div>
    <div class="column is-4 is-offset-2">
        <article class="tile is-child notification">
            <p class="title">💻Developer (f/m)</p>
            <p class="subtitle">Berlin, On-site, Equity</p>
            <p>
            We are looking for a web developer to join our team with a focus on both Backend and Frontend.
            Our stack is very minimal with great room for improvement, new ideas and more systems to come.
            The role involves work on the FrontEnd (front facing web site plus Dashboard) and Backend work to support all the functionality.
            </p>
            <br />
            <ul>
                <li>
                   - Proven working experience in either FrontEnd/BackEnd or both.
                </li>
                <li>
                   - Excellent understanding of web application principles, API communication, protocols etc.
                </li>
                <li>
                   - Agnostic in terms of stack. (Working experience with Razor is a plus!)
                </li>
                <li>
                   - English is a must.
                </li>
            </ul>
        </article>
    </div>
    <div class="column is-4">
        <article class="tile is-child notification">
            <p class="title">🚀Marketing Manager/Growth (f/m)</p>
            <p class="subtitle">Berlin, On-site, Equity</p>
            <p>
            Devise, manage, and implement overarching user acquisition and activation strategy. (together with Sales)
            Identify and target channels to drive users to our platform. 
            Communicate regularly and effectively with an audience of creators and influencers.
            Collect and present feedback from the community and content partners to management and the Product team.
            </p>
            <br />
            <ul>
                <li>
                   - Proven working experience in B2B/B2C marketing.
                </li>
                <li>
                   - Interest in Data, Open Data, Data Exchange, Data Exchange Platforms.
                </li>
                <li>
                   - Experience in Marketplaces is a big plus.
                </li>
                <li>
                   - English is a must.
                </li>
            </ul>
        </article>
    </div>
</div>
</section>

<div class="push"></div>
