﻿@{ ViewData["Title"] = "Contact"; }

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Contact us! 📞
            </h1>
            <h2 class="subtitle">
            </h2>
        </div>
    </div>
</section>

<div class="container">
    <br />
    <div class="content has-text-centered is-size-5">
        <p> For any inqueries please use the email bellow or the on site chat (bottom-left).</p>
        <p> We will try to contact you in a timely manner. Thank you!</p>

        <a href="mailto:support@datacircle.io" class="btn btn-simple btn-primary btn-lg">support@datacircle.io</a>
    </div>
    <br />
</div>

<div class="push"></div>
