@{ ViewData["Title"] = "Features"; }

<div class="header min-header header-filter">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>

<div class="main main-panel">
    <div class="container">
        <div class="text-center section-landing">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="title">Let's talk product</h2>
                    <h5 class="description">Following we will show case the different features that DataCircle has to offer!</h5>
                </div>
            </div>

            <div class="">
                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="material-icons">store</i>
                            </div>
                            <h4 class="info-title">Marketplace</h4>
                            <p>DataCircle above all is a Marketplace for data.</p>
                            <a name="moreEtl" href="#moreEtl" class="">
                                <i class="fa fa-play"></i> Tell me more..
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="material-icons">swap_horiz</i>
                            </div>
                            <h4 class="info-title">Cross partners Data communication.</h4>
                            <p>Using the flexible Metric component you can make Data points available for consumption from your partners.</p>
                            <a name="moreSwap" href="#moreSwap" class="">
                                <i class="fa fa-play"></i> Tell me more..
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-info">
                                <i class="material-icons">cloud</i>
                            </div>
                            <h4 class="info-title">Unify access to DataSets.</h4>
                            <p>By providing/accessing DataSets from within DataCircle you can be sure, you only need one API.</p>
                            <a name="moreUnify" href="#moreMarket" class="">
                                <i class="fa fa-play"></i> Tell me more..
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="moreEtl" class="section landing-section">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center title">Marketplace</h2>
                    <h4 class="text-center description">The core of DataCircle is exploration of the available Data Assets.</h4>
                    <h4 class="text-center description">We want you to be able to reach critical pieces of information to support your business needs in a flexible and fast manner.</h4>
                    <div class="text-center">
                        <a name="" href="/#newsletter" class="btn btn-success btn-raised btn-sm text-center">
                            <i class="fa fa-play"></i> More info
                            <div class="ripple-container"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="moreSwap" class="section landing-section">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center title">Cross Partners Communication</h2>
                    <h4 class="text-center description">By leveraging the Metric sharing between DataCircle Users you are able to construct Data End Points for your <b>Freight Network</b>, the <b>Supplier</b> or your <b>IoT network</b>.</h4>
                    <div class="text-center">
                        <a name="" href="/#newsletter" class="btn btn-success btn-raised btn-sm text-center">
                            <i class="fa fa-play"></i> More info
                            <div class="ripple-container"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="moreUnify" class="section landing-section">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center title">Unify access to DataSets.</h2>
                    <h4 class="text-center description">
                        There is a plethora of Data Sets around the internet, there are useful pieces of information and non. However one of the big issues is the diversity of formats that they come in.
                        By employing DataCircle, you can be sure that only One Format will be used.
                    </h4>
                    <div class="text-center">
                        <a name="" href="/#newsletter" class="btn btn-success btn-raised btn-sm text-center">
                            <i class="fa fa-play"></i> More info
                            <div class="ripple-container"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>