﻿@{ ViewData["Title"] = "Imprint"; }

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Imprint 🏛️
            </h1>
            <h2 class="subtitle">
            </h2>
        </div>
    </div>
</section>

<div class="container">
    Information in accordance with section 5 TMG
    <br /> DataCircle is a service provided by:
    <br /> DataCircle UG (haftungsbeschränkt)
    <br /> Rheinsberger Straße 76/77
    <br /> 10115 Berlin
    <br /> Contact: support@datacircle.io
    <br /> Represented By: Christos Zioutas
    <br /> Handelsregister: Amtsgericht Charlottenburg (zu HRB 189692 B)
    <br />
</div>