﻿@{ ViewData["Title"] = "Sharing Data"; }

<section class="hero is-light is-bold is-fullheight">
    <div class="hero-body">
        <div class="container">
                <h1 class="title is-1">Data Marketplace</h1>
                <h2 class="title is-2">Find, Buy, Sell and Exchange Data Sets easy</h2>
                <h3 class="title is-3">
                    Acquire information to drive your business
                </h3>
                <h3 class="title is-3">
                    Sell data valuable to others
                </h3>
                <h3 class="title is-3">
                    Privately exchange with your partners
                </h3>
                <br />
                <a name="newsletter" href="http://datacircle.us16.list-manage.com/subscribe/post?u=a0083284d2078a8a3dcb4c1ea&id=2bd1053357"
                    target="_blank" class="button is-large is-white ">
                    👉 SUBSCRIBE
                </a>

                <h2 class="subtitle">
                </h2>
        </div>
    </div>
</section>

<section class="section is-small">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-12 has-text-centered">
                <h3 class="title is-2 has-text-centered">
                    Data Sharing is Key.
                </h3>
                <h3 class="subtitle is-4">
                    Whichever sector you belong to Corporate, Academic or Freelancing sharing data between partners is crucial. Accessing data
                    pools from Universities, Vendors, Statistic providers or Datasets, all deserve to be handled easily without
                    heavy integration on your side, under one Platform.
                </h3>
            </div>
        </div>
    </div>
</section>

<section class="section is-small">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column has-text-centered">
                <h3 class="title is-2 has-text-centered">
                    How can we help?
                </h3>
                <h3 class="subtitle is-4">
                    DataCircle is an E-Commerce Data Marketplace, which enables Entities to
                    <b>Consume</b>,
                    <b>Provide</b> and
                    <b>Exchange</b> data within the platform. We are focused on bringing a smooth experience without risking
                    Security.
                </h3>
            </div>
        </div>
    </div>
</section>

<br />

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <nav class="columns is-multiline">
                <div class="column is-12 has-text-centered">
                    <h1 class="title is-2">
                        Steps
                    </h1>
                    <br />
                </div>
                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-3x fa-database"></i>
                    </span>
                    <p class="title is-4" style="margin-top: 0.5em;">
                        <strong>Add Datasource</strong>
                    </p>
                    <p class="subtitle">
                        Connect your datasource, the more we grow we will provide more types of datasources. Always with security in mind. The datasource
                        will act as source of publishing, or as receiver of data.
                    </p>
                </div>
                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-3x  fa-pencil"></i>
                    </span>
                    <p class="title is-4" style="margin-top: 0.5em;">
                        <strong>Create Metric</strong>
                    </p>
                    <p class="subtitle">Creating your metric is simple. For example add a query combined with your datasource or a file and you
                        are ready!</p>
                </div>
                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-3x  fa-share-alt"></i>
                    </span>
                    <p class="title is-4" style="margin-top: 0.5em;">
                        <strong>Share it!</strong>
                    </p>
                    <p class="subtitle">Now the fun part. Sharing your metrics is easy including setting up your security settings, everything
                        customizable to every step.</p>
                </div>
            </nav>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="column is-12 has-text-centered">
            <h1 class="title is-2">
                Security
            </h1>
            <br />
        </div>
        <div class="columns is-vcentered">
            <div class="column has-text-centered">
                <h3 class="title is-1 has-icons-right">
                    <span class="has-text-success">
                        <i class="fa fa-shield fa-xl" aria-hidden="true"></i>
                    </span>
                </h3>
            </div>
            <div class="column">
                <div class="block">
                    <div class="field">
                        <p class="control">
                            Security is our top-most concern.
                        </p>
                    </div>
                </div>
                <div class="block">
                    <div class="field">
                        <p class="control">
                            We are fully HTTPS enabled. Your data are always secured on multiple levels by leveraging features from MSSQL to encrypt
                            data even on a row level.
                        </p>
                    </div>
                </div>
                <div class="block">
                    <div class="field">
                        <p class="control">
                            Furthermore, we dedicate ourselves into providing a clean UI for you to setup your security settings easily.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section ">
    <div class="container">
        <div class="column is-12 has-text-centered">
            <h1 class="title is-2">
                Currently in Beta!
            </h1>
            <br />
        </div>
        <div class="columns is-vcentered">
            <div class="column has-text-centered">
                <h3 class="title is-1 has-icons-right">
                    <img src="~/images/logo/dc_logo_15.png" alt="Datacircle">
                </h3>
            </div>
            <div class="column">
                <div class="block">
                    <div class="field">
                        <p class="control">
                            This is currently a soft launch.
                        </p>
                    </div>
                </div>
                <div class="block">
                    <div class="field">
                        <p class="control">
                            We are utterly excited and would love to hear your opinion about DataCircle feel free to
                            <a href="/contact" class="pointer"> contact us </a> directly. directly.
                        </p>
                    </div>
                </div>
                <div class="block">
                    <div class="field">
                        <p class="control">
                            Of course we are always open to people who want to help Datacircle!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>