﻿@{ ViewData["Title"] = "Media 🌍"; }

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">
                DataCircle 💛 around the web. 🌍
            </h1>
            <h2 class="subtitle">
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div id="tweetFeed1" class="column is-3 ">
            </div>
            <div id="tweetFeed2" class="column is-3">
            </div>
            <div id="tweetFeed3" class="column is-3">
            </div>
            <div id="tweetFeed4" class="column is-3">
            </div>
            <div id="tweetFeed5" class="column is-3">
            </div>
            <div id="tweetFeed6" class="column is-3">
            </div>
            <div id="tweetFeed7" class="column is-3">
            </div>
            <div id="tweetFeed8" class="column is-3">
            </div>
            <div id="tweetFeed9" class="column is-3">
            </div>
            <div id="tweetFeed10" class="column is-3">
            </div>
            <div id="tweetFeed11" class="column is-3">
            </div>
            <div id="tweetFeed12" class="column is-3">
            </div>
            <div id="tweetFeed13" class="column is-3">
            </div>
            <div id="tweetFeed14" class="column is-3">
            </div>
            <div id="tweetFeed15" class="column is-3">
            </div>
            <div id="tweetFeed16" class="column is-3">
            </div>
            <div id="tweetFeed17" class="column is-3">
            </div>
            <div id="tweetFeed18" class="column is-3">
            </div>
            <div id="tweetFeed19" class="column is-3">
            </div>
            <div id="tweetFeed20" class="column is-3">
            </div>
            <div id="tweetFeed21" class="column is-3">
            </div>
        </div>

    </div>
</section>

<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));

    twttr.ready(function (twttr) {
        twttr.widgets.createTweet('935507740503564288', document.getElementById('tweetFeed1'), {
            width: 500
        });
        twttr.widgets.createTweet('935222185458851841', document.getElementById('tweetFeed2'), {
            width: 500
        });
        twttr.widgets.createTweet('936116001120444416', document.getElementById('tweetFeed3'), {
            width: 500
        });
        twttr.widgets.createTweet('933676073824473088', document.getElementById('tweetFeed4'), {
            width: 500
        });
        twttr.widgets.createTweet('933706805573832705', document.getElementById('tweetFeed5'), {
            width: 500
        });
        twttr.widgets.createTweet('931551762430988288', document.getElementById('tweetFeed6'), {
            width: 500
        });
        twttr.widgets.createTweet('923171448281337856', document.getElementById('tweetFeed7'), {
            width: 500
        });
        twttr.widgets.createTweet('919171934541242369', document.getElementById('tweetFeed8'), {
            width: 500
        });
        twttr.widgets.createTweet('918763434627551233', document.getElementById('tweetFeed9'), {
            width: 500
        });
        twttr.widgets.createTweet('918756236883120129', document.getElementById('tweetFeed10'), {
            width: 500
        });
        twttr.widgets.createTweet('913719540827254785', document.getElementById('tweetFeed11'), {
            width: 500
        });
        twttr.widgets.createTweet('900996954037112832', document.getElementById('tweetFeed12'), {
            width: 500
        });
        twttr.widgets.createTweet('938480849233645569', document.getElementById('tweetFeed13'), {
            width: 500
        });
        twttr.widgets.createTweet('937520246566588416', document.getElementById('tweetFeed14'), {
            width: 500
        });
        twttr.widgets.createTweet('937022900229599232', document.getElementById('tweetFeed15'), {
            width: 500
        });
        twttr.widgets.createTweet('938470372013498368', document.getElementById('tweetFeed16'), {
            width: 500
        });
        twttr.widgets.createTweet('937019649178423297', document.getElementById('tweetFeed17'), {
            width: 500
        });
        twttr.widgets.createTweet('937520246566588416', document.getElementById('tweetFeed18'), {
            width: 500
        });
        twttr.widgets.createTweet('937019326569295876', document.getElementById('tweetFeed19'), {
            width: 500
        });
        twttr.widgets.createTweet('936861827283030019', document.getElementById('tweetFeed20'), {
            width: 500
        });
        twttr.widgets.createTweet('936532854040879104', document.getElementById('tweetFeed21'), {
            width: 500
        });

    });
</script>