@{ ViewData["Title"] = "Pricing"; }

<div class="header header-filter" style="background-image: url(' http://placehold.it/350x150');">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="container">
        <div class="section text-center section-landing">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="title">Connecting data from one End to the other.</h2>
                    <h5 class="description">All your processes deserve attention, you should be able to correlate that drop in sales with the outage
                        on your network effortless.
                    </h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="text-center">Standard</h4>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead">
                                <strong>free</strong>
                            </p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item">
                                Unlimited Datasources
                                <span class="glyphicon glyphicon-ok pull-right"></span>
                            </li>
                            <li class="list-group-item">
                                Unlimited Metrics
                                <span class="glyphicon glyphicon-ok pull-right"></span>
                            </li>
                            <li class="list-group-item">
                                Unlimited Widgets
                                <span class="glyphicon glyphicon-ok pull-right"></span>
                            </li>
                            <li class="list-group-item">
                                1 Dashboard per user
                                <span class="pull-right"></span>
                            </li>
                        </ul>
                        <div class="panel-footer" style="display:none;">
                            <a class="btn btn-lg btn-block btn-success">Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="text-center">Advanced TBA</h4>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead">
                                <strong> $/Month</strong>
                            </p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item">
                                All Standard Features
                                <span class="glyphicon glyphicon-ok pull-right"></span>
                            </li>
                            <li class="list-group-item">
                                Historian
                                <span class="glyphicon glyphicon-ok pull-right"></span>
                            </li>
                            <li class="list-group-item">
                                Multiple Dashboards
                                <span class="glyphicon glyphicon-ok pull-right"></span>
                            </li>
                            <li class="list-group-item">
                                Surprise #1
                                <span class="pull-right"></span>
                            </li>
                        </ul>
                        <div class="panel-footer" style="display:none;">
                            <a class="btn btn-lg btn-block btn-success">Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>

        <div class="container" style="background-color: #ffffff; padding: 10px 0px 10px 0px;">
            <div class="row" style="text-align: center;">
                <h4>
                    We are dedicated into keeping the basic features for free and continiously built one top of them. Please <b>subscribe</b>                    to be kept up to date.
                </h4>
                <br />
                <p>
                    The standard tier will be provided <b>forever</b> free. This includes unlimited datasources, metrics
                    and widgets (as shown above) <br /> The next tier will providce extra functionality and unfortunately
                    will require a monthly subscription with discount for existing users. Currently there is no release date
                    for Advanced Tier.
                </p>
            </div>
        </div>
    </div>
</div>