﻿@{ ViewData["Title"] = "Privacy Policy"; }

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Privacy Policy 🔏
            </h1>
            <h2 class="subtitle">
                Last Update August 01 2017
            </h2>
        </div>
    </div>
</section>

<div class="container is-size-5">
    <p>
        Following the European Union Directives, Regulations in Data Protection policies and the German laws on the matter, DataCircle
        i.G (The Firm, we, us) considers a priority to apply the existing related regulation and presents the following document
        with all the Data Policy rules and laws and how The Firm will use the subsequent information. The document will illustrate
        the way The Firm collects and process the User’s data, presenting how The Firm will adhere to data security standards
        regarding the user’s data.
    </p>

    <p>
        By visiting the Site, or using any of our Services, you agree that your personal information will be handled as described
        in this Policy. Your use of our Site or Services, and any dispute over privacy, is subject to this Policy and our
        Terms of Service, available below, including its applicable limitations on damages and the resolution of disputes.
        The Terms of Agreement are incorporated by reference into this Policy.
    </p>

    <br />
    <h3>
        <strong>
            INFORMATION COLLECTION AND USE
        </strong>
    </h3>

    <p>
        Regarding to the use of our services, The Firm will may ask the Users to provide The Firm certain personally identifiable
        information that shall be used to contact or identify the User. Personally identifiable information may include email
        address, name, other information like “personal information”, the following data will be collected as well. IP address
        of the requesting computer, Date and time of access, Name and URL of the downloaded file, Volume of transmitted data,
        Confirmation whether the request was successful, Data identifying the browser and operating system, Website from
        which our site was accessed, among others.
    </p>
    <p>
        This data is required for the use of the website (connection establishment, data transfer). We retain this information for
        purposes of system security, for technical administration of the network infrastructure as well as to improve the
        website, for a maximum of 24 hours.
    </p>
    <p>
        Only system administrators have access to this data. An assessment of this data only takes place in case of justified suspicion
        due to an attack on our network infrastructure or an improper use of our services.
    </p>
    <p>
        The Firm may collect information about the User directly from the User and from third parties, as well as automatically through
        the User’s visit and use of our Site or Services.
    </p>
    <br />
    <h3>
        <strong>Log Data</strong>
    </h3>
    <p>
        The Firm collects information that the User’s browser sends whenever the user visit our Service ("Log Data"). This Log Data
        may include information such as the user computer's Internet Protocol ("IP") address, browser type, browser version,
        the pages of our Service that you visit, the time and date of your visit, the time spent on those pages and other
        statistics.
    </p>
    <p>
        In addition, The Firm may use third party services such as Google Analytics that collect, monitor and analyze this type of
        information in order to increase The Firm Service's functionality. These third-party service providers have their
        own privacy policies addressing how they use such information.
    </p>
    <p>
        The information that The Firm collects from Social Networking Sites the user also may log into the Site and Application through
        third party open authentication providers. By logging in through these, the users are granting The Firm access to
        the data provided by these. The Firm stores the information that The Firm receives alongside other information that
        The Firm collects from the users or receive about the User. The Firm may automatically collect the following information
        about the User of our Site or Services through cookies, web beacons, and other technologies: the users domain name;
        browser type and operating system; web pages, the view; links the user’s click; IP address; the length of time the
        User’s visits The Firm ’s Site and or use the user’s Services; and the referring URL, or the webpage that led you
        to The Firm ’s Site, and the following: access time, browser type, domain name, IP address, page views and referring
        URL.
    </p>
    <br />
    <h3>
        <strong>TYPES OF DATA COLLECTED </strong>
    </h3>
    <h4>
        USE OF COOKIES
    </h4>
    <p>
        Like many websites, The Firm uses "cookies" to collect information. A cookie is a small text file that is transfer to your
        computer’s hard disk for record-keeping purposes. The Firm uses cookies for two purposes. First, The Firm utilize
        persistent cookies with a storage period of up to two years. These cookies will save the user’s registration data
        (User-ID and password, but no names) and if applicable language settings for future visits. Second, The Firm utilizes
        so called session ID cookies. Session ID cookies are deleted from the user’s computer when you log off from the site
        and service and then close your browser. The Firm uses these session ID cookies to better understand the user behavior
        on our website and to improve the appearance of the website for your device. The user can delete all of our cookies
        at any time. The Cookies will still exist even if the Firm changes his URL.
    </p>
    <p>
        The User may refuse / disable the use of cookies by changing the settings of the browser, however, this may mean the user
        cannot use all functions of this website.
    </p>
    <p>
        Persistent cookies remain on the User’s computer after the User have closed the browser or turned off the computer. The Firm
        uses persistent cookies to track aggregate and statistical information about the User activity.
    </p>
    <p>
        Third Party Cookies. The Firm may also engage third parties to track and analyse Site data. The Firm uses the data collected
        by such third parties to help the administer and improve the quality of the Site and to analyse Site usage.
    </p>
    <p>
        This Policy does not cover such third parties' use of the data. Disabling Cookies Most web browsers automatically accept
        cookies, but if the user prefer can edit the browser options to block them in the future. The Help portion of the
        toolbar on most browsers will tell the users how to prevent their computer from accepting new cookies, how to have
        the browser notify you when they receive a new cookie, or how to disable cookies altogether. Visitors to The Firm
        Site who disable cookies will be able to browse certain areas of the Site, but some features may not function.
    </p>
    <h4>
        USE OF GOOGLE SERVICES
    </h4>
    <h5>
        General Information
    </h5>
    <p>
        Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA (Google) provides website owners a variety of features
        and services to improve the detectability of websites in search engines, to advertise for and on the websites and
        to analyze the user behavior. The services of The Firm use are listed below.
    </p>
    <p>
        Information and services from Google are automatically triggered when visiting The Firm’s website. In this case, Google becomes
        aware of the IP address of the user and usually requests more data from your device (e.g. cookies, device data, device
        ID, information about browser and software). If your device has a phone number, Google also requests this. Whether
        this data is sent from your device to Google depends on the settings of your device.
    </p>
    <p>
        For all services from Google alone the Privacy Policy of Google applies, available at
        <a href="www.google.com/intl/en/policies/privacy/">www.google.com/intl/en/policies/privacy/</a>.
    </p>
    <h5>
        Google Analytics
    </h5>
    <p>
        This website uses Google Analytics, a web analytics service of Google Inc. (Google). Google Analytics uses cookies, small
        text files that are stored on your computer to help analyze how visitors use the website. The information generated
        by the cookie about your use of this website is usually transferred to a server of Google in the USA and stored there.
        The Firm enabled the IP anonymization of Google so your IP address will be truncated within member states of the
        European Union or other States parties to the Agreement on the European Economic Area prior to the transfer. Only
        in exceptional cases the complete IP address is transmitted to a Google server in the USA and shortened there.
    </p>
    <p>
        Google will use this information on behalf of the website operator to analyze the individual usage of the website, to create
        reports about website activities and to provide other services related to website and internet usage. In general,
        you can deactivate cookies (see 2.2) or install a browser-plugin that prevents the collection and analysis of data,
        generated by the cookie, and your behavior on the website (incl. your IP address) under the following link [https://tools.google.com/dlpage/gaoptout?hl=en].
    </p>
    <br />
    <h3>
        <strong>DETAILED INFORMATION ON THE PROCESSING OF PERSONAL DATA</strong>
    </h3>
    <h4>Personal Data is collected for the following purposes and using the following services: (The list of services and applications,
        named here is just illustrative</h4>
    <h5>Analytics</h5>
    <p>Google Analytics (Google)</p>
    <p>
        Google Analytics is a web analysis service provided by Google Inc. (“Google”).
    </p>
    <p>
        Google utilizes the Data collected to track and examine the use of this Application, to prepare reports on its activities
        and share them with other Google services.
    </p>
    <p>
        Google may use the Data collected to contextualize and personalize the ads of its own advertising network. Personal Data
        collected: Cookie and Usage data. Place of processing: USA.
    </p>
    <p>
        Google Tag Manager
    </p>
    <p>
        Google Tag Manager is a solution that allows marketers to manage website tags in an interface. The Tag Manager itself (which
        implements the tags) is a cookieless domain and does not collect any personal data. The tool activates tags that,
        as a result, might gather data. Google Tag Manager does not access or utilize this data if deactivation was carried
        out on a domain or cookie level, it remains for all tracking tags that are implemented with Google Tag Manager.
    </p>
    <p>
        Third Party Analytics We use automated devices and applications, such as Google Analytics, to evaluate usage of our Site.
        We also may use other analytic means to evaluate our Services. We use these tools to help us improve our Services,
        performance and user experiences. We do not share your personal information with these third parties
    </p>
    <br />
    <h3>
        <strong>
            SERVICE PROVIDERS
        </strong>
    </h3>
    <p>
        The Firm may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf,
        to perform Service-related services or to assist us in analysing how The Firm Service is used.
    </p>
    <p>
        These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated
        not to disclose or use it for any other purpose.
    </p>
    <br />
    <h3>
        <strong>
            CONTACTING THE USER
        </strong>
    </h3>
    <p>
        By filling in the contact form with their Data, the User authorizes this Application to use these details to reply to requests
        for information, quotes or any other kind of request as indicated by the form’s header. Personal Data collected:
        Address, Company name, Email address and First Name.
    </p>
    <br />
    <h3>
        <strong>REGISTRATION</strong>
    </h3>
    <p>
        When the User register with The Firm, it will ask the User to provide the User company name, name of the company’s contact
        person, email address and a valid phone number.
    </p>
    <p>
        In the case of the use of paid services, the specification of payment data is required.
    </p>
    <br />
    <h3>
        <strong>NEWSLETTER</strong>
    </h3>
    <p>
        Registered users can subscribe to the newsletter of The Firm. In this case The Firm uses the provided name and email address
        to send the newsletter. If the User no longer wish to receive the newsletter the User may unsubscribe at any time
        by using the unsubscribe link located at the bottom of the newsletter or by sending an email to The Firm.
    </p>
    <br />
    <h3>
        <strong>Location</strong>
    </h3>
    <p>
        All information including Personal Information are stored, processed and maintained within EU. Your consent to this Privacy
        Policy followed by your submission of such information represents your agreement.
    </p>
    <br />
    <h3>
        <strong>
            LIMITATION OF USE
        </strong>
    </h3>
    <p>
        All data collected by The Firm via the website will be collected, processed and used for the purpose of tailoring the service
        and for the purpose of providing the services offered by The Firm.
    </p>
    <p>
        The Firm may also use the collected data of registered user for the purpose of advertising its own services, as permitted
        under §28 Section 3 BDSG (German Federal Data Protection Act) and §7 Section 3 UWG (Law Against Unfair Competition).
        The User can object to such use of your data at any time with effect for the future by e-mail to The Firm.
    </p>
    <br />
    <h3>
        <strong>
            TERMS OF SERVICE – DATA PROCESSING ORDER
        </strong>
    </h3>
    <p>
        Data provided to The Firm for analytical purposes will only be used by The Firm in order to create the analyses requested
        by the User. The user is always in complete control over the data; The Firm does not use the data for its own purposes
        or the purposes of third parties.

    </p>
    <p>
        If The Firm receives access to data, that constitutes personal data in the meanings of § 3 Section 1 BDSG (German Federal
        Data Protection Law), depending on jurisdiction that applies for the user, an additional agreement for data processing
        might be required. This applies in particular to users that are subject to German or European Data Protection Law.
        The Firm provides for these cases an agreement which the user can request by e-mail at The Firm.

    </p>
    <br />
    <h3>
        <strong>
            DATA TRANSFER TO THIRD PARTIES
        </strong>
    </h3>
    <p>
        The Firm will disclose personal data to third parties only if this is permissible under the German Federal Data Protection
        Law. Service providers who process data on behalf of The Firm or perform maintenance services on the systems of The
        Firm will only be assigned if they have signed a written data processing agreement according to § 11 BDSG. The Firm
        will not disclose personal data of users to third parties for advertising purposes.

    </p>
    <br />
    <h3>
        <strong>
            LINKS TO THIRD- PARTY LINKS OR OTHER SITES
        </strong>
    </h3>
    <p>
        Third-Party Links The Firm’s Site and Services may contain links to third-party websites. Any access to and use of such linked
        websites is not governed by this Policy, but instead is governed by the privacy policies of those third-party websites.
        The Firm is not responsible for the information practices of such third-party websites.

    </p>
    <br />
    <h3>
        <strong>
            CHANGES TO PRIVACY POLICY
        </strong>
    </h3>
    <p>
        The Firm reserves the right to amend its Privacy Policy from time to time in order to reflect the functions of the website
        and the service. For visitors to the website the current version of the Privacy Statement applies, existing customers
        will be informed separately regarding changes in the Privacy Policy.

    </p>
    <br />
    <h3>
        <strong>
            CHILDREN'S PRIVACY
        </strong>
    </h3>
    <p>
        The Firm’s Service does not address anyone under the age of 13 ("Children"). The Firm does not knowingly collect personally
        identifiable information from children under 13. If you are a parent or guardian and you are aware that your Children
        has provided us with Personal Information, please contact us. If The Firm become aware that we have collected Personal
        Information from a children under age 13 without verification of parental consent, we take steps to remove that information
        from The Firm’s servers.


    </p>
    <br />
    <h3>
        <strong>
            SECURITY
        </strong>
    </h3>
    <p>
        Security of the User’s Personal Information, The Firm has implemented commercially reasonable precautions, including, where
        appropriate, password protection, encryption, SSL, firewalls, and internal restrictions on who may access data to
        protect The Firm’s information we collect from loss, misuse, and unauthorized access, disclosure, alteration, and
        destruction.

    </p>
    <p>
        Please be aware that despite our best efforts, no data security measures can guarantee 100% security. The User should take
        steps to protect against unauthorized access to their password, phone, and computer by, among other things, signing
        off after using a shared computer, choosing a robust password that nobody else knows or can easily guess, and keeping
        your log-in and password private. The Firm is not responsible for any lost, stolen, or compromised passwords or for
        any activity on the account via unauthorized password activity.

    </p>
    <br />
    <h3>
        <strong>
            INTERNATIONAL TRANSFER
        </strong>
    </h3>
    <p>
        The User’s information, including Personal Information, may be transferred to - and maintained on - computers located outside
        of your state, province, country or other governmental jurisdiction where the data protection laws may differ than
        those from your jurisdiction.

    </p>
    <p>
        If you are located outside Germany and choose to provide information to us, please note that we transfer the information,
        including Personal Information, to Germany and process it there.

    </p>
    <p>
        Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.

    </p>
    <br />
    <h3>
        <strong>
            COMMUNICATIONS
        </strong>
    </h3>
    <p>
        The Firm may use your Personal Information to contact you with newsletters, marketing or promotional materials and other
        information that may be of interest to you. The User may opt out of receiving any, or all, of these communications
        from us by following the unsubscribe link or instructions provided in any email The Firm send.

    </p>
    <p>
        The Firm may use your information, such as your email address, to send you news and newsletters, special offers, and promotions,
        or to otherwise contact you about products or information The Firm think may interest you. To better understand how
        users access and use our Site and Services, both on an aggregated and individualized basis, in order to improve our
        Site and Services and respond to user desires and preferences, and for other research and analytical purposes. The
        Firm may share the information that collect about the User, including personally identifiable information, as follows:
        Service Providers: The Firm may disclose the information that has collected from the User to their affiliates or
        subsidiaries; however, if we do so, their use and disclosure of your personally identifiable information will be
        subject to this Policy. Service Providers. The Firm may disclose the information that has been collected from you
        to third party vendors, service providers, contractors or agents who perform functions on our behalf. - Business
        Transfers If The Firm is acquired by or merged with another company, if substantially all of te Firm’s assets are
        transferred to another company, or as part of a bankruptcy proceeding, The Firm may transfer the information that
        has been collected from you to the other company. - In Response to Legal Process. The Firm also may disclose the
        information we collect from you in order to comply with the law, a judicial proceeding, court order, or other legal
        process, such as in response to a court order or a subpoena. -To Protect The Firm and Others- The Firm also may disclose
        the information that has been collected from you where The Firm believe it is necessary to investigate, prevent,
        or take action regarding illegal activities, suspected fraud, situations involving potential threats to the safety
        of any person, violations of our Terms of Use or this Policy, or as evidence in litigation in which The Firm is involved.
        Aggregate and De-Identified Information - The Firm may share aggregate or de-identified information about users with
        third parties for marketing, advertising, research or similar purposes.

    </p>
    <br />
    <h3>
        <strong>
            MODE AND PLACE OF PROCESSING THE DATA
        </strong>
    </h3>
    <h4>
        Methods of processing

    </h4>
    <p>
        The Data Controller processes the Data of Users in a proper manner and shall take appropriate security measures to prevent
        unauthorized access, disclosure, modification, or unauthorized destruction of the Data. The Data processing is carried
        out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the
        purposes indicated. In addition to the Data Controller, in some cases, the Data may be accessible to certain types
        of persons in charge, involved with the operation of the site (administration, sales, marketing, legal, system administration)
        or external parties (such as third party technical service providers, mail carriers, hosting providers, IT companies,
        communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated list of these parties
        may be requested from the Data Controller at any time.

    </p>
    <h4>
        PLACE
    </h4>
    <p>
        The Data is processed at the Data Controller's operating offices and in any other places where the parties involved with
        the processing are located. For further information, please contact the Data Controller.

    </p>
    <h4>
        RETENTION TIME
    </h4>
    <p>
        The Data is kept for the time necessary to provide the service requested by the User, or stated by the purposes outlined
        in this document, and the User can always request that the Data Controller suspend or remove the data.

    </p>
    <h4>
        THE USE OF THE COLLECTED DATA
    </h4>

    <p>
        The Data concerning the User is collected to allow the Owner to provide its services, as well as for the following purposes:
        Contacting the User and Analytics.

    </p>
    <p>
        The Personal Data used for each purpose is outlined in the specific sections of this document.
    </p>
    <br />
    <h3>
        <strong>
            ADDTIONAL INFORMATION ABOUT DATA COLLECTION AND PROCESSING
        </strong>
    </h3>
    <h4>
        LEGAL ACTION
    </h4>
    <p>
        The User's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages leading to possible
        legal action arising from improper use of this Application or the related services. The User declares to be aware
        that the Data Controller may be required to reveal personal data upon request of public authorities.

    </p>
    <h4>
        ADDITIONAL INFORMATION ABOUT USER'S PERSONAL DATA
    </h4>
    <p>
        In addition to the information contained in this Privacy Policy, this Application may provide the User with additional and
        contextual information concerning particular services or the collection and processing of Personal Data upon request.

    </p>
    <h4>
        SYSTEM LOGS AND MAINTENANCE
    </h4>
    <p>
        For operation and maintenance purposes, this Application and any third-party services may collect files that record interaction
        with this Application (System Logs) or use for this purpose other Personal Data (such as IP Address).

    </p>
    <br />
    <h3>
        <strong>
            INFORMATION NOT CONTAINED IN THIS POLICY
        </strong>
    </h3>
    <p>
        More details concerning the collection or processing of Personal Data may be requested from the Data Controller at any time.
        Please see the contact information at the beginning of this document.

    </p>
    <br />
    <h3>
        <strong>
            THE RIGHTS OF USERS
        </strong>
    </h3>
    <p>
        Users have the right, at any time, to know whether their Personal Data has been stored and can consult the Data Controller
        to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented, cancelled,
        updated or corrected, or for their transformation into anonymous format or to block any data held in violation of
        the law, as well as to oppose their treatment for any and all legitimate reasons. Requests should be sent to the
        Data Controller at the contact information set out above.

    </p>
    <p>
        This Application does not support “Do Not Track” requests.
    </p>
    <p>
        To determine whether any of the third-party services it uses honour the “Do Not Track” requests, please read their privacy
        policies.

    </p>
    <br />
    <h3>
        <strong>
            INFORMATION ABOUT THIS PRIVACY POLICY
        </strong>
    </h3>
    <p>
        The Data Controller is responsible for this Privacy Policy, prepared starting from the modules provided by The Firm.

    </p>
    <br />
    <h3>
        <strong>Contact Us</strong>
    </h3>
    <p>
        We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on
        this page. You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy
        are effective when they are posted on this page.
    </p>
    <p>
        For any further assistance please contact us
        <a href="mailto:support@datacircle.io" class="btn btn-simple btn-primary btn-lg">support@datacircle.io</a>
    </p>
</div>