﻿@{ ViewData["Title"] = "Survey"; }

<div class="header header-filter">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>

<div class="">
    <div class="container text-center">
        <iframe id="survey" src="https://docs.google.com/forms/d/e/1FAIpQLSfspr-PKYqKIbfOE2ozFiAa8eTa7DBpDYQL3-q-c5-v6R9q2Q/viewform?embedded=tru" width="760" height="2750" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
</div>

<script>

        setTimeout(function () {
            $('html, body').animate({
                scrollTop: $("#survey").offset().top
            }, 1000);
        }, 200);
</script>