@{ ViewData["Title"] = "The System"; }

<section class="hero is-light is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <h1 class="title is-1">The Stack</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="column is-12 has-text-centered">
            <h1 class="title is-2">
                Security
            </h1>
            <br />
        </div>
        <div class="columns is-vcentered">
            <div class="column has-text-centered">
                <h3 class="title is-1 has-icons-right">
                    <span class="has-text-success">
                        <i class="fa fa-shield fa-xl" aria-hidden="true"></i>
                    </span>
                </h3>
            </div>
            <div class="column">
                <div class="block">
                    <div class="field">

                    </div>
                </div>
                <div class="block">
                    <div class="field">

                    </div>
                </div>
                <div class="block">
                    <div class="field">
                        <div class="content">
                            <blockquote>
                                <p class="control">
                                    Security is our top-most concern.
                                </p>
                                <p class="control">
                                    We are fully HTTPS enabled. Your data are always secured on multiple levels by leveraging features from MSSQL to encrypt
                                    data even on a row level.
                                </p>
                                <p> Furthermore, we dedicate ourselves into providing a clean UI for you to setup your security
                                    settings easily.
                                </p>
                            </blockquote>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column has-text-centered">
                <a href="https://www.microsoft.com/net/" target="_blank" class="pointer">
                    <img src="https://github.com/campusMVP/dotnetCoreLogoPack/blob/master/.NET%20Core/Bitmap%20RGB/NET-Core-Logo_2colors_Boxed_RGB_bitmap_MEDIUM.png?raw=true"
                        alt="DotNet Core">
                </a>
                <p class="is-7">
                    <a rel="nofollow" class="external text" href="https://github.com/campusMVP/dotnetCoreLogoPack/blob/master/.NET%20Core/Bitmap%20RGB/NET-Core-Logo_2colors_Boxed_RGB_bitmap_BIG.png">
                        DotNetCore Logo</a> by
                    <a href="http://www.campusmvp.es">campusMVP</a> and
                    <a href="https://twitter.com/piglesias">Pablo Iglesias</a> is licensed under
                    <a rel="nofollow" class="external text" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
                </p>
            </div>

            <div class="column">
                <div class="block">
                    <div class="field">
                        <div class="content">
                            <blockquote>
                                We are dedicated in using open source solutions that enable us to provide enterprise grade products. DotNet provides an complete
                                ecosystem for any system and by employing ASP.Net we can rest assured that we ship quality
                                features without a hassle.
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column has-text-centered">
                <a href="https://www.microsoft.com/en-us/sql-server/sql-server-2016" target="_blank" class="pointer">
                    <img style="width:70%; height:auto;" src="/images/system/mssql.jpg" alt="Microsoft sql server">
                </a>
            </div>

            <div class="column">
                <div class="block">
                    <div class="field">
                        <div class="content">
                            <blockquote>
                                <p>
                                    DotNet would not be complete without a Microsoft SQL Server to help get through the day.
                                    <br> MSSQL is the leading ODBMS with features, such as database and column encryption, you
                                    can be sure your data are safe.
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column has-text-centered">
                <a href="https://www.ubuntu.com/" target="_blank" class="pointer">
                    <img src="~/images/system/ubuntu_orange_hex_su.svg" alt="Ubuntu">
                </a>
            </div>

            <div class="column">
                <div class="block">
                    <div class="field">
                        <div class="content">
                            <blockquote>
                                Ubuntu is a reliable open source server solution providing Performance and versatility.
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column has-text-centered">
                <a href="https://letsencrypt.org/" target="_blank" class="pointer">
                    <img style="width:40%; height:auto;" src="~/images/system/le-logo-standard.svg" alt="Let's Encrypt" style="height: 100%; width: 100%">
                </a>
            </div>

            <div class="column">
                <div class="block">
                    <div class="field">
                        <div class="content">
                            <blockquote>
                                It's all about security and Let's Encrypt has done a great job supporting HTTPS and allowing safer internet transactions.
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <h3 class="title is-3"> Supported Databases </h3>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-2">
                <a href="https://www.mongodb.com/" target="_blank" class="pointer" title="Not supported yet." style="opacity:0.3;">
                    <img style="width: 100%; height: auto;" src="~/images/integrations/mongodb.jpg" alt="MongoDB" />
                </a>
            </div>
            <div class="column is-2">
                <a href="https://www.microsoft.com/en-us/sql-server/sql-server-2016" target="_blank" class="pointer">
                    <img style="width: 100%; height: auto;" src="~/images/integrations/mssql.jpg" alt="MSSQL" />
                </a>
            </div>
            <div class="column is-2">
                <a href="https://aws.amazon.com/redshift/" target="_blank" class="pointer" title="Not supported yet." style="opacity:0.3;">
                    <img style="width: 80%; height: auto;" src="~/images/integrations/Database_AmazonRedshift.svg" alt="Amazon Redshift" />
                </a>
            </div>
            <div class="column is-2">
                <a href="https://www.mysql.com/" target="_blank" class="pointer" title="MySql is supported">
                    <img style="width: 100%; height: auto;" src="~/images/integrations/mysql.png" alt="MySQL" />
                </a>
            </div>
            <div class="column is-2">
                <a href="https://www.postgresql.org/" target="_blank" class="pointer" title="Not supported yet." style="opacity:0.3;">
                    <img style="width: 100%; height: auto;" src="~/images/integrations/postgres.png" alt="PostgreSQL" />
                </a>
            </div>
            <div class="column is-2">
                <a href="https://mariadb.org/" target="_blank" class="pointer" title="Not supported yet." style="opacity:0.3;">
                    <img style="width: 100%; height: auto;" src="http://badges.mariadb.org/mariadb-badge-125x50.png" alt="MariaDB" />
                </a>
            </div>
        </div>
    </div>
</section>