﻿@{ ViewData["Title"] = "Terms of Service"; }

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Terms of Service ⚖️
            </h1>
            <h2 class="subtitle">
                Last Update August 01 2017
            </h2>
        </div>
    </div>
</section>

<div class="container">
    <p>
        Following the European Union Directives and Regulations in Data Protection policies and the German laws on the matter, DataCircle
        i.G (The Firm, we, us) considers a priority to apply the existing related regulation and presents the following document
        with all the Terms and Conditions rules and laws and how The Firm will use the subsequent information. The document
        will illustrate the way The Firm collects and process the User’s data, presenting how The Firm will adhere to data
        security standards regarding the user’s data.
    </p>
    <br />
    <h3>
        <strong>APPLICABILITY</strong>
    </h3>
    <p>
        These Terms and Conditions are a legal contract between the user or visitor of the platform and The Firm. By accessing to
        our platform the user or visitor agreeing to all of the Terms and Conditions, if they are not agree with any of these
        Terms, they must nor access or use any information contained on this platform.
    </p>
    <p>
        The user’s general Terms and Conditions shall not apply, unless they are approved by The Firm through a written agreement.
        By using this service in any manner; including, but not limited to, visiting the site or contributing content, information,
        or other materials to the site, you agree to be bound by this Agreement.
    </p>
    <br />
    <h3>
        <strong>
            REGISTRATION AND CONDITIONS OF USE:
        </strong>
    </h3>
    <p>
        For the purpose of this document "Terms and Conditions" the following definition apply. A "User" means the natural person
        or undertaking that has been accepted the following Terms and Conditions and has a current account with The Firm.
    </p>
    <p>
        By using The Firm, you represent, acknowledge and agree that you are at least 18 years of age, or if you are under 18 years
        of age but are at least 13 years old (a “Minor”), that you are using the Site with the consent of your parent or
        legal guardian and that you have received your parent’s or legal guardian’s permission to use the Site and agree
        to its Terms. If you are a parent or legal guardian of a Minor, you hereby agree to bind the Minor to these Terms
        and to fully indemnify and hold harmless The Firm if the Minor breaches any of these Terms. If you are not at least
        13 years old, you may not use the Site at any time or in any manner or submit any information to The Firm or the
        Site.
    </p>
    <p>
        The use of the services requires the registration as a user. Your Account user ID and password, along with any assigned keys
        or other credentials provided to you must be treated as confidential. The Firm will not be liable for any loss resulting
        from the unauthorized use of Your Account password or any assigned access keys or credentials
    </p>
    <p>
        The user is obliged to provide true, accurate, current and complete registration data, and to maintain this by promptly updating
        the registration data, and other mandatory disclosures including payment information, when necessary. If you provide
        any information that is untrue, inaccurate, not current or incomplete or if The Firm has reasonable grounds to suspect
        that such information is untrue, inaccurate, not current, or incomplete; The Firm has the right to suspend, or terminate
        your account and prevent your access to potentially all of the services and, or content (or other users' access to
        your content), and refuse any future use of the service (or any portion thereof), or content.
    </p>
    <p>
        You understand that your content (not including credit card information), may be transferred unencrypted and involve (a)
        transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting
        networks or devices. Credit card information is always encrypted during transfer over networks.
    </p>
    <p>
        If you are entering into this agreement on behalf of a firm or other legal entity, you confirm that you have the authority
        to bind such entity to these Terms and Conditions, in which case the terms "you" or "your" shall refer to such entity.
        If you do not have such authority, or if you do not agree with these Terms and Conditions; you must not accept this
        agreement, nor use the service.
    </p>
    <p>
        You own or otherwise control and have sufficient rights and consents to provide all Applications, Brand Features and Marks
        or Content for use by firm in the manner contemplated by this Agreement and none of the Applications, Brand Features
        and Marks or Content infringes, misappropriates or violates any rights of any third parties.
    </p>
    <p>
        The Firm’s services are online services; therefore all communications including notices, or other information will be delivered
        electronically, or as an announcement via the users account. The user is obliged to ensure that emails sent to the
        email address specified, can be received and agrees to check his email inbox at least once each working day. The
        user has to ensure that the settings of his email account are set accordingly, so that The Firm’s emails will not
        be sorted out by the spam filter.
    </p>
    <p>
        The user consents to receiving electronic communications from The Firm. These electronic communications may include notices
        about applicable fees and charges, transactional information and other information concerning or related to the Site
        and/or Services provided on or through the Site. These electronic communications are part of your relationship with
        The Firm. You agree that any notices, agreements, disclosures or other communications that The Firm sends you electronically
        will satisfy any legal communication requirements, including that such communications be in writing.
    </p>
    <p>
        You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access
        to the Service or any contact on the website through which the service is provided, without express written permission
        by us. The headings used in this agreement are included for convenience only and will not limit or otherwise affect
        these Terms.
    </p>
    <p>
        The Firm reserve the right to refuse service to anyone for any reason at any time.
    </p>
    <br />
    <h3>
        <strong>
            SUBMISSIONS
        </strong>
    </h3>
    <p>
        A “Submission” is any information, data, opinions, Data Sets, messages, comments, collaboration, tags, queries, searches,
        photos, videos, graphics, sounds and other content or material that is submitted, uploaded, posted or otherwise made
        available on or through the Site or through the Services available in connection with this Site.
    </p>
    <p>
        You are responsible for all Submissions you submit, upload, post or otherwise make available on or through the Site or through
        the Services available in connection with this Site. You may not upload, post or otherwise make available on this
        Site any material protected by copyright, trademark, or any other proprietary right without the express permission
        of the owner of such copyright, trademark or other proprietary right owned by a third-party, and the burden of determining
        whether you have sufficient permission to share such information is on you. You shall be solely liable for any damage
        resulting from any infringement of copyrights, trademarks, proprietary rights, violation of contract, privacy or
        publicity rights or any other harm resulting from any Submission that you make. You have full responsibility for
        each Submission you make, including its legality, reliability and appropriateness.
    </p>
    <p>
        You agree that any Submission provided by you in connection with this Site is provided on a non-confidential basis. Unless
        your Submission is a “private” Data case in which it will be applicable the specific regulations, and this implied
        that you hereby grant to The Firm a non-exclusive, perpetual, irrevocable, royalty-free, fully paid-up, worldwide
        license (including the right to sublicense through multiple tiers) to use, reproduce, process, adapt, publicly perform,
        publicly display, modify, prepare derivative works, publish, transmit and distribute each of your Submissions, or
        any portion thereof, in any form, medium or distribution method now known or hereafter existing, known or developed,
        and authorize others to use the Submissions. If your submission is a “private” Data, you hereby grant The Firm a
        non-exclusive, perpetual, irrevocable, fully paid-up, worldwide license to use, reproduce, process, adapt, publicly
        perform, publicly display, modify, prepare derivative works, publish, transmit and distribute each of your Submissions,
        or any portion thereof, in any form, medium or distribution method now known or hereafter existing, known or developed
        solely to provide the Services.
    </p>
    <p>
        The Firm may modify or adapt your Submissions in order to transmit, display or distribute them over computer networks and
        in various media and/or make changes to the Submissions as necessary to conform and adapt them to any requirements
        or limitations of any networks, devices, services or media.
    </p>
    <p>
        The Firm expects all Users and visitors to the Site to respect the intellectual property rights of others, and take the protections
        of those rights seriously. Infringing activity on the Site will not be tolerated. In line with this policy, Users
        must ensure that all Submissions do not violate copyright laws. The Firm may, in appropriate circumstances and at
        its discretion, terminate service and/or access to this Site for Users or visitors who infringe the intellectual
        property rights of others.
    </p>
    <br />
    <h3>
        <strong>
            DESCRIPTION AND MODIFICATIONS OF SERVICE
        </strong>
    </h3>
    <p>
        We reserve the right, at our sole discretion, to update, change or replace any part of these Terms of Service by posting
        updates and changes to our site. In this order, we reserve the right at any time to modify or discontinue the Service
        (or any part or content thereof) without notice at any time. By continuing to access or use our Service after those
        revisions become effective, you agree to be bound by the revised terms. You can review the most current version of
        the Terms of Service at any time at this page. We shall not be liable to you or to any third-party for any modification,
        price change, suspension or discontinuance of the Service It is your responsibility to check our website periodically
        for changes. Your continued use of or access to our website or the Service following the posting of any changes to
        these Terms of Service constitutes acceptance of those changes. If you do not agree to the new terms, please stop
        using the Service.
    </p>
    <p>
        The Firm provides content on the Site that is copyrighted and/or trademarked work of The Firm or The Firm’s third-party licensors
        and suppliers or other visitors and users of the Site (collectively, the “Materials”). Materials may include logos,
        graphics, video, images, software and other content. The Firm also provides its Users (as defined below) and visitors
        to the Site with access to data tables, data and databases, including without limitation any images, video, data
        of varying nature and other content contained therein that are the property of third parties or other visitors and
        Users. This Data are not deemed to be Materials for purposes of these Terms.
    </p>
    <p>
        Subject to the Terms and Conditions of these Terms, and your compliance with these Terms, The Firm hereby grants you a limited,
        personal, non-exclusive and non-transferable license to use and to display the Materials and to use this Site solely
        for your personal use. Except for the foregoing license, you have no other rights in the Site or any Materials and
        you may not modify, edit, copy, reproduce, create derivative works of, reverse engineer, alter, enhance or in any
        way exploit any of the Site or Materials in any manner. If you breach any of these Terms, the above license will
        terminate automatically, and you must immediately destroy any downloaded or printed Materials.
    </p>
    <p>
        You may use, copy, and distribute the Data (including allowing The Firm to use, copy, and distribute the Data to provide
        the “Services”) solely as permitted by the third-party licenses applicable to such Data. You understand that The
        Firm may remove Data, including without limitation derivatives of and/or results from using the Data from the Service
        at any time if required by law or otherwise in its sole discretion. Your searches or saved Data may be negatively
        impacted by such removal.
    </p>
    <br />
    <h3>
        <strong>
            THIRD PARTY SERVICES:
        </strong>
    </h3>
    <p>
        For the purpose of this document "Terms and Conditions" the following definition apply. A "Third Party" means the natural
        person or undertaking that is not related to the Firm-User relation.
    </p>
    <p>
        The Firm may offer its users analytical services of third parties. Such services will be declared as third party offers.
        Solely, the Terms and Conditions and privacy policies of these third parties apply to the use of their respective
        services.
    </p>
    <p>
        The user or visitor acknowledge and agree that each Data is licensed under separate terms and that the license terms applicable
        to any Data may not be the same as or compatible with the terms applicable to any other Data. The user or visitor
        hereby agree to comply with any and all license terms applicable to any Data used by them.
    </p>
    <p>
        The Firm does not verify, make any representations or take responsibility for such third-party data, including, without limitation,
        the truthfulness, accuracy, quality or completeness of the content thereof, the accuracy of the designated license
        terms, the suitability of the data for your use or the compatibility of the data with any other data, even if linkages
        are suggested by The Firm.
    </p>
    <p>
        This Site may be linked to other websites that are not The Firm sites, including, without limitation, social networking,
        blogging and similar websites through which you are able to log into this Site using your existing account and log-in
        credentials for such third-party sites, including, without limitation, Google and Github (any and all of which of
        the foregoing listed websites may change from time to time) and websites that provide question-and-answer forum functionality
        (collectively, “Third-Party Sites”). Certain areas of the Site may allow you to interact and/or conduct transactions
        with such Third-Party Sites, and, if applicable, allow you to configure your privacy settings in your Third-Party
        Site account to permit your activities on this Site to be shared with your contacts in your Third-Party Site account
        and, in certain situations, you may be transferred to a Third-Party Site through a link but it may appear that you
        are still on this Site. In any case, you acknowledge and agree that the Third-Party Sites may have different privacy
        policies and Terms and Conditions and/or user guides and business practices than The Firm, and you further acknowledge
        and agree that your use of such Third-Party Sites is governed by the respective Third-Party Site privacy policy and
        Terms and Conditions and/or user guides. The Firm is providing links to the Third-Party Sites to you as a convenience,
        and The Firm does not verify, make any representations or take responsibility for such Third-Party Sites, including,
        without limitation, the truthfulness, accuracy, quality or completeness of the content, services, links displayed
        and/or any other activities conducted on or through such Third-Party Sites.
    </p>
    <p>
        The user or visitor agree that The Firm will not, under any circumstances, be responsible or liable, directly or indirectly,
        for any goods, services, information, resources and/or content available on or through any third-party sites and/or
        third-party dealings or communications, or for any harm related thereto, or for any damages or loss caused or alleged
        to be caused by or in connection with your use or reliance on the content, data or business practices of any third-party.
    </p>
    <p>
        Any reference on the Site to any product, service, publication, institution, organization of any third-party entity or individual
        does not constitute or imply The Firm’s endorsement or recommendation.
    </p>
    <br />
    <h3>
        <strong>
            USER OBLIGATIONS:
        </strong>
    </h3>
    <p>
        The user is obliged to maintain the confidentiality of his login, password and account details, and shall not disclose this
        information to third parties. The user is fully responsible for all activities that occur under his password or account.
        If the user becomes aware or believes that this personal information has been disclosed to an unauthorized third
        party, then he is obliged to immediately change this data.
    </p>
    <p>
        The user or visitor is responsible and is authorized under the respective legislation and internal firm guidelines may provide
        The Firm with the login details of the user’s firm servers and systems that The Firm requires, in order to offer
        the service in a complete way. Same should apply if the user assigns The Firm to copy the data stored in the systems
        of the user, for analytical purposes.
    </p>
    <p>
        The user shall give The Firm only after legitimate evaluations of data that he has lawfully collected, or otherwise obtained
        lawfully by the user, or by the user's firm. It is the user’s sole responsibility to ensure the compliance with the
        applicable data privacy laws. The information will be not modified unless that will be used for other services.
    </p>
    <br />
    <h3>
        <strong>
            RIGHTS OF USE:
        </strong>
    </h3>
    <p>
        The Firm grants the user, and the agreed number of additional users, for the duration of the contract, a non-exclusive and
        limited right of use, of the purchased services to the agreed extent via The Firm’s website.
    </p>
    <p>
        The parties agree to grant each other the use of their logo and firm name as a reference on the other party’s website, or
        within firm presentations. Each party might decline the use of their logo and firm name at any time for a specific
        case, or generally with effect for the future. An objection requires the written form.
    </p>
    <p>
        Subject to Your compliance with the Terms and Conditions of this Agreement, Firm hereby grants You, solely during the term
        of this Agreement, a non-exclusive, non-transferable, revocable license, without rights to sublicense, to incorporate
        libraries and APIs that are included in The Firm Software into Your Applications, to reproduce and distribute such
        libraries and APIs together with Your Applications and to access, use, perform and display The Firm Software via
        the Internet, solely for use with Your Applications.
    </p>
    <p>
        If you believe that your work is the subject of copyright infringement and/or trademark infringement, please provide notice
        containing the following information: i) a physical or electronic signature of a person authorized to act on behalf
        of the owner of an exclusive right that is allegedly infringed; ii) identification of the copyrighted and/or trademarked
        work claimed to have been infringed, or if multiple works at the Site are covered by a single notification, a representative
        list of such works; iii) identification of the material that is claimed to be infringing or to be the subject of
        infringing activity and that is to be removed or access to which is to be disabled at the Site, and information reasonably
        sufficient to permit The Firm to locate such material; iv) information reasonably sufficient to permit The Firm to
        contact you as the complaining party, such as an address, telephone number, and if available, an email address at
        which you may be contacted; and v) a statement that the information in the notification is accurate, and under penalty
        of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
    </p>
    <br />
    <h3>
        <strong>
            RIGTHS OF DATACIRCLE IN CASE OF BREACH OF THE TERMS OF SERVICE:
        </strong>
    </h3>
    <p>
        In case a third party can prove credibly that they have been violated in their rights, while The Firm is providing its services
        on behalf of the user (e.g. due to access to a database, database mirroring or analysis of this database), The Firm
        is authorized to terminate its services on its own behalf to avoid any liability until the legal situation is satisfactorily
        clarified.
    </p>
    <p>
        The Firm reserves the right to close the account of any user and terminate the contract, in case the user repeatedly breaches
        or seriously violates this terms of service.
    </p>
    <p>
        The claim for fees of The Firm persists in the case of a justified account cancellation, according to the provisions set
        out above.
    </p>
    <br />
    <h3>
        <strong>
            DURATION AND TERMINATION:
        </strong>
    </h3>
    <p>
        The duration of the services is determined by the offer chosen. Normally the duration is two years, one year, or six months.
    </p>
    <p>
        The booked services shall extend automatically by the original requested duration, unless otherwise agreed, or terminated
        by one of the parties in due time. In case the first contract term is more than a year, the renewal period will be
        one year. A modification of the first term requires the written form.
    </p>
    <p>
        The notice period for the termination of services is eight weeks prior to the end of the contract for a term of six months,
        twelve weeks for a term of one year and sixteen weeks for a term of two years.
    </p>
    <p>
        Termination must be in writing; transmission via email must be sent to support@datacircle.io Alternatively, The Firm may
        entitle its users to terminate their contract via their user account.
    </p>
    <p>
        The Firm has an exceptional right of termination if the user contradicts to a technical required change of service, according
        to this Terms and Conditions.
    </p>
    <br />
    <h3>
        <strong>
            AVAILABILITY OF SERVICES:
        </strong>
    </h3>
    <p>
        We are not responsible if information made available on this site is not accurate, complete or current. The material on this
        site is provided for general information only and should not be relied upon or used as the sole basis for making
        decisions without consulting primary, more accurate, more complete or timelier sources of information. Any reliance
        on the material on this site is at your own risk.
    </p>
    <p>
        This site may contain certain historical information. Historical information, necessarily, is not current and is provided
        for your reference only. We reserve the right to modify the contents of this site at any time, but we have no obligation
        to update any information on our site. You agree that it is your responsibility to monitor changes to our site.
    </p>
    <p>
        If the unavailability of services, or of a single service is based on intent or gross negligence on parts of The Firm, or
        of one of The Firm’s agents; The Firm cannot refer to the compliance to availability commitments according to this
        Terms and Conditions.
    </p>

    <br />
    <h3>
        <strong>
            LIABILITY
        </strong>
    </h3>
    <p>
        In no event shall The Firm, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect,
        incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use,
        goodwill, or other intangible losses, resulting from (i) your access to or use of or inability to access or use the
        Service; (ii) any conduct or content of any third party on the Service; (iii) any content obtained from the Service;
        and (iv) unauthorized access, use or alteration of your transmissions or content, whether based on warranty, contract,
        tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility of
        such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.
    </p>
    <p>
        The Firm shall be liable without limitation to pay compensation for violation of contractual and non-contractual obligations,
        only in case of intent or gross negligence.
    </p>
    <p>
        The Firm shall only be held liable for cases involving the intent and gross negligence of non-executive agents, if such agents
        have violated essential contractual obligations.
    </p>
    <p>
        The Firm shall not be liable for breaches of nonessential contractual obligations through simple negligence by its management
        bodies, executive officers, employees, or other agents.
    </p>
    <p>
        Essential obligations are obligations, that are essential for the due, and proper implementation and fulfillment of the contract,
        and with those contract partners can reasonably and regularly rely on.
    </p>
    <p>
        In case of infringements of important contractual obligations, the liability shall be limited to the foreseeable loss for
        such type of contract.
    </p>
    <p>
        The above limitations of liability do not apply to The Firm’s liability with regards to; intent or gross negligence, guaranteed
        quality features, injury to life, body or health, or product liability laws.
    </p>
    <p>
        Certain content, products and services available via our Service may include materials from third-parties. Third-party links
        on this site may direct you to third-party websites that are not affiliated with us. We are not responsible for examining
        or evaluating the content or accuracy and we do not warrant and will not have any liability or responsibility for
        any third-party materials or websites, or for any other materials, products, or services of third-parties. We are
        not liable for any harm or damages related to the purchase or use of goods, services, resources, content, or any
        other transactions made in connection with any third-party websites. Please review carefully the third- party's policies
        and practices and make sure you understand them before you engage in any transaction. Complaints, claims, concerns,
        or questions regarding third-party products should be directed to the third-party.
    </p>
    <p>
        We do not guarantee, represent or warrant that your use of our service will be uninterrupted, timely, secure or error-free.
        We do not warrant that the results that may be obtained from the use of the service will be accurate or reliable.
        You agree that from time to time we may remove the service for indefinite periods of time or cancel the service at
        any time, without notice to you. You expressly agree that your use of, or inability to use, the service is at your
        sole risk. The service and all products and services delivered to you through the service are (except as expressly
        stated by us) provided 'as is' and 'as available' for your use, without any representation, warranties or conditions
        of any kind, either express or implied, including all implied warranties or conditions of merchantability, merchantable
        quality, fitness for a particular purpose, durability, title, and non-infringement
    </p>
    <p>
        You shall indemnify and hold harmless The Firm and its officers, directors, employees and agents (The “Firm Indemnified Parties")
        from and against liabilities, costs, losses, damages, judgments, expenses (including attorneys' fees and costs of
        experts and costs of appeals) arising out of or in connection with any and all of the following: (a) any allegation
        that any of the Applications, Brand Features and Marks or Content infringe, misappropriate or violate any intellectual
        property right, (b) any violation of this Agreement, including, without limitation, any breach of any representations
        or warranties contained herein, (c) your provision or distribution of the Application or any Content, (d) your use
        of any of The Firm Software or receipt of the Services, (e) any activity relating to your account, (f) any violation
        of a third party app store's contracts, policies or procedures; or (e) any failure of You to have all necessary rights
        and licenses
    </p>
    <p>
        Because some states or jurisdictions do not allow the exclusion or the limitation of liability for consequential or incidental
        damages, in such states or jurisdictions, our liability shall be limited to the maximum extent permitted by law
    </p>
    <br />
    <h3>
        <strong>
            DATA PRIVACY:
        </strong>
    </h3>
    <p>
        The Firm‘s data privacy policy applies to the use of The Firm’s services.
    </p>
    <p>
        The Firm collects/processes/uses data on behalf of The Firm pursuant to section 11 German Data Protection Act. The following
        data shall only be collected/processed/used or accessible to Contractor for fulfilling the purposes of this agreement:
        most possible specific description of data.
    </p>
    <p>
        The data shall be subject to strict earmarking and may not be collected by The Firm for purposes unrelated to the agreement.
        No copies or duplicates of the data shall be made without respective direction or knowledge of The Firm. Data collected
        for different purposes shall be strictly saved and processed separately.
    </p>
    <p>
        The Firm creates anonymized user statistics for user-oriented design of services, error detection, and marketing purposes.
        The user statistics do not contain any personal data of the user, or related data from the user’s databases. The
        user has the right to object the anonymized analysis of his user behavior in written form, with effect for the future.
        Such objection shall be sent to support@datacircle.io
    </p>
    <p>
        13.3. In case the user instructed The Firm to analyze the personal data of the user, or if the access to user data or the
        user’s customer data cannot be excluded when using The Firm’s services; The Firm is offering a data processing agreement
        according to §11 of the German Federal Data Protection Act. The user can request this agreement by sending an email
        to support@datacircle.io.
    </p>
    <p>
        The Firm is obliged to automatically delete any personal data of the user at latest 30 days after expiration of the contract
        unless there are legal storage periods in individual cases.
    </p>
    <br />
    <h3>
        <strong>
            GENERAL:
        </strong>
    </h3>
    <p>
        The Firm’s employees are not authorized to make any verbal agreements with the user, which are not conform to these Terms
        of Service Agreement.
    </p>
    <p>
        If any provision of these Terms and Conditions be or become invalid, the validity of the remaining provisions shall remain
        unaffected. Instead of the ineffective regulation, an effective regulation whose economic purpose is as close as
        possible to the parties, shall apply.
    </p>
    <br />
    <h3>
        <strong>
            GOVERNING LAW:
        </strong>
    </h3>
    <p>
        The laws of the Federal Republic of Germany without regard to its conflict of law provisions, apply to this Terms of Service
        Agreement, not excluding the UN convention on contracts for the international sale of goods (CISG). The place of
        execution is Berlin.
    </p>
    <p>
        To the extent that the user is a merchant, a legal entity under public law or a public special asset; Berlin is the place
        of jurisdiction for all disputes arising from contractual relationships between the user and The Firm.
    </p>
    <p>
        If any provision of these Terms and Conditions is held to be invalid or unenforceable by a court, the remaining provisions
        of these Terms and Conditions will remain in effect. These Terms and Conditions constitute the entire agreement between
        us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.
    </p>
    <br />
    <h3>
        <strong>
            PROHIBITED USES
        </strong>
    </h3>
    <p>
        In addition to other prohibitions as set forth in the Terms of Conditions, you are prohibited from using the site or its
        content: (a) for any unlawful purpose; (b) to solicit others to perform or participate in any unlawful acts; (c)
        to violate any international, federal, provincial or state regulations, rules, laws, or local ordinances; (d) to
        infringe upon or violate our intellectual property rights or the intellectual property rights of others; (e) to harass,
        abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate based on gender, sexual orientation,
        religion, ethnicity, race, age, national origin, or disability; (f) to submit false or misleading information; (g)
        to upload or transmit viruses or any other type of malicious code that will or may be used in any way that will affect
        the functionality or operation of the Service or of any related website, other websites, or the Internet; (h) to
        collect or track the personal information of others; (i) to spam, phish, pharm, pretext, spider, crawl, or scrape;
        (j) for any obscene or immoral purpose; or (k) to interfere with or circumvent the security features of the Service
        or any related website, other websites, or the Internet. We reserve the right to terminate your use of the Service
        or any related website for violating any of the prohibited uses.
    </p>
    <br />
    <h3>
        <strong>
            SETTLEMENT OF DISPUTES
        </strong>
    </h3>
    <p>
        The Parties shall use their best efforts to settle amicably any dispute, controversy, or claim. Where the Parties wish to
        seek such an amicable settlement through conciliation, the conciliation shall take place in Berlin. Any such dispute,
        controversy or claim which is not settled amicably within sixty days after receipt by one of the Parties request
        for such amicable settlement, shall be referred by either Party to arbitration. The Parties shall be bound by an
        arbitration award rendered as a result of such arbitration as the final adjudication of such dispute. The costs of
        the procedure shall be shared equally by the Parties. The arbitration tribunal shall have no authority to award punitive
        damages. The arbitration tribunal shall have no authority to award interest in excess of four percent and such interest
        shall be simple interest only.
    </p>
    <br />
    <h3>
        <strong>
            CONTACT INFORMATION
        </strong>
    </h3>
    <p>
        Questions about the Terms of Service should be sent to us at
        <a href="mailto:support@datacircle.io" class="btn btn-simple btn-primary btn-lg">support@datacircle.io</a>
    </p>
</div>