﻿@{ 
    ViewData["Title"] = "Sharing Data"; 
    ViewData["Description"] = "DataCircle is a one-stop Marketplace to consume, distribute, manage, and monitor both private and public DataAssets.";
} 

@using DataMarketFE.ViewModels;
@model MarketplaceViewModel

<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=plibn2m4qefwhcjlki6imjfnoqb4hzxnpcxbbfosqbmlczh1"></script>

<section class="hero is-medium is-bold">
    <div class="hero-body" style="padding-bottom: 0px;">
        <div class="container main">
            <div class="columns">
                <div class="column is-offset-2">
                    <h1 class="title is-1">
                        <span style="color:#ff8c00;">Data</span><span style="color:#ffda06;">Circle</span>
                    </h1>
                    <h1 class="title is-1">Find, Buy, Sell and Exchange Data Sets easy</h1>

                    <div class="column is-9 is-paddingless">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input is-large" id="txtSearch" autofocus type="text" value="@Model.GetSearchQuery()"
                                       placeholder="Search using keyword and / or #hashtag.. "
                                       minlength="3">
                            </div>
                            <div class="control">
                                <button class="button is-large" id="btnSearchSubmit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                            <p class="control">
                                <a class="button is-large" href="/metric?datasourceId=b76cd2ed-1fcf-4b30-c4c3-08d4e3d03c53">
                                    <span class="icon">
                                        <i class="fa fa-cloud-upload"></i>
                                    </span>
                                    <span>Upload</span>
                                </a>
                            </p>
                        </div>
                        <div class="columns is-mobile is-centered">
                            <div class="column has-text-centered">
                                <button onclick=(search("!top50")) class="button is-white is-danger is-inverted">
                                    <span>Top 50</span>
                                    <span class="icon is-small">
                                        <i class="fa fa-fire" aria-hidden="true"></i>
                                    </span>
                                </button>
                                <button onclick=(search("!new50")) class="button is-white is-success is-inverted">
                                    <span>New</span>
                                    <span class="icon is-small">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    </span>
                                </button>
                                <button onclick=(search("!paid")) class="button is-white is-info is-inverted">
                                    <span>Paid</span>
                                    <span class="icon is-small">
                                        <i class="fa fa-eur" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                        </div>


                        <div class="has-text-centered">
                            @await Component.InvokeAsync("CategoriesIndex")
                        </div>

                        <br />

                        <div class="has-text-centered">
                            <div id="resultAlert" class="alert text-center" style="display: none;">
                                <div id="alertMessage" style="margin-bottom:0px;">
                                    <p class="title is-4">0 Data sets found.</p>
                                </div>

                                @Html.Partial("_Find")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main-panel section">
        <div class="container">
            <div id="metrics-wrapper" class="columns is-centered is-multiline">
                @if (Model.Metrics != null) { 
                    @Html.Partial("~/Views/Search/SearchView.cshtml", Model.Metrics) 
                }
            </div>
        </div>
        <div class="push"></div>
    </div>

    @Html.Partial("NotLoggedInDownloadPrompt")
</section> 

    <script>
        function search(value) {
            window.history.replaceState(null, null, "/?searchTerm=" + value + "&hashTagTerm=");
            $("#txtSearch").val(value);
            $('#btnSearchSubmit').click();
        }

        $(document).ready(function () {
            $("#txtSearch").on('keyup', function (e) {
                if (e.keyCode == 13) {
                    $('#btnSearchSubmit').click();
                }
            });

            adjustNewsletterHeight();

            var lastClick;

            $('#btnSearchSubmit')
                .on('click', function () {
                    $('#resultAlert').hide();
                    $('#alertMessage').html("");

                    if (lastClick && (new Date() - lastClick) < 1000) {
                        $('#alertMessage').html("Slow down cowboy!");

                        $('#resultAlert').fadeIn(200);
                        lastClick = new Date();
                        adjustNewsletterHeight();
                        return;
                    }

                    lastClick = new Date();                    

                    if ($('#txtSearch').val().trim().length < 3) {
                        $('#metrics-wrapper').html("");
                        $('#alertMessage').html("Please use a minimum of 3 characters for search!");

                        $('#resultAlert').fadeIn(200);
                        adjustNewsletterHeight();
                        return;
                    }

                    stepProgressBar(0.1);

                    var searchTerm = $('#txtSearch').val();
                    var hashtagTerm = $('#txtSearch').val().match(/(\#[a-zA-Z0-9]+\b)/gm);

                    if (hashtagTerm != null) {
                        hashtagTerm.forEach(function (word) {
                            searchTerm = searchTerm.replace(word, '');
                        })
                    }

                    searchTerm = searchTerm.replace(/\s+/g, ' ').trim();

                    if (hashtagTerm == null ) {
                        hashtagTerm = [];
                    }

                    var normalizedHashtagTerm = replaceAll(hashtagTerm.join(), '#', '');

                    var searchUrl = "/search/view/";                    
                    searchUrl += "?searchTerm=" + encodeURIComponent(searchTerm);
                    searchUrl += "&hashTagTerm=" + encodeURIComponent(normalizedHashtagTerm);

                    var nagivationUrl = "/";
                    nagivationUrl += "?searchTerm=" + encodeURIComponent(searchTerm);
                    nagivationUrl += "&hashTagTerm=" + encodeURIComponent(normalizedHashtagTerm);

                    window.history.replaceState(null, null, nagivationUrl.trim());

                    var settings = {
                        "async": true,
                        "url": searchUrl,
                        "method": "GET"
                    }

                    woopra.track("searchAction", {
                        url: window.location.pathname,
                        value: $('#txtSearch').val()
                    });

                    stepProgressBar(0.3);

                    $.ajax(settings)
                        .done(function (response) {
                        $('html, body').animate({
                                scrollTop: $("#txtSearch").offset().top
                            }, 100);
                            $('#result-container').height('auto');
                            stepProgressBar(0.6);
                            console.log('a');
                            $('#metrics-wrapper').html(response).fadeIn(500);
                                                        console.log('b');

                            stepProgressBar(1);
                        })
                        .fail(function (response) {
                            warn("Search failed.");
                        })
                        .always(function () {
                            stepProgressBar(0);
                            adjustNewsletterHeight();
                        });
                });
        });
    </script>