@model DataMarketFE.ViewModels.LoginViewModel
@{ ViewData["Title"] = "Forgot Password"; }

<section class="hero is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5">
                    <div class="card is-shadowless">
                        <h1 class="title is-size-1 has-text-centered">Forgot Password</h1>

                        <form asp-controller="Account" asp-action="RequestResetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <div class="card-content">
                                <div class="content">
                                    @Html.AntiForgeryToken()

                                    <div asp-validation-summary="All" class="has-text-centered has-text-danger"></div>
                                    <br/>

                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input class="input is-large" type="email" placeholder="Email" asp-for="Email">
                                            <span asp-validation-for="Email" class="has-text-danger"></span>

                                            <span class="icon is-small is-left">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <br />

                                    <div class="field">
                                        <p class="control has-text-centered">
                                            <button type="submit" class="button is-success is-outlined is-large">Reset</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>