@{ ViewData["Title"] = "Profile"; }

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@using DataMarketFE.ViewModels;
@model ProfileViewModel

<section class="hero is-primary">
    <div class="hero-body">
        <h1 class="title">
            Profile
        </h1>
    </div>
</section>

<form asp-controller="Account" asp-action="UpdateProfile" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Email)
    @Html.HiddenFor(x => x.Company)

    <div class="section columns is-multiline">
        <div class="column is-6">
            <div class="field">
                <label class="label">Email address</label>
                <div class="control">
                    <input class="input" type="text" value=@Model.Email disabled>
                </div>
            </div>
        </div>
        <div class="column is-6">
            <div class="field">
                <label class="label">Company</label>
                <div class="control">
                    <input class="input" type="text" disabled value=@(Model.Company != null ? Model.Company.Name.ToString() : String.Empty)>
                </div>
            </div>
        </div>
        <div class="column is-6">
            <div class="field">
                <label class="label">First Name</label>
                <div class="control">
                    <input class="input" asp-for="@Model.FirstName" type="text" value=@Model.FirstName>
                    <span asp-validation-for="FirstName" class="has-text-danger"></span>
                </div>
            </div>
        </div>
        <div class="column is-6">
            <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                    <input class="input" asp-for="@Model.LastName" type="text" value=@Model.LastName>
                    <span asp-validation-for="LastName" class="has-text-danger"></span>
                </div>
            </div>
        </div>
        <div class="column is-6">
            <div class="field">
                <label class="label">PayPal Email/Link</label>
                <div class="control">
                    <input class="input" type="text" asp-for="@Model.PayPalLink" placeholder="Paypal link or email address." value=@Model.PayPalLink>
                    <span asp-validation-for="PayPalLink" class="has-text-danger"></span>
                </div>
            </div>
        </div>
        <div class="column is-6">
        </div>
        <div class="column is-1">
            <p class="control">
                <button type="submit" class="button is-success is-outlined is-medium">Save</button>
            </p>
        </div>
        <div class="column is-11 has-text-right">
            <div class="field">
                <a class="button is-danger is-outlined is-medium" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</form>