﻿@{ ViewData["Title"] = "Registration"; }

<div class="header header-filter">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>

<div class="main main-panel">
    <div class="container">
        <div class="section landing-section">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center title">Registration is invite only during the beta.</h2>
                    <h4 class="text-center description">
                        We want to ensure that early adopters access the platform first.
                    </h4>
                    <h4 class="text-center description">
                        Please complete the
                        <a href="/requestbeta">Beta Request</a>
                        form to enroll.
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="text-center title">
                        <a href="mailto:support@datacircle.io" class="btn btn-simple btn-primary btn-lg">support@datacircle.io</a>
                    </div>
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>