﻿@model DataMarketFE.ViewModels.RegisterViewModel
@{ ViewData["Title"] = "Sign Up"; }

<section class="hero is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5">
                    <div class="card is-shadowless">
                        <h1 class="title is-size-1 has-text-centered">Sign up</h1>

                        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <div class="card-content">
                                <div class="content">
                                    @Html.AntiForgeryToken()

                                    <div asp-validation-summary="All" class="has-text-centered has-text-danger"></div>
                                    <br/>

                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input class="input is-large" type="email" placeholder="Email" asp-for="Email">
                                            <span asp-validation-for="Email" class="has-text-danger"></span>

                                            <span class="icon is-small is-left">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input class="input is-large" type="password" name="Password" placeholder="Password" asp-for="Password">
                                            <span asp-validation-for="Password" class="has-text-danger"></span>

                                            <span class="icon is-left">
                                                <i class="fa fa-lock"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <div id="validationGroup" class="" style="display:none;">
                                        <span id="validateUpperCase" class="has-text-info">                                        
                                            Password must contain 1 Uppercase character.
                                        </span><br/>
                                        <span id="validateLowerCase" class="has-text-info"> Password must contain 1 Lowercase character.</span><br />
                                        <span id="validateNumeric" class="has-text-info"> Password must contain 1 Numeric character.</span><br />
                                        <span id="validateSpecial" class="has-text-info"> Password must contain 1 Special character.</span><br />
                                        <span id="validateLength" class="has-text-info"> Password must be at least 6 characters long.</span>
                                        
                                        <br />
                                    </div>

                                    <script>
                                        $('[name=Password]').focus(function () {
                                            $('#validationGroup').show();
                                        });

                                        var successCounter = 0;

                                        $('[name=Password]').on('change keyup', function (ev) {
                                            var pass = $(ev.target).val();

                                            pass.length > 5 ? successValidation($('#validateLength')) : infoValidation($('#validateLength'));
                                            pass != pass.toLowerCase() ? successValidation($('#validateUpperCase')) : infoValidation($('#validateUpperCase'));
                                            pass != pass.toUpperCase() ? successValidation($('#validateLowerCase')) : infoValidation($('#validateLowerCase'));
                                            /\d/.test(pass) ? successValidation($('#validateNumeric')) : infoValidation($('#validateNumeric'));
                                            !(/^[a-z0-9]+$/i.test(pass)) ? successValidation($('#validateSpecial')) : infoValidation($('#validateSpecial'));

                                            if (pass == undefined || pass == null || pass.length == 0)
                                            { infoValidation($('#validateSpecial')); }                                        
                                        });                                    

                                        function successValidation($element)
                                        {
                                            if (!$element.hasClass('has-text-success')) {
                                                successCounter++;
                                                $element.html('&#10004;' + $element.html());
                                                $element.addClass('has-text-success').removeClass('has-text-info');
                                            }                                        
                                        }

                                        function infoValidation($element)
                                        {
                                            if (!$element.hasClass('has-text-info')) {
                                                successCounter--;
                                                $element.addClass('has-text-info').removeClass('has-text-success')
                                                $element.html($element.html().replace('✔', ''));
                                            }
                                        }
                                    </script>

                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input asp-for="@Model.ConfirmPassword" class="input is-large" placeholder="Confirm Password" />
                                            <span asp-validation-for="ConfirmPassword" class="has-text-danger"></span>

                                            <span class="icon is-left">
                                                <i class="fa fa-lock"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input asp-for="@Model.FirstName" class="input is-large" placeholder="First Name" />
                                            <span asp-validation-for="FirstName" class="has-text-danger"></span>

                                            <span class="icon is-small is-left">
                                                <i class="fa  fa-user-o"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input asp-for="@Model.LastName" class="input is-large" placeholder="Last Name" />
                                            <span asp-validation-for="LastName" class="has-text-danger"></span>

                                            <span class="icon is-small is-left">
                                                <i class="fa  fa-user-o"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input asp-for="@Model.Company" class="input is-large" placeholder="Company" />
                                            <span asp-validation-for="ConfirmPassword" class="has-text-danger"></span>

                                            <span class="icon is-small is-left">
                                                <i class="fa fa-building-o"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <br />

                                    <div class="field">
                                        <p class="control has-text-centered">
                                            <button type="submit" class="button is-success is-outlined is-large">Register</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>