﻿@model DataMarketFE.ViewModels.RequestBetaViewModel

@{
    ViewData["Title"] = "Request Beta";
}


<section class="hero is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5">
                    <div class="card is-shadowless">
                        <h1 class="title is-size-1 has-text-centered">Request Beta</h1>

                        <form asp-controller="Account" asp-action="RequestBetaCreate" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <div class="card-content">
                                <div class="content">
                                    @Html.AntiForgeryToken()

                                    <div asp-validation-summary="All" class="has-text-centered has-text-danger"></div>
                                    <br />

                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input class="input is-large" type="email" placeholder="Email" asp-for="Email">
                                            <span asp-validation-for="Email" class="has-text-danger"></span>

                                            <span class="icon is-small is-left">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input asp-for="@Model.FirstName" class="input is-large" placeholder="First Name" />
                                            <span asp-validation-for="FirstName" class="has-text-danger"></span>

                                            <span class="icon is-small is-left">
                                                <i class="fa  fa-user-o"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input asp-for="@Model.LastName" class="input is-large" placeholder="Last Name" />
                                            <span asp-validation-for="LastName" class="has-text-danger"></span>

                                            <span class="icon is-small is-left">
                                                <i class="fa  fa-user-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="field has-text-centered">
                                        <label class="checkbox is-size-4">
                                            <input type="checkbox" class="is-size-4" asp-for="CompanyUser" name="CompanyUser">
                                            Company User?
                                        </label>
                                        </div>
                                        <br />

                                        <div class="field">
                                            <p class="control has-text-centered">
                                                <button type="submit" class="button is-success is-outlined is-large">Submit</button>
                                            </p>
                                        </div>
                                    </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>