﻿@using DataMarketFE.ViewModels;
@model AllMetricsDrpViewModel

<br />

<div class="tabs is-centered is-medium">
  <ul>
    <li class="is-active" id="publicTabAction">
      <a>
        <span class="icon is-small"><i class="fa fa-globe"></i></span>
        <span>Public Datasets (@Model.MetricList.Where(m => m.Open == true).Count())</span>
      </a>
    </li>
    <li id="localTabAction">
      <a>
        <span class="icon is-small"><i class="fa fa-lock"></i></span>
        <span>Private Datasets (@Model.MetricList.Where(m => m.Open == false).Count())</span>
      </a>
    </li>
  </ul>
</div>

<div class="card-content table-responsive">
    <div class="tab-content">
        <div class="tab-pane hidden" id="publicTab">
            @Html.Partial("Components/MetricSearch/IndexTable", Model.MetricList.Where(m => m.Open == false))
        </div>

        <div class="tab-pane" id="localTab">
            @Html.Partial("Components/MetricSearch/IndexTable", Model.MetricList.Where(m => m.Open == true))
        </div>
    </div>
</div>

<script>
    $('#publicTabAction').on('click', function () {
        $('#publicTabAction').toggleClass('is-active');
        $('#localTabAction').toggleClass('is-active');
        $('#publicTab').toggleClass('hidden');
        $('#localTab').toggleClass('hidden');
    });
    $('#localTabAction').on('click', function () {
        $('#localTabAction').toggleClass('is-active');
        $('#publicTabAction').toggleClass('is-active');
        $('#localTab').toggleClass('hidden');
        $('#publicTab').toggleClass('hidden');
    });
</script>
