﻿@using DataMarketFE.ViewModels;
@model IEnumerable<MetricViewModel>

<table class="table is-hoverable is-fullwidth">
    @if (@Model.Count() > 0)
    {
        <thead>
            <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Company</th>
        </tr>
        </thead>
        <tbody>
            @foreach (MetricViewModel metric in @Model)
            {
                <tr style="cursor: pointer;" onclick="window.location.href = window.location.origin + '/metric/@metric.ID';">
                    <td style="min-width:100px">@metric.Title</td>
                    <td>@(metric.DescriptionPlainText ?? @metric.Description)</td>
                    <td>@(metric.Company != null ? @metric.Company.Name : String.Empty)</td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <div class="column has-text-centered">
        <p class="is-size-5">
            😞 Your Data Sets seem pretty empty, you should try uploading one!
                    <a class="button is-outlined is-text" href="/metric?datasourceId=b76cd2ed-1fcf-4b30-c4c3-08d4e3d03c53">            
                Upload!
            </a>
        </p>

        <h5>You can take inspiration from the <a href="/requests"> Public Data Requests. </a> 🔍 </h5>
        
        </div>
    }
</table>