@{ ViewData["Title"] = "History"; }

@{
 Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@using DataMarketFE.ViewModels;
@model IList<QueryLogViewModel>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header" data-background-color="purple">
				<h4 class="title">Audit history</h4>
				<p class="category">The history shows any access on your datasources through our system</p>
			</div>
			<div class="card-content table-responsive">
				<table class="table">
					<thead class="text-primary">
						<th>Datasource</th>
						<th>Metric</th>
						<th>Cached</th>
						<th>Query Time (ms)</th>
						<th>Date</th>
					</thead>
					<tbody>
						@foreach (QueryLogViewModel qlVm in @Model) {
						<tr>
							<td>@qlVm.Datasource.Title</td>
							<td>@qlVm.Metric.Title</td>
							<td>@qlVm.Cached</td>
							<td>@qlVm.QueryTime</td>
							<td>@qlVm.CreatedAt</td>
						</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>