@{ ViewData["Title"] = "Dashboard"; } @{ Layout = "~/Views/Shared/_DashboardLayout.cshtml"; }

<div class="section">

    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <div>
                @await Component.InvokeAsync("DatasourcesCard")
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                @await Component.InvokeAsync("MetricsCard")
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                @await Component.InvokeAsync("RequestsCard")
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                @await Component.InvokeAsync("ConsumersCard")
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            @await Component.InvokeAsync("MetricSearch")
        </div>
    </div>

</div>