@using DataMarketFE.ViewModels;
@model AllDatasourcesDrpViewModel

<div class="control">
  <div class="select is-fullwidth">
<select id="@Model.ElementID"  @(@Model.AspForName != null ? string.Format("asp-for={0}", @Model.AspForName) : "")
    @(@Model.AspForName != null ? string.Format("name={0}", @Model.AspForName) : "") class="form-control">

    <option value=0>Select a Datasource</option>
        @foreach(DatasourceViewModel datasource in @Model.DatasourceList)
        {
            string asd = @Model.SelectedValue.ToString() == @datasource.ID.ToString() ? "selected" : "";

            <!option @Html.Raw(@asd) data-type="@datasource.Type" value=@datasource.ID>@datasource.Title</!option>
        }
</select>
</div>  
</div>  