@using DataMarketFE.ViewModels;
@model IEnumerable<RequestViewModel>

<div class="control">
  <div class="select is-fullwidth">
    <select id="drpSelectRequest" class="form-control" name="id">
        <option value=0>Select a Request</option>
            @foreach(RequestViewModel request in  @Model)
            {
                <option value=@request.ID>@request.Title</option>
            }
    </select>
  </div>
</div>
