 @model DataMarketFE.ViewModels.BusinessInquery

<div class="card is-shadowless is-primary">
    <form asp-controller="Business" asp-action="Create" asp-route-returnurl="@ViewData[" ReturnUrl "]" method="post" class="form-horizontal">
        <div class="card-content is-paddingless">
            <div class="content">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.Buy)

                <div asp-validation-summary="All" class="has-text-centered has-text-danger"></div>
                <br/>

                <p class="field has-text-centered">
                    <a id="btnBuy" class="button is-medium is-primary">
                        <span class="icon">
                        <i class="fa Example of shopping-cart fa-shopping-cart "></i>
                        </span>
                        <span>Buy</span>
                    </a>
                    <a id="btnSell" class="button is-medium">
                        <span class="icon">
                        <i class="fa fa-usd"></i>
                        </span>
                        <span>Sell</span>
                    </a>
                </p>

                <script>
                    $('#Buy').val("true");

                    $('#btnBuy').on('click', function () {
                        if (!$("#btnBuy").hasClass("is-primary")) {
                            $('#btnBuy').addClass('is-primary');
                            $('#btnSell').removeClass('is-primary');
                        }

                        $('#Buy').val("true");
                    })
                    $('#btnSell').on('click', function () {
                        if (!$("#btnSell").hasClass("is-primary")) {
                            $('#btnSell').addClass('is-primary');
                            $('#btnBuy').removeClass('is-primary');
                        }

                        $('#Buy').val("false");
                    })
                </script>

                <div class="field">
                    <div class="control">
                        <textarea class="textarea" placeholder="Please describe shortly the dataset in question." asp-for="Description" rows="5" required>

                        </textarea>
                        <span asp-validation-for="Description" class="has-text-danger"></span>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-medium" placeholder="The price can be a total or per size/row/lead" asp-for="Price" required>
                        <span asp-validation-for="Price" class="has-text-danger"></span>
                    </div>
                </div>
                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input is-medium" type="email" placeholder="Email" asp-for="Email" required>
                        <span asp-validation-for="Email" class="has-text-danger"></span>

                        <span class="icon is-small is-left">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                </div>

                <br />

                <div class="field">
                    <p class="control has-text-centered">
                        <button type="submit" class="button is-success is-outlined is-medium">Submit</button>
                    </p>
                </div>
            </div>
        </div>
    </form>
    <br />
    <div class="column has-text-centered">
        <h4 class="subtitle is-5"> Or contact us via the online chat 💬 or via
            <a href="mailto:support@datacircle.io" class="btn btn-simple btn-primary btn-lg">Email 📧</a>
        </h4>
    </div>
</div>