@{ ViewData["Title"] = "Business"; }

<section class="hero is-white is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    @Html.Partial("Description")
                </div>
                <div class="column is-6">
                    @Html.Partial("Form")
                </div>
            </div>
        </div>
    </div>
</section>