﻿@{ 
    ViewData["Title"] = "Use Cases"; 
    ViewData["Description"] = @"The Data Assets you create can be private and shared only with specific Users within the platform. This allows you to create
                            direct channels of communication with your partner entities, without the need to manage another
                            internal service or infrastructure.";
}

<section class="hero is-fullheight is-primary">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <h1 class="title is-1">
                        Partner Communication
                    </h1>
                    <h2 class="subtitle is-3">
                        <p>
                            The Data Assets you create can be private and shared only with specific Users within the platform. This allows you to create
                            direct channels of communication with your partner entities, without the need to manage another
                            internal service or infrastructure.

                        </p>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-foot">
        <div class="container">
            <div class="tabs is-centered">
                <ul>
                    <li>
                        @Html.Partial("_ScrollIndicator")
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section is-small" id="scrollTarget">
    <div class="container">
        <div class="columns">
            <div class="column is-12 has-text-centered">
                <p class="bd-more-loves-container">
                    <a class="button is-large is-danger bd-rainbow" href="/login">
                        <span>Get Started for
                            <strong>free</strong>
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section hero ">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-12 is-vcentered">
                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-12">
                        <div class="tile">
                            <div class="tile is-parent is-vertical">
                                <article class="tile is-child notification">
                                    <div class="column has-text-centered">
                                        <span class="icon is-large">
                                            <i class="fa fa-xxl fa-universal-access" aria-hidden="true"></i>
                                        </span>
                                        <p class="title is-4">
                                            <strong>No integration
                                            </strong>
                                        </p>
                                        <p class="subtitle">
                                            We connect with your datasource and manage the Data Transfer. No more need for file downloads, versioning or moving around
                                            big Data files.
                                        </p>
                                    </div>
                                </article>
                                <article class="tile is-child notification">
                                    <div class="column has-text-centered">
                                        <span class="icon is-large">
                                            <i class="fa fa-xxl  fa-users" aria-hidden="true"></i>
                                        </span>
                                        <p class="title is-4">
                                            <strong>Collaborate
                                            </strong>
                                        </p>
                                        <p class="subtitle">
                                            Sharing data from your Datasource straight to your Partner has never been easier.

                                        </p>
                                    </div>
                                </article>
                            </div>
                            <div class="tile is-parent is-vertical">
                                <article class="tile is-child notification">
                                    <div class="column has-text-centered">
                                        <span class="icon is-large">
                                            <i class="fa fa-xxl fa-shield" aria-hidden="true"></i>
                                        </span>
                                        <p class="title is-4">
                                            <strong>Security
                                            </strong>
                                        </p>
                                        <p class="subtitle">
                                            We make sure your Data Assets are available only to the people you decide.
                                        </p>
                                    </div>
                                </article>
                                <article class="tile is-child notification">
                                    <div class="column has-text-centered">
                                        <span class="icon is-large">
                                            <i class="fa fa-xxl fa-rss" aria-hidden="true"></i>
                                        </span>
                                        <p class="title is-4">
                                            <strong>Subscriptions
                                            </strong>
                                        </p>
                                        <p class="subtitle">
                                            Is your Data Asset constantly changing? Your partner can receive the data instantly!

                                        </p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section is-small">
    <div class="container">
        <div class="columns">
            <div class="column is-12 has-text-centered">
                <p class="bd-more-loves-container">
                    <a class="button is-large is-danger bd-rainbow" href="/login">
                        <span>Get Started for
                            <strong>free</strong>
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>