﻿@{ 
    ViewData["Title"] = "Use Cases"; 
    ViewData["Description"] = "Organizations looking for relevant data supporting their operations.";
}

<section class="hero is-fullheight is-primary">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h3 class="title is-1">
                Consumers
            </h3>
            <h4 class="subtitle is-3">
                <p>
                    Organizations looking for relevant data supporting their operations.
                </p>
                <p>
                    A Plethora of Industries base their actions on data. Marketing Firms, E-Commerce, Retail, R&D, IT & Development.
                </p>
            </h4>
        </div>
    </div>

    <div class="hero-foot">
        <div class="container">
            <div class="tabs is-centered">
                <ul>
                    <li>
                        @Html.Partial("_ScrollIndicator")
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section is-small" id="scrollTarget">
    <div class="container">
        <div class="columns">
            <div class="column is-12 has-text-centered">
                <p class="bd-more-loves-container">
                    <a class="button is-large is-danger bd-rainbow" href="/login">
                        <span>Get Started for
                            <strong>free</strong>
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section hero ">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-12 is-vcentered">
                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-12">
                        <div class="tile">
                            <div class="tile is-parent is-vertical">
                                <article class="tile is-child notification">
                                    <div class="column has-text-centered">
                                        <span class="icon is-large">
                                            <i class="fa fa-xxl fa-universal-access" aria-hidden="true"></i>
                                        </span>
                                        <p class="title is-4">
                                            <strong>No integration
                                            </strong>
                                        </p>
                                        <p class="subtitle">
                                            We connect with your datasource and manage the Data Transfer. No more need for file downloads, versioning or moving around
                                            big Data files.
                                        </p>
                                    </div>
                                </article>
                                <article class="tile is-child notification">
                                    <div class="column has-text-centered">
                                        <span class="icon is-large">
                                            <i class="fa fa-xxl  fa-search" aria-hidden="true"></i>
                                        </span>
                                        <p class="title is-4">
                                            <strong>Search
                                            </strong>
                                        </p>
                                        <p class="subtitle">
                                            Our platform enables users to search for Data Assets using Categories, Tags, Text search. This makes Data Assets discoverable
                                            with minimal effort.
                                        </p>
                                    </div>
                                </article>
                            </div>
                            <div class="tile is-parent is-vertical">
                                <article class="tile is-child notification">
                                    <div class="column has-text-centered">
                                        <span class="icon is-large">
                                            <i class="fa fa-xxl fa-check-circle" aria-hidden="true"></i>
                                        </span>
                                        <p class="title is-4">
                                            <strong>One-stop Platform
                                            </strong>
                                        </p>
                                        <p class="subtitle">
                                            In the platform you will find all your needs to manage your Costs, historic data and also give back to the community through
                                            our Review System.
                                        </p>
                                    </div>
                                </article>
                                <article class="tile is-child notification">
                                    <div class="column has-text-centered">
                                        <span class="icon is-large">
                                            <i class="fa fa-xxl fa-refresh" aria-hidden="true"></i>
                                        </span>
                                        <p class="title is-4">
                                            <strong>Requests
                                            </strong>
                                        </p>
                                        <p class="subtitle">
                                            You can't find what you are looking for? Feel free to raise a Request for a Data Asset!
                                        </p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section is-small">
    <div class="container">
        <div class="columns">
            <div class="column is-12 has-text-centered">
                <p class="bd-more-loves-container">
                    <a class="button is-large is-danger bd-rainbow" href="/login">
                        <span>Get Started for
                            <strong>free</strong>
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>