@using DataMarketFE.ViewModels;
@model AllMetricsDrpViewModel

<div class="control">
  <div class="select is-fullwidth">
<select id="drpSelectMetric" @(@Model.AspForName != null ? string.Format("asp-for={0}", @Model.AspForName) : "")
        @(@Model.AspForName != null ? string.Format("name={0}", @Model.AspForName) : "") class="form-control">

    <option value=0>Select a Dataset</option>
    @foreach (MetricViewModel metric in @Model.MetricList)
    {
        string asd = @Model.SelectedValue.ToString() == @metric.ID.ToString() ? "selected" : "";

        <!option @Html.Raw(@asd) value=@metric.ID>@metric.Title</!option>
    }
</select>
</div>
</div>  