﻿<div class="">
    <button type="button" onclick="TestConnection(this)" class="button is-info is-outlined is-medium">
    Test Connection
    </button>
    <div class="" style="display: inline-block;">
        <p id="checkConMessage" class="">
        </p>
    </div>
</div>

<script>
    function TestConnection(e) {
        stepProgressBar(0.1);
        $(e).prop('disabled', true);
        var settings = {
            "async": true,
            "url": "/connector/CheckConnection",
            "method": "POST",
            "data": JSON.stringify($("#frmDatasource").serialize())
        }
        stepProgressBar(0.3);

        $.ajax(settings)
            .done(function (response) {
                stepProgressBar(0.5);
                if (response == 1) {
                    $('#checkConMessage').html("Connection established succesfully!");
                    $('#checkConMessage').addClass("has-text-success").removeClass("has-text-danger")
                } else {
                    $('#checkConMessage').html("Failed to connect to datasource!");
                    $('#checkConMessage').addClass("has-text-danger").removeClass("has-text-success")
                }
            })
            .fail(function (response) {
                stepProgressBar(0.8);
                $('#checkConMessage').html(response.responseText);
                $('#checkConMessage').addClass("has-text-danger").removeClass("has-text-success")
            })
            .always(function () {
                stepProgressBar(1);
                $(e).prop('disabled', false);
                stepProgressBar(0);
            });
    }
</script>