<script>
    function selectDatasource()
    {
        var value = document.getElementById("selectCardDrpDatasource").value;
        if (value == 0 || value == "") {
            return;
        } else {
            if (window.location.origin.lastIndexOf("/") == window.location.origin.length) {
                window.location = window.location.origin + "datasource/" + value;
            } else {
                window.location = window.location.origin + "/datasource/" + value;
            }
        }
    }
</script>


<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Select a datasource to edit.
    </p>
  </header>
  <div class="card-content">
    <div class="content">
        @await Component.InvokeAsync("AllDatasourcesDrp", new { ElementID = "selectCardDrpDatasource", omitSystemSensitiveTypes = true })
    </div>
  </div>
  <footer class="columns card-content">
      <div class="column is-6 ">
              <a href="/datasource" class="button is-primary is-outlined">Create new</a>
        </div>   
      <div class="column is-6 has-text-right">
    <a href="#" onclick="selectDatasource()" class="button is-primary is-outlined">Edit</a>
        </div>   
  </footer>
</div>
