@{ ViewData["Title"] = "Datasources"; }

@{
 Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@using DataMarketFE.ViewModels;
@model DatasourceViewModel

<section class="hero is-primary">
    <div class="hero-body">
        <h1 class="title">
            Datasources
        </h1>
    </div>
</section>

<div class="columns">
    <div class="column is-8">
        <div class="section">
			@using(Html.BeginForm(FormMethod.Post, new { id = "frmDatasource" })) {
					@Html.AntiForgeryToken()
					@Html.HiddenFor(x => x.ID)

					<div class="columns is-multiline">
						<div class="column is-4">
							<div class="field">
								<div class="control">
									<input placeholder="Title" asp-for="Title" type="text" class="input" value=@Model.Title>
									<span asp-validation-for="Title" class="has-text-danger"></span>
								</div>
							</div>
						</div>
						<div class="column is-8">
							<div class="field">
								<div class="control">
									<input placeholder="Description" asp-for="Description" type="text" class="input" value=@Model.Description>
									<span asp-validation-for="Description" class="has-text-danger"></span>
								</div>
							</div>
						</div>
						<div class="column is-12">
							<div class="field">
								<div class="control">
									<div class="select is-fullwidth">
										<select asp-for="Type" name="Type" value=@Model.Type>
											<option value="0">Select Datasource type</option>
											<option value="100">MySql</option>
											<option value="101">Mssql</option>
										</select>
									</div>
									<span asp-validation-for="Type" class="has-text-danger"></span>
								</div>
							</div>
						</div>
						<div class="column is-4">
							<div class="field">
								<div class="control">
									<input placeholder="Host" asp-for="Host" type="text" class="input" value=@Model.Host>
									<span asp-validation-for="Host" class="has-text-danger"></span>
								</div>
							</div>
						</div>
						<div class="column is-4">
							<div class="field">
								<div class="control">
									<input placeholder="Database" asp-for="Database" type="text" class="input" value=@Model.Database>
									<span asp-validation-for="Database" class="has-text-danger"></span>
								</div>
							</div>
						</div>
						<div class="column is-4">
							<div class="field">
								<div class="control">
									<input placeholder="Port" asp-for="Port" type="text" class="input" value=@Model.Port>
									<span asp-validation-for="Port" class="has-text-danger"></span>
								</div>
							</div>
						</div>
						<div class="column is-6">
							<div class="field">
								<div class="control">
									<input placeholder="Username" asp-for="Username" type="text" class="input" value=@Model.Username>
									<span asp-validation-for="Username" class="has-text-danger"></span>
								</div>
							</div>
						</div>
						<div class="column is-6">
							<div class="field">
								<div class="control">
									<input placeholder="Password" asp-for="Password" type="password" class="input" value=@Model.Password>
									<span asp-validation-for="Password" class="has-text-danger"></span>
								</div>
							</div>
						</div>
						<div class="column is-12">
							<button type="submit" onclick="woopra.track('submitDatasource', {});" class="button is-medium is-primary pull-right">Submit</button>
							@Html.Partial("CheckAnonymConnection")
						</div>
					</div>
				}
				@{
					if (@Model.ID != null && @Model.ID != Guid.Empty) {
						@using(Html.BeginForm("","DeleteDatasource",FormMethod.Post))
						{
							@Html.AntiForgeryToken()
							@Html.HiddenFor(model => model.ID)

							<button type="submit" class="button is-medium is-danger pull-right" value="Delete">Delete</button>
						}
					}
				}
		</div>
	</div>
	<div class="column is-4">
		<div class="section">
			@Html.Partial("DatasourceSelectCard")
		</div>
	</div>
</div>
