@using DataMarketFE.Models; 
@model IEnumerable<MetricAccessMapModel>


    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Share Dataset
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input type="text" class="input" id="PublicId" name="PublicId">
                    </div>
                    <div class="control">
                        <button id="addShareUser" type="button" class="button is-primary is-outlined">
                            Add
                        </button>
                    </div>
                </div>
                <span id="PublicIdValidation" class="has-text-danger field-validation-valid" data-valmsg-for="PublicId" data-valmsg-replace="true">
                </span> 

                <table class="table">
                    <tbody id="userShareMain">
                        @foreach (MetricAccessMapModel m in Model) {
                        <tr id="userShare-@m.ID" class="row">
                            <td class="col-xs-11 col-sm-11 col-md-11">
                                <p>
                                    @m.TargetUser.GetFullQualifiedName()
                                </p>
                            </td>
                            <td class="td-actions col-xs-1 col-sm-1 col-md-1 text-right">
                                <button onclick="removeUser(@m.ID)" type="button" rel="tooltip" title="Remove User" class="button is-small is-danger"
                                    data-original-title="Remove"> X
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $('#addShareUser').click(function () {

            if ($('#PublicId').val().trim().length < 1) {
                $('#PublicIdValidation').html("Please enter an Email address");
                return;
            }

            $('#PublicIdValidation').html("");

            addShareUser($('#PublicId').val());
        });

        function removeUser(id) {
            $.ajax({
                    async: true,
                    data: {
                        shareMetricId: id
                    },
                    url: '/metricaccess/' + id,
                    method: "DELETE"
                })
                .done(function (response) {
                    success("User has been removed from the share list!");
                    $('#userShare-' + id).remove();
                })
                .fail(function (response) {
                    warn(response.responseText);
                })
                .always(function () {});
        }


        function addShareUser(userEntryId) {
            var map = window.location.href.split('/');
            var metricId = map.pop() || map.pop();

            $.ajax({
                    async: true,
                    data: {
                        Email: $('#PublicId').val(),
                        MetricId: metricId
                    },
                    url: '/metricaccess',
                    method: "POST"
                })
                .done(function (response) {
                    var fullName = response.targetUser.lastName + ", " + response.targetUser.firstName
                    addShareUserUI(fullName, response.id);
                    success("User " + fullName + " has been added to the share list!");
                })
                .fail(function (response) {
                    warn(response.responseText);
                })
                .always(function () {});
        }

        function addShareUserUI(fullName, metricShareId) {
            var newRow =
                '<tr id="userShare-RemoveId" class="row"><td class="col-xs-11 col-sm-11 col-md-11"><p>FullName</p></td>' +
                '<td class="td-actions col-xs-1 col-sm-1 col-md-1 text-right">' +
                '<button onclick="removeUser(MetricShareId)" type="button" rel="tooltip" title="Remove User" class="button is-danger is-small" data-original-title="Remove">' +
                'X</button></td></tr>';

            newRow = newRow.replace("RemoveId", metricShareId);
            newRow = newRow.replace("MetricShareId", metricShareId);
            newRow = newRow.replace("FullName", fullName);

            $('#userShareMain').append(newRow);
        }
    </script>