﻿@{ ViewData["Title"] = "Metric Transfers"; }
@{ Layout = "~/Views/Shared/_DashboardLayout.cshtml"; }
@using DataMarketFE.ViewModels;
@model IEnumerable<MetricTransferViewModel>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Metric Transfers</h4>
                <p class="category"></p>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-primary">
                    <th>Actionable User</th>
                    <th>Metric ID</th>
                    <th>Target Company ID</th>
                    <th>Download as file?</th>
                    <th>Status</th>
                    <th>Message</th>
                    </th>
                    <tbody>
                        @foreach (MetricTransferViewModel mt in @Model)
                        {
                            <tr>
                                <td>@mt.ActionableUser</td>
                                <td>
                                    <a target="_blank" href="/metric/@mt.MetricID">@mt.MetricID</a>
                                </td>
                                <td>@mt.TargetCompanyID</td>
                                <td>@mt.DownloadAsFile</td>
                                <td>@mt.Status</td>
                                <td>@mt.Message</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>