﻿@{ ViewData["Title"] = "Orders"; }
@{ Layout = "~/Views/Shared/_DashboardLayout.cshtml"; }
@using DataMarketFE.ViewModels;
@model IEnumerable<OrderViewModel>

<section class="hero is-primary">
    <div class="hero-body">
        <h1 class="title">
            Orders
        </h1>
    </div>
</section>

<div class="section">
    <table class="table is-hoverable is-fullwidth">
        <thead class="text-primary">
            <tr>
                <th>DataSet Link</th>
                <th>Order Status</th>
                <th>Ammount Paid</th>
                <th>Issued At</th>
            </tr>
        </thead>
        <tbody>
                        @foreach (OrderViewModel order in @Model)
                        {
                            <tr>
                                <td><a href="/metric/@order.MetricId"> Data Set (@order.MetricId)</a></td>
                                <td>@order.Status</td>
                                <td>@order.Cost</td>
                                <td>@order.CreatedAt</td>
                            </tr>
                        }
                    </tbody>
    </table>
</div>