﻿<div class="row text-primary hidden-xs" style="background-color: ghostwhite;">
    <div class="col-sm-1 col-md-1">
        <h3>Votes</h3>
    </div>
    <div class="col-sm-2 col-md-2">
        <h3>User</h3>
    </div>
    <div class="col-sm-6 col-md-6">
        <h3>Title</h3>
    </div>
    <div class="col-sm-2 col-md-2 text-center">
        <h3>Created At</h3>
    </div>
    <div class="col-sm-1 col-md-1 text-right">
    </div>
</div>