﻿@using DataMarketFE.ViewModels;
@using DataMarketFE.Utilities;
@model RequestViewModel

<div class="card">
  <div class="card-content">
    <div class="content">
      @Model.Title
      <br>
        <div class="">
            @if (Model.Anonymous)
            {
                @Html.Raw("Anonymous User")
            }
            else
            {
                @Model.User.GetFullQualifiedName()
            }
            @Model.CreatedAt.ToString("dd-MMM-yyyy")
        </div> 
    </div>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item">
        <span class="icon">
            <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span>@Model.UpvoteCount</span>
    </div>    
    <a href="/requests/@FriendlyUrlHelper.GetFriendlyTitle(Model.Title)/@Model.ID" target="_blank" class="card-footer-item">
        <span>View</span>
        <span class="icon">
            <i class="fa fa-eye" aria-hidden="true"></i>
        </span>
    </a>
    
    <div class="card-footer-item">
        <span> @Model.CommentCount.ToString() </span>
        <span class="icon">
            <i class="fa fa-commenting-o" aria-hidden="true"></i>
        </span>
    </div>    

  </footer>
</div>
