﻿<link rel="stylesheet" type="text/css" href="~/lib/cookieconsent/build/cookieconsent.min.css" />
<script src="~/lib/cookieconsent/build/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
        "background": "white",
        "text": "black"
    },
    "button": {
      "background": "#209cee",
      "text": "white"
    }
  },
  "content": {
    "dismiss": "Got it! 🍪"
  },
  "theme": "edgeless",
    "position": "bottom",
    "static": true
})});
</script>