﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    @Html.Partial("_PageCache")
    
    <title> DataCircle - @ViewData["Title"]</title>

    <environment names="Production">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
        <link rel="stylesheet" href="~/css/site.min.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>

    <environment names="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css.map">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />  
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>

    <environment names="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/nouislider.min.js" type="text/javascript"></script>
    </environment>

    <environment names="Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <environment names="Production">
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-76790783-1', 'auto');
        ga('send', 'pageview');
        </script>

        <!-- Start of Woopra Code -->
        <script>
            (function () {
                var t, i, e, n = window, o = document, a = arguments, s = "script", r = ["config", "track", "identify", "visit", "push", "call", "trackForm", "trackClick"], c = function () { var t, i = this; for (i._e = [], t = 0; r.length > t; t++)(function (t) { i[t] = function () { return i._e.push([t].concat(Array.prototype.slice.call(arguments, 0))), i } })(r[t]) }; for (n._w = n._w || {}, t = 0; a.length > t; t++)n._w[a[t]] = n[a[t]] = n[a[t]] || new c; i = o.createElement(s), i.async = 1, i.src = "//static.woopra.com/js/w.js", e = o.getElementsByTagName(s)[0], e.parentNode.insertBefore(i, e)
            })("woopra");

            woopra.config({
                domain: 'datacircle.io'
            });
            woopra.track();
        </script>
        <!-- End of Woopra Code -->
    </environment>
</head>
<body>
    <div class="columns" style="margin-bottom: 0px;">
                @Html.Partial("_ProgressBar")

        <div class="column is-2 is-marginless is-paddingless">
            @Html.Partial("_Sidebar")
        </div>
        <div class="column is-10 is-marginless is-paddingless" style="margin-bottom: 0px; padding-bottom:0px;">
            <section class="">
                @RenderBody()
            </section>
        </div>
    </div>
    @Html.Partial("_Footer")


        <environment names="Production">
            @await Component.InvokeAsync("UserTracking")
            <script type="text/javascript">window.$crisp = []; window.CRISP_WEBSITE_ID = "ff15b733-6a29-4efb-99f5-29251c787f4f"; (function () { d = document; s = d.createElement("script"); s.src = "https://client.crisp.chat/l.js"; s.async = 1; d.getElementsByTagName("head")[0].appendChild(s); })();</script>
        </environment>

        @RenderSection("Scripts", required: false)
        @Html.Partial("_FlashMessage")
</body>
</html>

