@{
    string warnMsg = TempData["flash-warn-msg"] as string;
    string dangerMsg = TempData["flash-danger-msg"] as string;
    string infoMsg = TempData["flash-info-msg"] as string;
    string successMsg = TempData["flash-success-msg"] as string;
}

<link href="~/lib/noty/lib/noty.css" rel="stylesheet">
<script src="~/lib/noty/lib/noty.js" type="text/javascript"></script>

<script>
    function warn (text){
        text = '<div class="is-size-4">' + text + '</div>'
        new Noty({
            type: 'warning',
            theme: 'metroui',
            text: text,
            layout: 'bottomLeft'
        }).show();
	}

    function danger (text){
        text = '<div class="is-size-4">' + text + '</div>'
        new Noty({
            type: 'error',
            theme: 'mint',
            text: text,
            layout: 'bottomLeft'
        }).show();
	}

    function info (text){
        text = '<div class="is-size-4">' + text + '</div>'
        new Noty({
            type: 'info',
            theme: 'metroui',
            text: text,
            layout: 'bottomLeft',
            timeout: 3000,
            progressBar: true
        }).show();
	}

    function success (text){
        text = '<div class="is-size-4">' + text + '</div>'
        new Noty({
            type: 'success',
            theme: 'metroui',
            text: text,
            layout: 'bottomLeft',
            timeout: 3000,
            progressBar: true
        }).show();
	}
</script>

@{
    if (successMsg != null) {
        <script> success("@successMsg"); </script>
    }

    if (infoMsg != null) {
        <script> info("@infoMsg"); </script>
    }

    if (warnMsg != null) {
        <script> warn("@warnMsg"); </script>
    }

    if (dangerMsg != null) {
        <script> danger("@dangerMsg"); </script>
    }
}