﻿    <footer class="footer">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <h3>
                            DataCircle
                        </h3>
                        <p>
                            DataCircle is Data Exchange Platform, where users are able to buy sell data to drive their marketing, case studies or their
                            metrics.
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="content">
                        <h3>
                            About
                        </h3>
                        <ul class="">
                            <li>
                                <a href="/">
                                    Marketplace
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li>
                                <a href="/blog" target="_blank">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="/about">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="/contact">
                                    Contact
                                </a>
                            </li>
                            <li>
                                <a href="/careers">
                                    Careers
                                </a>
                            </li>
                            <li>
                                <a href="/media">
                                    Media
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="content">
                        <h3>
                            Solutions
                        </h3>
                        <ul class="links-vertical">
                            <li>
                                <a href="/solutions/consumers">
                                    Consumers
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li>
                                <a href="/solutions/providers">
                                    Providers
                                </a>
                            </li>
                            <li>
                                <a href="/solutions/collaboration">
                                    Collaboration
                                </a>
                            </li>
                            <li>
                                <a href="/solutions/opensource">
                                    Open Source / NGO
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="content">
                        <h3>
                            Legal
                        </h3>
                        <ul class="links-vertical">
                            <li>
                                <a href="/privacy">
                                    Privacy Policy
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li>
                                <a href="/tos">
                                    Terms of Service
                                </a>
                            </li>
                            <li>
                                <a href="/imprint">
                                    Imprint
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="content">
                        <h3>
                            External
                        </h3>
                        <ul>
                            @await Component.InvokeAsync("ApiStatus")

                            <li>
                                <a target="_blank" class="" href="https://twitter.com/DataCircle_IO">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="https://www.facebook.com/datacircleio/">
                                    <i class="fa fa-facebook-square" aria-hidden="true"> </i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" class="" href="https://www.linkedin.com/company/11282793/">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"> </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            @if (ViewBag.DontDisplayCategoryFooter == null)
            {
                @await Component.InvokeAsync("CategoriesFooter")
            }
            <div class="columns">
                <div class="column">
                    <a href = "https://bulma.io" target="_blank">
                        <img src="https://bulma.io/images/made-with-bulma--dark.png" alt="Made with Bulma" width="128" height="24">
                    </a>
                </div>
                <div class="column">
                    Copyright ©
                    <script>
                        document.write(new Date().getFullYear())
                    </script> DataCircle All rights reserved.
                </div>
                <div class="column">
                    <div class="is-pulled-right	">
                        Made with
                        <span style="color:#9c27b0;">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </span> in Berlin
                    </div>

                </div>
            </div>
        </div>
    </footer>