﻿@if (@ViewBag.Market != null && @ViewBag.Market)
{
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <nav class="columns is-multiline">
                <div class="column is-12 has-text-centered">
                    <h2 class="title is-3">
                        Introducing DataCircle. 🤔
                    </h2>
                </div>
                <div class="column is-3">
                </div>
                <div class="column is-6" style="">
                    <div class="embed-container">
                        <iframe src='https://www.youtube.com/embed/1Dxr1NuwlCo' frameborder='0' allowfullscreen></iframe>
                    </div>
                </div>
                <div class="column is-3">
                </div>
                <div class="column is-12 has-text-centered">
                    <h2 class="title is-3">
                        Create and upload a Dataset your way!
                    </h2>
                    <br />
                </div>
                <div class="column has-text-centered">
                    <span class="icon is-large" style="margin-right: -15px;">
                        <i class="fa fa-3x fa-cloud-upload"></i>
                    </span>
                    <p class="title is-4" style="margin-top: 0.5em;">
                        <strong>Upload a file</strong>
                    </p>
                    <p class="subtitle">
                        Designed for
                        small datasets easily managed through excel
                    </p>
                </div>
                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-3x fa-database" style="color:#23d160;"></i>
                    </span>
                    <p class="title is-4" style="margin-top: 0.5em;">
                        <strong>Query your Database</strong>
                    </p>
                    <p class="subtitle">
                        Complex datasets hide behind complex queries
                    </p>
                </div>
                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-3x fa-link" style="color:#209cee;"></i>
                    </span>
                    <p class="title is-4" style="margin-top: 0.5em;">
                        <strong>Link it!</strong>
                    </p>
                    <p class="subtitle">
                        You found a dataset on an obscure but qualitative website?
                    </p>
                </div>
                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-3x fa-table" style="color:#00d1b2;"></i>
                    </span>
                    <p class="title is-4" style="margin-top: 0.5em;">
                        <strong>Airtable</strong>
                    </p>
                    <p class="subtitle">
                        Full control of the content by Embeding your Airtable!
                    </p>
                </div>
            </nav>
        </div>
    </div>
</section>
}