﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Language" content="en">
    <title> DataCircle - @ViewData["Title"]</title>
    <meta name="description" content="DataCircle is a one-stop Marketplace to consume, distribute, manage, and monitor both private and public DataAssets.">
    <meta name="keywords" content="data marketplace, data exchange, data sharing, data share, data, data communication, marketplace, exchange, sharing, share, communication,
          consume, distribute, manage, monitor, private, public, data assets, datasource, database, mysql">
    <meta name="robots" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Html.Partial("_PageCache")

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="datacircle_io" />
    <meta property="og:locale" content="en_US"/>
    <meta property="og:site_name" content="DataCircle"/>
    <meta property="og:image" content="https://datacircle.io/images/full/datacircle_full_100.png"/>    
    <meta property="og:type" content="website" />
    <meta property="og:description" content="@ViewData["Description"]"/>    
    <meta property="og:title" content="DataCircle - @ViewData["Title"]"/>

    <environment names="Production">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
        <link rel="stylesheet" href="~/css/site.min.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>

    <environment names="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css.map">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />  
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="layout-default Site">
    @Html.Partial("_ProgressBar")
    @Html.Partial("_FlashMessage")
    
    @Html.Partial("_TopPromo")
    @Html.Partial("Navigation")

    <div class="Site-content">
        @RenderBody()
    </div>

    @Html.Partial("_Newsletter")
    @Html.Partial("_HowTo")
    @Html.Partial("_QualitySets")

    @Html.Partial("_Mentions")
    @Html.Partial("_Partners")
    @Html.Partial("_SignUp")
    @Html.Partial("_Footer")        

    @Html.Partial("_Tracking")
    @Html.Partial("_CookieNotification")

    @RenderSection("Scripts", required: false)

    <environment names="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/nouislider.min.js" type="text/javascript"></script>
    </environment>

    <environment names="Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    
    <script>
        adjustNewsletterHeight();
    </script>
</body>

</html>