﻿<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <nav class="columns is-multiline">
                <div class="column is-12 has-text-centered">
                    <h3 class="title is-5">
                        Happy thoughts from our customers 😃
                    </h3>
                </div>                
                <a class="column is-12 has-text-centered" href="https://www.home.ht/">
                    <img src="~/images/partners/Home Logo White.png" alt="Home HT" style="min-width:180px; width: 15%;">

                    <p class="title is-4" style="margin-top: 0.5em;">
                        ❝DataCircle has helped us with our business through a data driven approach.❞
                    </p>
                </a>
            </nav>
        </div>
    </div>
</section>
