﻿<div class="modal fade" id="helpOpenToPublic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Open To Public Toggle - Help</h4>
            </div>
            <div class="modal-body">
                <p>
                    By setting a Metric to 'Open To Public', the Metric will be discoverable throughout the DataCircle Community.
                </p>
                <ul>
                    <li>
                        <span class="label label-info">Info</span>

                        Metric will become discoverable for everyone in DataCircle. (The Metric will be avaible to be used in others Requests.)
                    </li>
                    <li>
                        <span class="label label-info">Info</span>

                        Metric will <b>not</b> be editable by others.
                    </li>
                    <li>
                        <span class="label label-info">Info</span>

                        The Datasource assosiated to this Metric will <b>not</b> be in any way visible.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="helpAutoUpdateRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Auto Update Data on Metric Refresh - Help</h4>
            </div>
            <div class="modal-body">
                <p>
                    By setting a Request to 'Auto Update', the request interval will be linked to the metric interval.
                </p>
                <p>
                    When a Metric gets updates, the Request will be triggered to populate the target Datasource.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="helpClearTargetTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"> Clear target table on refresh - Help</h4>
            </div>
            <div class="modal-body">
                <p>
                    By setting a Request to 'Clear Target Table', the target table will be truncated everytime before being re-popullated.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="helpOpenMetrics" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Metric Search - Help</h4>
            </div>
            <div class="modal-body">
                <p>
                    The Metric search panel, gives you an easier navigation around all the available Metrics.
                    Use the Create Request button to quickly navigate to the request creation for that Metric.
                </p>
                <ul>
                    <li>
                        <span class="label label-info">Private Metrics</span> are the Metrics that are only usable within your organization.
                    </li>
                    <li>
                        <span class="label label-info">Public Metrics</span> are the Metrics that are open for Public use.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="helpPendingApproval" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Metric Pending Approval - Help</h4>
            </div>
            <div class="modal-body">
                <p>
                    Every metric that is created needs to be checked for potential issues with Data Protection and Data Privacy laws.
                </p>
                <p>
                    There is nothing to worry about. In the meantime we will pool the data for security checks.
                </p>
                <p>
                    If your Metric has been stuck at 'Pending Approval' for an unreasonable time, please feel free to contact us.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="helpProcessing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Metric Processing - Help</h4>
            </div>
            <div class="modal-body">
                <p>
                    The file is still being processed for upload. Depending on the size of the file you might have to wait longer.
                </p>
                <p>
                    If your Metric has been stuck at 'Processing' for an unreasonable time, please feel free to contact us.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="helpRequiresAuthorization" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Metric Requires Authorization - Help</h4>
            </div>
            <div class="modal-body">
                <p>
                    To Ensure the safety of your Data Assets, you can select pre-Authorization prior to the Buyout.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="helpInterval" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Metric Interval - Help</h4>
            </div>
            <div class="modal-body">
                <p>
                    We can auto-renew your Data Asset based on the interval specified.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="metricTransferModelFull" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                @Html.Partial("~/Views/Metric/MetricTransfer.cshtml")
        </div>
    </div>
</div>

<div class="modal fade" id="metricTransferModelDownloadOnly" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @Html.Partial("~/Views/Metric/MetricTransfer.cshtml")
        </div>
    </div>
</div>


