﻿<div id="newsletter" class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div id="mc_embed_signup" class="columns">
                <div class="column is-6 ">
                    <p class="title">Keep up-to-date &amp; Get the latest news! 🚀
                    </p>
                    <p class="subtitle is-hidden-mobile">
                        <span> Join our newsletter and get news in your inbox! </span>
                        <br />
                        <span>We hate spam too, so no worries!</span>
                    </p>
                </div>

                <div class="column">
                    <form class="contact-form" action="//datacircle.us16.list-manage.com/subscribe/post?u=a0083284d2078a8a3dcb4c1ea&amp;id=2bd1053357"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
                        novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="field has-addons">
                                <div class="control is-expanded has-icons-left has-icons-right">
                                    <input type="email" class="input is-medium" type="email" placeholder="Sign up to our newsletter" value="" name="EMAIL"
                                        id="mce-EMAIL" required />
                                    <span class="icon is-medium is-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                                <div class="control">
                                    <input type="submit" class="button is-info is-medium" name="subscribe" id="mc-embedded-subscribe" value="Submit 😃">
                                </div>
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_a0083284d2078a8a3dcb4c1ea_2bd1053357" tabindex="-1" value="">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>