<script type='text/javascript' src='~/lib/particleground/jquery.particleground.min.js' asp-append-version="true"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var pg = particleground(document.getElementById('particles'), {
            dotColor: '#ffffff',
            lineColor: '#ffffff',
            maxSpeedX: 0.1,
            lineWidth: 0.1,
            particleRadius: 1,
            density: 14000
        });
    }, false);
</script>