﻿<section class="hero is-purple">
    <div class="hero-body">
        <div class="container">            
            <div class="columns is-mobile is-multiline">
                <div class="column is-12 has-text-centered">
                    <h3 class="title is-5">👪 Partnered With</h3>
                </div>
                <div class="column is-12 has-text-centered">
                    <a href="https://www.statice.io/">
                        <img src="~/images/partners/statice.png" alt="Statice" style="width: 178px; height: 62px; object-fit: cover;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>