﻿<div class="" id="loadingBar">
</div>

<script src="~/lib/progressbar.js/dist/progressbar.min.js" asp-append-version="true"></script>

<style>
    #loadingBar {
        z-index: 9999999;
        position: fixed;
        top: -13.6px;
        left: 0;
        height: 4px;
        width: 100%;
    }
</style>

<script>
    var bar = new ProgressBar.Line(loadingBar, {
        strokeWidth: 4,
        easing: 'easeInOut',
        color: '#FFEA82',
        trailColor: 'transparent',
        trailWidth: 1,
        svgStyle: { width: '100%', height: '120%' }
    });

    function stepProgressBar(val)
    {
        bar.set(val);
    }
</script>