<div class="main-panel section">
    <div class="container">
        <div id="metrics-wrapper" class="columns is-centered is-multiline">
            <div class="column is-12 has-text-centered">
                <h3 class="title is-3">⭐ Popular Datasets ⭐</h3>
            </div>

            <div class="column is-4 is-size-5">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title is-centered">
                            Crypto Currencies Historic Data
                        </p>
                    </header>
                    <div class="card-content" style="">
                        <div class="content">
                            <div class="descriptionWrapper" style="height:200px !important; max-height:200px !important; overflow: hidden; border-width:0px 0px 0px !important;">
                                <p> Historic price data for over 1000 coins ranging from 2013 till 2017. Column definition: date
                                    open high low close volume market coin </p>
                            </div>
                        </div>
                    </div>


                    <footer class="card-footer is-paddingless">
                        <div class="card-footer-item columns is-multiline">
                            <div class="column is-half has-text-centered">
                                <span class="icon">
                                    <i class="fa fa-lg fa-star"></i>
                                </span>
                                5
                            </div>
                            <div class="column has-text-centered">
                                <span class="icon">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </span>
                                DataCircle
                            </div>
                            <div class="column is-12">
                                <a class="card-footer-item button is-success is-outlined is-large" target="_blank" href="/metric/crypto-currencies-historic-data/46a08568-6b5d-44e5-de87-08d50eef11da/">
                                    <span class="icon">
                                        <i class="fa fa-lg fa-shopping-cart"></i>
                                    </span>

                                    <span>Free</span>
                                </a>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
                        <div class="column is-4 is-size-5">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title is-centered">
                            11,076 hand images of 190 subjects
                        </p>
                    </header>
                    <div class="card-content" style="">
                        <div class="content">
                            <div class="descriptionWrapper" style="height:200px !important; max-height:200px !important; overflow: hidden; border-width:0px 0px 0px !important;">
                                <div class="form-group">
                                    <p class="card-text text-muted">
                                        Welcome to the 11k Hands dataset, a collection of 11,076 hand images (1600 x 1200 pixels) of 190 subjects, of varying ages
                                        between 18 - 75 years old. Each subject was asked to open and close his fingers of
                                        the right and left hands. Each hand was photographed from both dorsal and palmar
                                        sides with a uniform white background and placed approximately in the same distance
                                        from the camera. There is a record of metadata associated with each image which includes:
                                        (1) the subject ID, (2) gender, (3) age, (4) skin color, and (5) a set of information
                                        of the captured hand, i.e. right- or left-hand, hand side (dorsal or palmar), and
                                        logical indicators referring to whether the hand image contains accessories, nail
                                        polish, or irregularities. The proposed dataset has a large number of hand images
                                        with more detailed metadata. The dataset is FREE for reasonable academic fair use.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <footer class="card-footer is-paddingless">
                        <div class="card-footer-item columns is-multiline">
                            <div class="column is-half has-text-centered">
                                <span class="icon">
                                    <i class="fa fa-lg fa-star"></i>
                                </span>
                                5
                            </div>
                            <div class="column has-text-centered">
                                <span class="icon">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </span>
                                DataCircle
                            </div>
                            <div class="column is-12">
                                <a class="card-footer-item button is-success is-outlined is-large" target="_blank" href="/metric/11-076-hand-images-of-190-subjects/5d02f854-1884-45a6-f0dd-08d5319a75e2">
                                    <span class="icon">
                                        <i class="fa fa-lg fa-shopping-cart"></i>
                                    </span>

                                    <span>Free</span>
                                </a>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
            <div class="column is-4 is-size-5">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title is-centered">
                            Uber Seed Deck
                        </p>
                    </header>
                    <div class="card-content" style="">
                        <div class="content">
                            <div class="descriptionWrapper" style="height:200px !important; max-height:200px !important; overflow: hidden; border-width:0px 0px 0px !important;">
                                <p> Uber's seed Deck. Would you have invested? </p>
                            </div>
                        </div>
                    </div>


                    <footer class="card-footer is-paddingless">
                        <div class="card-footer-item columns is-multiline">
                            <div class="column is-half has-text-centered">
                                <span class="icon">
                                    <i class="fa fa-lg fa-star"></i>
                                </span>
                                5
                            </div>
                            <div class="column has-text-centered">
                                <span class="icon">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </span>
                                DataCircle
                            </div>
                            <div class="column is-12">
                                <a class="card-footer-item button is-success is-outlined is-large" target="_blank" href="/metric/uber-seed-deck/cae45057-5105-416a-6a62-08d4eb85c0ad/">
                                    <span class="icon">
                                        <i class="fa fa-lg fa-shopping-cart"></i>
                                    </span>

                                    <span>Free</span>
                                </a>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>