﻿@model double

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>


<div class="row">
    <div class="col-md-12" style="font-size: 60%;">
            <div id="input-rating"></div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#input-rating").rateYo({
            rating: @Model,
            halfStar: true
        });

        $("#input-rating").rateYo()
            .on("rateyo.set", function (e, data) {
                $("#input-rating").rateYo("option", "readOnly", true);

                var rating = data.rating;
                $(this).next().text(rating);

                var settings = {
                    "async": true,
                    "url": "/rating",
                    "method": "POST",
                    "data": {
                        metricId: getMetricIdFromURI(),
                        Value: rating
                    }
                }

                $.ajax(settings)
                    .done(function (response) {
                        success("Your rating has been submitted.");
                    })
                    .fail(function (response) {
                        warn("Error submitting rating.");
                    });
                
                $("#input-rating").rateYo("option", "readOnly", false);

            });
    });
</script>

@if (ViewBag.LoggedIn == null || ViewBag.LoggedIn != true)
{
    <script>
        $(document).ready(function () {
            $("#input-rating").rateYo("option", "readOnly", true);
        });
    </script>     
}