﻿<div class="input-group">
    <style>
        .form-group {
            margin-top:3px !important;
        }
    </style>
    <input id="txtSearch" autofocus type="text" class="form-control" placeholder="Find your Data Sets!" minlength="3">

    <div id="resultAlert" style="display:none; z-index:2; position:absolute; width:100%;">
        <div id="alertMessage" class="alert text-center" style="margin-bottom:0px;">
        </div>
    </div>

    <span class="input-group-btn text-center">
        <button id="btnSearchSubmit" onclick="goto(this)" class="btn btn-primary btn-xs">
            <i class="material-icons">search</i>
        </button>
    </span>
</div>

<script type="text/javascript">
    $("#txtSearch").on('keyup', function (e) {
        if (e.keyCode == 13) {
            $('#btnSearchSubmit').click();
        }
    });

    function goto(e) {
        window.location.replace(window.location.origin + "/?searchTerm=" + $("#txtSearch").val())
    }
</script>