<aside class="column aside hero true-fullheight is-light">
    <div>
        <div class="navbar-brand">
            <div class="column is-centered">
                <a href="/">
                    <img src="/images/full/datacircle_full_nav_15.png">
                </a>
                <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>

        <br />

        <aside class="menu">
            <ul class="menu-list">
                <li>
                    <div class="field has-addons">
                        <div class="control is-expanded" style="padding-left:10px;">
                            <input class="input" id="txtSearch" placeholder="Search using keyword and / or #hashtag.. " minlength="3" type="text">
                        </div>
                        <div class="control">
                            <button class="button" id="btnSearchSubmit" onclick="goto(this)">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </aside>

        <script type="text/javascript">
                    $("#txtSearch").on('keyup', function (e) {
                        if (e.keyCode == 13) {
                            $('#btnSearchSubmit').click();
                        }
                    });

                    function goto(e) {
                        window.location.replace(window.location.origin + "/?searchTerm=" + $("#txtSearch").val())
                    }
                </script>

        <br />

        <aside class="menu">
            <ul class="menu-list is-size-6 title">
                <li>
                    <a class="@(@ViewBag.Panel == "Dashboard" ? "is-active" : "")" href="/dashboard">
                        <span class="icon">
                            <i class="fa fa-th-large" aria-hidden="true"></i>
                        </span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="@(@ViewBag.Panel == "Profile" ? "is-active" : "")" href="/profile">
                        <span class="icon">
                            <i class="fa  fa-user" aria-hidden="true"></i>
                        </span>
                        <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a class="@(@ViewBag.Panel == "Datasource" ? "is-active" : "")" href="/datasource">
                        <span class="icon">
                            <i class="fa fa-database" aria-hidden="true"></i>
                        </span>
                        <span>Datasources</span>
                    </a>
                </li>
                <li>
                    <a class="@(@ViewBag.Panel == "Metric" ? "is-active" : "")" href="/metric">
                        <span class="icon">
                            <i class="fa fa-file-text" aria-hidden="true"></i>
                        </span>
                        <span>Data sets</span>
                    </a>
                </li>
                <li class="@(@ViewBag.Panel == "Request" ? "is-active" : "")">
                    <a href="/request">
                        <span class="icon">
                            <i class="fa fa-arrows-h" aria-hidden="true"></i>
                        </span>
                        <span>Requests</span>
                    </a>
                </li>
                <li>
                    <a href="/order"  class=" aaa  @(@ViewBag.Panel == "Order" ? "is-active" : "")">
                        <span class="icon">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </span>
                        <span>Orders</span>
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        <span class="icon">
                            <i class="fa fa-life-ring" aria-hidden="true"></i>
                        </span>
                        <span>Contact Support</span>
                    </a>
                </li>
            </ul>
        </aside>
    </div>
</aside>