﻿<section class="hero is-white">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-mobile is-multiline">
                <div class="column is-12 has-text-centered">
                    <p class="bd-more-loves-container">
                        <a class="button is-danger bd-rainbow is-large"
                            href="/register">
                            <span>Sign up for Free</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>