﻿<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
        <nav class="">
            <ul>
                @await Component.InvokeAsync("ApiStatus")
                <li>
                    <a href="/about">
                        About us
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        Contact us
                    </a>
                </li>
                <li>
                    <a href="/careers">
                        Careers
                    </a>
                </li>
                <li>
                    <a href="///datacircle.us16.list-manage.com/subscribe/post?u=a0083284d2078a8a3dcb4c1ea&amp;id=2bd1053357">
                        Newsletter
                    </a>
                </li>
            </ul>
        </nav>
            </div>
            <div class="col-md-4">
        <div class="copyright" style="color: white;">
            Copyright &copy; 2017 DataCircle. All rights reserved.
        </div>
            </div>
        </div>


    </div>
</footer>