<section id="News1" class="hero is-warning">
    <div id="PromoContent" class="container hidden">
        <div class="columns">
            <div class="column">
                <section class="section" style="padding-bottom:10px; padding-top:10px;">
                    <div class="container has-text-centered">
                        <div class="content is-size-5">
                            We have updated our Data Access Policy 👏 <strong>No registration/Email required for dataset links! </strong>
                            <a class="button is-text is-outlined is-black" target="_blank" href="https://medium.com/@@DataCircle_IO/our-dataset-access-policy-explained-d0066bf25054">Learn more here.</a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="column">
                <a id="PromoClose" class="button is-text is-medium">
                    <span class="icon">
                        <i class="fa fa-times"></i>
                    </span>

                </a>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        if (getCookie("News1") == undefined || getCookie("News1").length == 0) {
            $('#PromoContent').fadeIn();
        }        
    })

    $('#PromoClose').click(function () {
        setCookie("News1", "0", 1000);
        $('#PromoContent').remove();
        adjustNewsletterHeight();
    });
</script>