    <environment names="Development">
        <script>
            var woopra = {};
            woopra.track = function (action, obj)
            {
                console.log(action, obj);
            }
        </script>
    </environment>

    <environment names="Production">
        <script type="text/javascript">window.$crisp = []; window.CRISP_WEBSITE_ID = "ff15b733-6a29-4efb-99f5-29251c787f4f"; (function () { d = document; s = d.createElement("script"); s.src = "https://client.crisp.chat/l.js"; s.async = 1; d.getElementsByTagName("head")[0].appendChild(s); })();</script>

        <!-- Start of Ga Code -->
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-76790783-1', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- End of GA Code -->
        <!-- Start of Woopra Code -->
        <script>
            (function () {
                var t, i, e, n = window, o = document, a = arguments, s = "script", r = ["config", "track", "identify", "visit", "push", "call", "trackForm", "trackClick"], c = function () { var t, i = this; for (i._e = [], t = 0; r.length > t; t++)(function (t) { i[t] = function () { return i._e.push([t].concat(Array.prototype.slice.call(arguments, 0))), i } })(r[t]) }; for (n._w = n._w || {}, t = 0; a.length > t; t++)n._w[a[t]] = n[a[t]] = n[a[t]] || new c; i = o.createElement(s), i.async = 1, i.src = "//static.woopra.com/js/w.js", e = o.getElementsByTagName(s)[0], e.parentNode.insertBefore(i, e)
            })("woopra");

            woopra.config({
                domain: 'datacircle.io'
            });
            woopra.track();
        </script>
        <!-- End of Woopra Code -->

        <!-- Albacross -->
        <script type="text/javascript">
        (function(a,l,b,c,r,s){_nQc=c,r=a.createElement(l),s=a.getElementsByTagName(l)[0];r.async=1;r.src=l.src=("https:"==a.location.protocol?"https://":"http://")+b;s.parentNode.insertBefore(r,s);})(document,"script","serve.albacross.com/track.js","89508033");
        </script>

    </environment>