﻿<div class="modal" id="grabDatasetModal" tabindex="-1">
    <div class="modal-background"></div>
    <div class="modal-card">
        <div class="runnerGrab">

        </div>
        <div class="hidden">        
            <div class="processGrab">
                <div class="modal-card-header">                
                    <header class="modal-card-head">
                        <h3 id="metricTitle" class="modal-title modal-card-title"></h3>
                    </header>
                </div>
                <section class="modal-card-body">
                    <div class="colums has-text-centered">
                        <div class="column is-12">
                            <h3>
                                To use all the features of the platform (data uploadig, direct DB access)
                            </h3>
                            <br />
                            <a id="continueLogin" class="button is-success is-outlined">
                                Continue to Login
                            </a>
                        </div>
                        
                        <hr />
                        <p><b>Or</b></p>

                        <div class="column is-12">
                            <p>
                                Enter your email address and you will be redirected to the dataset.
                            </p>
                        </div>
                        <div class="column is-8 is-offset-2">
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    <input id="receiverEmail" class="input is-medium" type="text" placeholder="Email Address" required>
                                    <span class="has-text-danger field-validation-error hidden" data-valmsg-for="receiverEmail" data-valmsg-replace="true">The Email field is required.</span>                           
                                </div>
                                <div class="control">
                                    <button id="btnRequestDatasetLink" onclick="RequestDatasetLink()" type="button" class="button is-medium is-success is-outlined">Send</button>
                                </div>
                            </div>

                            <input id="metricId" type="hidden" />
                        </div>
                        <div class="column is-12">
                            <p><small>
                                By accessing the metric using a direct email you agree to be added to our newsletter.
                                </small>
                            </p>
                        </div>
                    </div>
                </section>
            </div>
            
            <div class="successGrab">
                <section class="modal-card-body">
                    <div class="columns is-multiline">
                        <div class="column is-12 is-size-1 has-text-centered">
                            <span class="icon has-text-success">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="column is-12 has-text-centered">
                            <h4 class="title is-4">
                                Click 
                                <a id="urlLink" target="_blank" href="">here</a>
                                to navigate to the dataset!
                            </h4>
                            <p class="subtitle">Remember to share 🙂</p>
                            <a href="https://twitter.com/intent/tweet" class="twitter-mention-button" data-size="large" data-text="Just found an awesome #dataset via @@DataCircle_IO" data-related="drakoumel" data-show-count="false">Tweet</a>
                            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script>
    $("#receiverEmail").on('keyup', function (e) {
        if (e.keyCode == 13) {
            $('#btnRequestDatasetLink').click();
        }
    });

    function GrabLinkPrompt(id, title, url) {
        $('#grabDatasetModal').find('#metricTitle').html(title);
        $('#grabDatasetModal').find('#continueLogin').attr('href', '/login?ReturnUrl=' + encodeURI(window.location.pathname));
        $('#grabDatasetModal').find('#metricId').val(id);
        $('.runnerGrab').html('')
        $('.runnerGrab').html($('.processGrab').clone());
        $('#grabDatasetModal').addClass('is-active');
        $('#urlLink').attr('href', url);

        return;
    };

    function RequestDatasetLink()
    {
        $('#btnRequestDatasetLink').prop("disabled", true);
        var id = $('#grabDatasetModal').find('#metricId').val();
        var email = $('#grabDatasetModal').find('#receiverEmail').val();

        if (email.length < 1)
        {
            $('#grabDatasetModal').find('.has-text-danger').removeClass('hidden');
            return;
        }        

        $('#grabDatasetModal').find('.has-text-danger').hide();

        var settings = {
            "async": true,
            "url": "/NonUserDownloadMetric/AddEmail",
            "method": "POST",
            "data": {
                Email: email,
                MetricId: id
            }
        }

        stepProgressBar(0.5);
        
        $.ajax(settings)
            .done(function (response) {
                $('.runnerGrab').html('')
                $('.runnerGrab').html($('.successGrab').clone())
                $('#grabDatasetModal').find('.successGrab').fadeIn(500);
                setTimeout(function () { $('#urlLink').click(); }, 2000);
                
                stepProgressBar(0);
                $('#btnRequestDatasetLink').prop("disabled", false);
            })
            .fail(function (response) {
                danger('Error submiting request.');
                stepProgressBar(0);
                $('#btnRequestDatasetLink').prop("disabled", false);
            });
    }
</script>