<div class="container">
    <nav class="navbar is-transparent">
        <div class="navbar-brand">
            <a class="" href="/">
                <img src="~/images/full/datacircle_full_nav_15.png">
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start is-size-6 has-text-weight-semibold	">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Customers
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="/solutions/consumers">
                            Buyers
                        </a>
                        <a class="navbar-item" href="/solutions/providers">
                            Sellers
                        </a>
                        <a class="navbar-item" href="/solutions/collaboration">
                            Collaboration
                        </a>
                        <a class="navbar-item" href="/solutions/opensource">
                            NGO / Academia
                        </a>
                    </div>
                </div>
                <a class="navbar-item" href="/business">
                    Business User?
                </a>
                <a class="navbar-item" href="/requests">
                    Data Requests
                </a>
                <a class="navbar-item" href="https://blog.datacircle.io/">
                    Blog
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        @if (@ViewBag.LoggedIn != null && @ViewBag.LoggedIn)
                        {
                            @await Component.InvokeAsync("User")
                        }
                        else
                        {                            
                            <p class="control">
                                <a class="button is-primary" id="login" href="/login">
                                    <span class="icon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <span>Login</span>
                                </a>
                            </p>
                            <p class="control">
                                <a class="button is-primary" id="register" href="/register">                                    
                                    <span>Register</span>
                                </a>
                            </p>
                            <script>
                                var path = window.location.pathname;
                                if (path.length > 1) {
                                    $('#login').attr('href', "/login?ReturnUrl=" + encodeURIComponent(window.location.pathname));
                                }
                            </script>
                        }
                        <p class="bd-more-loves-container">
                        <a class="button is-danger bd-rainbow"  data-social-network="Twitter" data-social-action="tweet" data-social-target="https://datacircle.io/"
                        target="_blank" href="https://twitter.com/intent/tweet?text=DataCircle: A data exchange network&amp;hashtags=datacircle&amp;url=https://datacircle.io&amp;via=datacircle_io">                                
                            <span>Show some <strong>love</strong> 🤗</span>
                        </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            // Get all "navbar-burger" elements
            var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(function ($el) {
                    $el.addEventListener('click', function () {

                        // Get the target from the "data-target" attribute
                        var target = $el.dataset.target;
                        var $target = document.getElementById(target);

                        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                        $el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>
</div>