﻿<div class="modal" id="orderModal" tabindex="-1">
    <div class="modal-background"></div>
    <div class="modal-card">
        <div class="runner">

        </div>
        <div class="hidden">
            <div class="process">
                <div class="modal-card-header">
                    <header class="modal-card-head">
                        <h3 id="metricTitle" class="modal-title modal-card-title"></h3>
                    </header>
                </div>
                <section class="modal-card-body">
                    <div class="colums has-text-centered">
                        <div class="column">
                                    <input id="metricId" type="hidden" />
                                    <input id="fullName" type="text" class="input is-medium" placeholder="Full Name (either personal or company name)">
                                    <span class="has-text-danger field-validation-error hidden" data-valmsg-for="FullName" data-valmsg-replace="true">The Name field is required.</span>
                                
                        </div>
                        <div class="column">
                                    <input id="metricId" type="hidden" />
                                    <input id="address" type="text" class="input is-medium" placeholder="Address (either personal or the company's" )>
                                    <span class="has-text-danger field-validation-error hidden" data-valmsg-for="Address" data-valmsg-replace="true">The Address field is required.</span>
                            
                        </div>
                        <div class="column">
                                <input id="btnOrder" onclick="Order()" type="button" class="button is-medium is-success is-outlined" value="Buy">
                        </div>
                        <hr />
                        <label>
                            <small>
                                Upon completion of the invoice you will receive access to the data set.
                            </small>
                        </label>
                    </div>
                </section>
            </div>

            <div class="success">
                <section class="modal-card-body">
                    <div class="columns is-multiline">
                        <div class="column is-12 is-size-1 has-text-centered">
                            <span class="icon has-text-success">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="column is-12 has-text-centered">
                            <h3>You will receive an invoice shortly, in the meantime feel free to share!</h3>
                            <a href="https://twitter.com/intent/tweet" class="twitter-mention-button" data-size="large" data-text="Just found an awesome #dataset via @@DataCircle_IO"
                                data-related="drakoumel" data-show-count="false">Tweet</a>
                            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

                            <hr />
                            <label>
                                <small>
                                    If you encounter issues with your invoice please contact us via Chat! </small>
                            </label>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script>
    function OrderPrompt(id, title) {
        $('#orderModal').find('#metricTitle').html(title);
        $('#orderModal').find('#metricId').val(id);
        $('.runner').html('')
        $('.runner').html($('.process').clone());
        $('#orderModal').addClass('is-active');
        return;
    };

    function Order() {
        $('#orderModal').find('.text-danger').addClass('hidden');
        $('#btnOrder').prop("disabled", true);
        var id = $('#orderModal').find('#metricId').val();
        var fullName = $('#orderModal').find('#fullName').val();
        var address = $('#orderModal').find('#address').val();

        var exitEarly = false;
        if (fullName.length < 1) {
            $('#orderModal').find('span[data-valmsg-for="FullName"]').removeClass('hidden');
            exitEarly = true;
        }
        if (address.length < 1) {
            $('#orderModal').find('span[data-valmsg-for="Address"]').removeClass('hidden');
            exitEarly = true;
        }

        if (exitEarly) {
            $('#btnOrder').prop("disabled", false);
            return;
        }

        var settings = {
            "async": true,
            "url": "/order",
            "method": "POST",
            "data": {
                FullName: fullName,
                Address: address,
                MetricId: id
            }
        }

        stepProgressBar(0.5);

        $.ajax(settings)
            .done(function (response) {
                $('.runner').html('')
                $('.runner').html($('.success').clone())
                $('#openIdModal').find('.success').fadeIn(500);
                stepProgressBar(0);
                $('#btnOrder').prop("disabled", false);
            })
            .fail(function (response) {
                danger('Error submiting request.');
                stepProgressBar(0);
                $('#btnOrder').prop("disabled", false);
            });
    }
</script>