﻿@using DataMarketFE.ViewModels;
@model MarketplaceMetricViewModel

<div class="modal fade" id="@($"metricOverviewModal{Model.ID}")" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">@Model.Title</h5>
            </div>
            <div class="modal-body">
                <textarea id="txtAreaDescription" asp-for="Description" type="text" class="form-control"> @Model.Description </textarea>
                @Html.Partial("~/Views/Metric/Partials/TinyMCEReadOnly.cshtml")

                <br />

                <div class="row">
                    <button id="btnDataStrc" onclick="$('#metricOverviewModal@(Model.ID)').find('#structure').toggle(); $('#secondBtn').toggle();"
                            type="button" class="btn btn-primary pull-left" data-toggle="collapse" data-target="#structure">
                        Data Structure
                    </button>

                    <a href="/metric/@Model.ID" type="button" class="btn btn-primary pull-right">Go to Metric</a>
                </div>

                <div class="row">
                    @Html.Partial("~/Views/Metric/Partials/Structure.cshtml", Model.Structure)
                </div>
            </div>
            <div class="modal-footer">
                <a href="/metric/@Model.ID" id="secondBtn" style="display:none;" type="button" class="btn btn-primary pull-right">Go to Metric</a>
            </div>
        </div>
    </div>
</div>