﻿@using DataMarketFE.ViewModels;
@using DataMarketFE.Utilities;

@model IEnumerable<MarketplaceMetricViewModel>

@foreach (MarketplaceMetricViewModel metric in Model)
{
    <div class="column is-4 is-size-5">
        <div class="card">
        <header class="card-header">
            <p class="card-header-title is-centered">
            @metric.Title   
            </p>
        </header>
        <div class="card-content" style="">
            <div class="content">  
                <div class="descriptionWrapper" style="height:200px !important; max-height:200px !important; overflow: hidden; border-width:0px 0px 0px !important;">
                    @if (metric.Description != null && metric.Description.Length > 0)
                    {
                        <p> @metric.DescriptionPlainText </p>
                    }
                    else
                    {
                        <div class="form-group">
                            <p class="card-text text-muted">
                                No Description.
                            </p>
                        </div>
                    }
                </div>    
            </div>
        </div>


        <footer class="card-footer is-paddingless">
            <div class="card-footer-item columns is-multiline">
                    <div class="column is-half has-text-centered">
                        <span class="icon">
                            <i class="fa fa-lg fa-star"></i> 
                        </span>
                        @metric.Rating
                    </div>
                    <div class="column has-text-centered">
                        @if (metric.Company != null)
                        {
                            <span class="icon">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </span>
                        }
                        else
                        {
                            <span class="icon">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                            </span>
                        }
                        @metric.GetFullName()
                    </div>
                    <div class="column is-12">
                        @if (metric.Cost == 0)
                        {
                            <a class="card-footer-item button is-success is-outlined is-large"
                            target="_blank" href="/metric/@FriendlyUrlHelper.GetFriendlyTitle(metric.Title)/@metric.ID/">
                                
                                <span class="icon">
                                    <i class="fa fa-lg fa-shopping-cart"></i>
                                </span>
                                
                                <span>Free</span>
                            </a>
                        }
                        else
                        {
                            <a class="card-footer-item button is-success is-outlined is-large" 
                            href="/metric/@FriendlyUrlHelper.GetFriendlyTitle(metric.Title)/@metric.ID/" target="_blank">
                            
                                <span> @metric.Cost </span>

                                <span class="icon">
                                    <i class="fa fa-lg fa-eur"></i>
                                </span>
                            </a>              
                        }
                    </div>
            </div> 
        </footer>
        </div>
    </div>


    <div class="col-md-4 col-sm-6 col-xs-10 col-lg-4 col-centered" style="margin-bottom:15px; margin-top:15px; display:none;">
            <div class="card text-center">
                <div class="card-header" style="word-break: break-word;">
                    <h4 class="card-title" style="height:35px; display:block;">@metric.Title</h4>
                </div>
                <div class="card-block" style="max-height:212px; height:212px; text-overflow: ellipsis;">
                    <div class="descriptionWrapper" style="overflow: hidden; border-width:0px 0px 0px !important;">
                        @if (metric.Description != null && metric.Description.Length > 0)
                        {
                                <textarea id="txtAreaDescription" type="text" class="form-control"> @metric.Description </textarea>
                        }
                        else
                        {
                            <div class="form-group">
                                <p class="card-text text-muted">
                                    No Description.
                                </p>
                            </div>
                        }
                    </div>
                </div>
                <div class="card-footer" style="padding:0px !important;">
                    <div class="row" style="margin-right: 0px !important; margin-left: 0px !important;">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input name="input-rating" value="@metric.Rating" class="input-rating" data-size="xs">                            
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            @if (metric.Company != null)
                            {
                                <i class="material-icons">people_outline</i>
                                <label style="position:relative; bottom:5px;">                                    
                                    @metric.GetFullName()
                                </label>
                            }
                            else
                            {
                                <i class="material-icons">perm_identity</i>
                                <label style="position:relative; bottom:5px;">
                                    @metric.GetFullName()
                                </label>
                            }
                        </div>
                    </div>
                        @if (metric.Cost == 0)
                        {
                                <a href="/metric/@FriendlyUrlHelper.GetFriendlyTitle(metric.Title)/@metric.ID/" target="_blank"
                                   class="btn btn-primary btn-lg" style="width: 100% !important; bottom:-1px !important;">
                                    Free <i style="color: white;" class="material-icons">money_off</i>
                                </a>
                        }
                        else
                        {
                                <a href="/metric/@FriendlyUrlHelper.GetFriendlyTitle(metric.Title)/@metric.ID/" target="_blank"
                                   class="btn btn-primary btn-lg" style="width: 100% !important; bottom:-1px !important;">
                                    @metric.Cost <i style="color: white;" class="material-icons">euro_symbol</i>
                                </a>              
                        }
                </div>
            </div>
    </div>
}        



        @if (Model.Count() == 0)
        {
            <script>
                $('#alertMessage').html('<p class="title is-4">0 Data sets found.</p>')
                $('#resultAlert').fadeIn(200);
            </script>
        }
        else
        {
            <script>
                $('#alertMessage').html("")
                $('#resultAlert').fadeIn(200);
            </script>
        }